<mat-card id='edit_content'>
  <mat-card-header>
    <span class="spacer">
      <app-stepper-navigation></app-stepper-navigation>
    </span>
    <span>
      <button id="exit_user_button" mat-stroked-button color="primary"
        [routerLink]="['/content-management']">Exit</button>
    </span>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="contentForm" autocomplete="off">
      <div class="info-text">
        <p class="mt0"> 
            When you select a Main Category and a Sub Category, these automatically become keywords and then you can add a maximum of 3 more keywords. 
            Please be mindful when selecting keywords as this is how a Service User searches for content.
        </p>
      </div>
      <div class="label-hr">
        <span>Category</span>
      </div>
      <div class="card-row">
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Main Category</mat-label>
            <mat-select placeholder="Select category" formControlName="mainCategoryId" required
              (selectionChange)="onMainCatChange($event.value)">
              <mat-option *ngFor="let category of mainCatList" [value]="category.id">{{category.categoryName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="contentForm.controls.mainCategoryId.invalid">Select at least one option</mat-error>
          </mat-form-field>
        </div>
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Sub Category</mat-label>
            <mat-select placeholder="Select sub category" formControlName="subCategoryId" required>
              <mat-option *ngFor="let subCat of subCatList" [value]="subCat.id">
                {{subCat.categoryTitle}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="contentForm.controls.subCategoryId.invalid">
              Select at least one option
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="label-hr">
        <span>Keywords</span>
      </div>
      <div class="card-row mb20">
        <p *ngIf="contentForm.get('keywordName').value.length === 0">Your selected keywords will be displayed here</p>
        <div class="keyword-container">
          <mat-chip-list #chipList formArrayName="keywordName">
            <mat-chip *ngFor="let word of contentForm.get('keywordName')['controls']; let i=index;" color="primary"
              class="input_chip" [selectable]="false" [removable]="word.value.removable"
              (removed)="remove(i, word.value)" [formGroupName]="i" selected>
              <span matLine>{{word.value.keywordName}}</span>
              <mat-icon matChipRemove *ngIf="word.value.removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <mat-error *ngIf="contentForm.get('keywordName').touched && contentForm.get('keywordName').hasError('maxLengthArray')">
            Maximum keywords allowed is 3
          </mat-error>
          <mat-error *ngIf="contentForm.get('keywordName').touched && contentForm.get('keywordName').hasError('required')">
            You must select at least 1 keyword
          </mat-error>
        </div>
      </div>
      <mat-card-header>
        <span>
          <mat-form-field class="search_by">
            <mat-label>Search</mat-label>
            <input matInput #keywordFilter id="keywordFilter" [formControl]="keywordFilterCtrl">
            <button id="do_search_button" mat-button matSuffix mat-icon-button aria-label="Clear"
              (click)="onFilter(keywordFilter.value)">
              <mat-icon>search</mat-icon>
            </button>
            <button id="clear_search_button" *ngIf="keywordFilter.value !==''" mat-button matSuffix mat-icon-button aria-label="Clear"
            (click)="onFilter(''); keywordFilter.value=''">
            <mat-icon>close</mat-icon>
          </button>
          </mat-form-field>
        </span>
      </mat-card-header>
      <div class="card-row">
        <div class="keyword-container keywordScroll">
          <mat-chip-list class="keyword-list">
            <ng-container *ngFor="let option of keywordOptions">
              <mat-chip color="accent" class="input_chip" (keyup)="onKeyPress($event.keyCode, option)"
                title="{{option.keywords}}" value="{{option.keywords}}" (click)="select(option)"
                *ngIf="!option.invisible">
                <span matLine>{{option.keywordName}}</span>
              </mat-chip>
            </ng-container>
          </mat-chip-list>
          <p class="text-center" *ngIf="keywordOptions && keywordOptions?.length === 0">No results found.</p>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <span class="spacer"></span>
    <span>
      <button type="submit" id="save_user_button" mat-flat-button color="primary" [disabled]="!contentForm.valid"
        (click)="saveAndNext()">Save &
        Next</button>
    </span>
  </mat-card-footer>
</mat-card>
