<mat-card id="view_role">

  <mat-card-header>
    <span> {{role.roleName}} </span>
    <span class="spacer"></span>
    <span>
      <button id="edit_view_button" mat-stroked-button color="primary" (click)="onEditClicked()">Edit</button>
    </span>
    <span>
      <button id="exit_view_button" mat-stroked-button color="primary" [routerLink]="['/administration/role']">Exit</button>
    </span>
  </mat-card-header>

  <mat-card-content class="view_role_container">
    <div class="card-row">
      <div class="card-column">
        <div class="label-hr"> <span> Role Details </span> </div>
        <p><span class="details_label">Role Name</span>{{role.roleName}}</p>
        <p><span class="details_label">Tenant</span> {{role.tenantName}}</p>
      </div>
    </div>
    <div class="card-row">
        <div>
          <span class="details_label">Features</span> 
          <span class="chip" *ngFor = "let a of role.featureNames">{{a}}</span>
        </div>
      </div>
  </mat-card-content>
</mat-card>
