@import "~src/styles/helpers/mixins/grid";
@import "~src/styles/helpers/variables/palette";
@import "~src/styles/helpers/mixins/typography";
.header{
  .tabWrapper {
      margin-top: 10px;
      position: relative;
  
  ul {
      margin: 0;
      padding: 0;
      list-style: none;
      height: 46px;
      border-bottom: 1px solid $grey-2;
      @include media(mobile) {
          height: 100%;
          border: 1px solid $grey-2;
          overflow: auto; 
      }
      li {
      position: relative;
      margin: 0 5px 0 0;
      padding: 14px 19px 11px 19px;
      margin-top: -5px;
      margin-bottom: -1px;
      float: left;
      background-color: none;
      text-align: center;
      cursor: pointer;
      @include media(mobile) {
          cursor: pointer;
          display: inline-block;
          width: 100%;
      }
      a {
          margin-right: 3px;
          float: left;
          color: #666;
          text-align: center;
          text-decoration: none;
      }
      }
      li.active {
      margin-bottom: -1px;
      padding: 14px 19px 11px 19px;
      border-bottom: 3px solid #fd6f1a;
      background-color: none;
      @include media(mobile) {
          border: 0;
          background-color: transparent;
      }
      &:focus{
        border: none;
        border-bottom: 3px solid #fd6f1a;
      }
      }
  }
  .month-year-tab{
      position: absolute;
      right: 0px;
      top: 0px;
  }
  }
  }
  