<div class="header">
    <div class="tabWrapper">
        <!-- <ul>
            <li *auth="[20, 2]" class="tabHead" [routerLink]="['/service-user/meet']" routerLinkActive="active"  [queryParamsHandling]="'merge'" [routerLinkActiveOptions]="{exact: true}">
                <a class="tab-item" id="upcomig-tab" attr.aria-label="tab Upcomig" >
                    Call User
                </a>
            </li>
            
        </ul> -->
    </div>
</div>

<router-outlet></router-outlet>
