<mat-card id='view_job'>
  <mat-card-header>
    <span> {{jobData.jobTitle}} </span>
    <span class="spacer"></span>
    <span>
      <button id="exit_button" mat-stroked-button color="primary" (click)="onExitClicked()">Exit</button>
    </span>
  </mat-card-header>

  <mat-card-content class="view_user-plan_container">
    <div class="card-row mb20">
      <div class="card-column">
        <div class="card-row" *ngIf="jobData?.jobTitle">
          <p class="info">
            <span class="details_label">Job Title</span>
            <span id="titleId">{{jobData.jobTitle}}</span>
          </p>
        </div>
        <div class="card-row" *ngIf="jobData?.company">
          <p class="info">
            <span class="details_label">Company</span>
            <span id="company">{{jobData.company}}</span>
          </p>
        </div>
        <div class="card-row" *ngIf="jobData?.pay">
          <p class="info">
            <span class="details_label">Pay</span>
            <span id="titleId">{{jobData.pay}}</span>
          </p>
        </div>
        <div class="card-row">
          <p class="info">
            <span class="details_label">Featured</span>
            <span id="featured">{{!jobData.isFeatured?'No': 'Yes'}}</span>
          </p>
        </div>
      </div>
      <div class="card-column">
        <div class="card-row" *ngIf="jobData?.location">
          <p class="info">
            <span class="details_label">Location</span>
            <span id="location">{{jobData.location}}</span>
          </p>
        </div>
        <div class="card-row" *ngIf="jobData?.postingDate">
          <p class="info">
            <span class="details_label">Posting Date</span>
            <span id="posting_date">{{jobData.postingDate |date:'dd MMM yyyy'}}</span>
          </p>
        </div>
        <div class="card-row" *ngIf="jobData?.closingDate">
          <p class="info">
            <span class="details_label">Closing Date</span>
            <span id="closing_date">{{jobData.closingDate |date:'dd MMM yyyy'}}</span>
          </p>
        </div>
        
      </div>
    </div>
    <div class="card-row">
      <div class="card-column-100">
        <div class="label-hr">
          <span id="coursesId">
            <a>Job Description</a>
          </span>
        </div>
        <p class="info"> <span>{{jobData.jobDescription}}</span></p>

      </div>
    </div>
    <div class="card-row" >
      <div class="card-column-100">
        <div class="label-hr" *ngIf="jobData?.reasonDescription">
          <span id="coursesId"  >
            <a>Reason For Declining</a>
          </span>
        </div>
        <p class="info"> <span>{{jobData?.reasonDescription}}</span></p>

      </div>
    </div>
  </mat-card-content>
</mat-card>
<app-expressions-of-interest *ngIf="!SU" [jobStatus]=jobData.status></app-expressions-of-interest>