#content-image-info-edit .card-row.imageBlock {
  justify-content: flex-start !important;
  width: 100%;
}
.image-list {
  display: flex;
  flex-wrap: wrap;
  width: calc(25% - 12px);
  margin: 5px;

  .mat-card {
      cursor: pointer;
      height: inherit;
      padding: 15px;
      width: -webkit-fill-available;
      border: 1px solid transparent;

      &:hover {
          //background: rgba($color: #f5f5f5, $alpha: 1);
          background-color: rgba(0,0,0,0.1);
      }
      p{
        margin-bottom: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  }
  .mat-card.active {
      background-color: rgba(255,131,0,1);
      border: 1px solid rgba(255,131,0,1);
  }

  img {
      width: 100%;
      min-height: 133px;
      max-height: 133px;
      word-break: break-word;
  }

  @media (max-width: 1024px) {
      width: calc(33.33% - 12px);
  }

  @media (max-width: 598px) {
      width: calc(100% - 12px);
  }
}
