<mat-card id='local-jobs'>

  <mat-card-header>
    <span> Local Jobs </span>
    <span class="spacer"></span>
    <span>
      <button id="edit_view_button" mat-stroked-button color="primary" (click)="onExitClicked()">Exit</button>
    </span>
  </mat-card-header>

  <mat-card-content class="local-jobs_container">
    <mat-table id="local_job_table" #table [dataSource]="dataSource" matSort matSortActive="dateExpressed"
      matSortDirection="asc" class="isMobile">

      <ng-container matColumnDef="dateExpressed">
        <mat-header-cell *matHeaderCellDef mat-sort-header id="posting_date_column" class="local-jobs width-20">
          Date Expressed Interest
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="local-jobs-postingDate width-20"> <span
            class="mobile-label">Expressed
            Interest Date:
          </span>{{element?.dateExpressed | date:'dd MMM yyyy'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobAdvertNFN.jobTitle">
        <mat-header-cell class="width-20" *matHeaderCellDef mat-sort-header id="job_title_column"> Job Title
        </mat-header-cell>
        <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Job Title:
          </span>{{element?.jobTitle}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobAdvertNFN.location.description">
        <mat-header-cell class="width-20" *matHeaderCellDef mat-sort-header id="location_column">Location
        </mat-header-cell>
        <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Location:
          </span>{{element?.location}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobStatus">
        <mat-header-cell class="width-20" *matHeaderCellDef id="job_status_column">Job Status
        </mat-header-cell>
        <mat-cell class="width-20" *matCellDef="let element">
          <span class="status">Active</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell class="width-20" *matHeaderCellDef id="job_status_column">Status
        </mat-header-cell>
        <mat-cell class="width-20" *matCellDef="let element">
          <span class="status">{{element?.status}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">

        <mat-header-cell class="actions-column" *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell class="actions-column" *matCellDef="let element"> <span class="mobile-label"></span>

          <button *auth="[19,2]" id="view_local_job_button_{{element.id}}" mat-icon-button color="primary" title="View"
            (click)="viewLocalJob(element?.id)">
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator id="pagination" #paginator [pageSize]="pageSize" (page)='onPaginateChange($event)'
      [showFirstLastButtons]='true' [hidePageSize]='true'>
    </mat-paginator>

  </mat-card-content>
</mat-card>