.status {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    background-color:#fd6f1a;
    font-size: 12px;
    color: white;
    border-radius: 4px;
}