
<mat-card id='report_extracts'>
  <div class="info-text">
    <p class="mt0">Please select the type and click the 'Extract' button to download your latest data. 
    </p>
  </div>
  <mat-card-content>
    <form [formGroup]="reportsExtractsForm" (ngSubmit)="onSubmit(reportsExtractsForm)" validate autocomplete="off">
      <div class="label-hr">
        <span>Extracts *</span>
      </div>
      <div class="card-row">
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Extract Type</mat-label>
            <mat-select placeholder="Extract Type" formControlName="extractType" required>
              <mat-option *ngFor="let option of staticExtractTypes" [value]="option.reportName"
                id="reportName-{{option.reportName}}">
                {{option.reportDescription}}</mat-option>
            </mat-select>
            <mat-error *ngIf="reportsExtractsForm.get('extractType').invalid"> Mandatory field </mat-error>
          </mat-form-field>

        </div>

      </div>

      <mat-card-footer>
        <span class="spacer"></span>
        <span>
          <button type="submit" id="extract_CSV_button" mat-flat-button color="primary"
            [disabled]="!reportsExtractsForm.valid">Extract</button>
        </span>
      </mat-card-footer>

    </form>

  </mat-card-content>
</mat-card>