<div class="white">
  <h2 id="recover-password-heading">Recover Password</h2>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()" id="forgot-password-form">
    <h3 id="please-fill-in-your-username-heading">Please fill in your username</h3>
    <mat-form-field id="username-form-field">
      <mat-label class="white" id="username-label">Username</mat-label>
      <input matInput maxlength="30" name="userName" formControlName="userName" id="username-input" autocomplete="off" required>
      <mat-error *ngIf="forgotPasswordForm.get('userName').getError('required')" class="form-error-msg" id="required-error-message">Username is required</mat-error>
    </mat-form-field>
    <button type="submit" mat-stroked-button [disabled]="forgotPasswordForm.invalid" id="submit-recover-password-form-button">Submit</button>
  </form>
  <a [routerLink]="'/sessions/signin'" id="sign-in-link">Sign in</a>
</div>