<div class="current-container">
  <div class="gantt-container">
    <div class="upper-container">
      <div class="above-pathway-container"></div>
      <div class="months-container">
        <div class="previous-month">
          <span>{{previousMonthLabel}}</span>
        </div>
        <div class="current-month">
          <span>{{currentMonthLabel}}</span>
        </div>
        <div class="next-month">
          <span>{{nextMonthLabel}}</span>
        </div>
      </div>
    </div>
    <section 
      class="pathway-container"
      [style.height.px]="calculatePathwayContainerHeight(pathway.timelineEntriesData)"
      *ngFor="let pathway of pathwayList; index as i;"
    >
      <div class="pathway-label-container pathway-label-{{pathway.cssLabel}}" #pathwayLabelDiv>
        <h3 class="pathway-label">{{pathway.name | uppercase}}</h3>
      </div>
      <div class="pathway-timeline pathway-timeline-{{pathway.cssLabel}}">
        <div 
          class="timeline-decorator-container"
          [style.height.px]="calculatePathwayContainerHeight(pathway.timelineEntriesData)"
        >
          <div class="gantt-previous-month"></div>
          <div class="gantt-current-month" #monthDiv>
            <span class="gantt-today-span" [style.left.px]="leftPixelsTodayLine"></span>
          </div>
          <div class="gantt-next-month"></div>
        </div>
        <div 
          class="timeline-entry-container"
          [style.height.px]="calculatePathwayContainerHeight(pathway.timelineEntriesData)"
        >
          <div class="entry-row-container" *ngFor="let categoryRow of pathway.timelineEntriesData">
            <div class="entry-container" *ngFor="let entryData of categoryRow; index as i">
              <div class="entry-details-container">
                <div 
                  class="entry-bar entry-bar-{{pathway.cssLabel}}"
                  [style.width.px]="calcEntryBarWidth(entryData.unixStartDate, entryData.unixEndDate, entryData.startDate, entryData.endDate)"
                  [style.left.px]="calcEntryBarLeft(entryData.unixStartDate, entryData.startDate, entryData.endDate)"
                  (click)="selectEntry(entryData)"
                  [ngClass]="{'entry-bar-selected': entryData === infoPanelEntry}">
                </div>
                <div 
                  class="entry-label"
                  [style.width.px]="calEntryLabelWidth(entryData.unixStartDate, entryData.startDate, categoryRow[i+1]?.unixStartDate, categoryRow[i+1]?.startDate)"
                  [style.left.px]="calcEntryLabelLeft(entryData.unixStartDate, entryData.startDate, entryData.endDate)"
                  (click)="selectEntry(entryData)"
                >
                  <span 
                    class="entry-label-content"
                    (click)="selectEntry(entryData)"
                    [ngClass]="{'entry-label-selected': entryData === infoPanelEntry}"
                  >
                    {{entryData.name}}
                  </span>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </section>
    <div class="today-label-container">
      <span class="today-label" [style.left.px]="pathwayLabelDivLeftPosition + monthDivWidth + leftPixelsTodayLine + 120">Today</span>
    </div>
  
    <div *ngIf="infoPanelEntry">
      <div class="key-information-panel key-information-panel-{{infoPanelEntry.cssLabel}}">
        <div class="key-info-panel-upper-container">
          <div class="three-quarters-section">
            <h2>{{infoPanelEntry.name}}</h2>
          </div>
          <div class="quarter-section" *ngIf="infoPanelEntry.status">
            <div class="govuk-tag">{{infoPanelEntry.status | uppercase}}</div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="date-container">
          <span>Start date: {{infoPanelEntry.startDate | date : 'd MMMM yyyy'}}</span>
          <ng-container [ngSwitch]="infoPanelEntry.status">
            <span *ngSwitchCase="'Completed'">Completed date: {{infoPanelEntry.endDate | date : 'd MMMM yyyy'}}</span>
            <span *ngSwitchCase="'Withdrawn'">Withdrawal date: {{infoPanelEntry.endDate | date : 'd MMMM yyyy'}}</span>
            <span *ngSwitchDefault>Planned end date: {{infoPanelEntry.endDate | date : 'd MMMM yyyy'}}</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
