<mat-card>
    <div>
        <h2 class="govuk-heading-l mt0">Assessment</h2>
        <p class="govuk-body mt0">Use this assessment to:</p>
    
        <ul class="govuk-dash-list-item">
            <li>create a Plan for your Service User</li>
            <li>update a Plan for your Service User</li>
        </ul>
    
        <p class="govuk-body mt0">This will take around 30 minutes.</p>
    
        <button id="id-start-now-button" class="gds-button button-start mt0" type="submit" name="start now"
            queryParamsHandling="preserve" (click)="questionDisplay()">Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </button>
    </div>
    
    
</mat-card>