.govuk-heading-l {
    font-size: 36px;
    margin-bottom: 30px;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.gds-button {
    font-weight: 400;
    font-size: 19px;
    line-height: 1.1875;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: auto;
    margin: 0 0 22px 0;
    padding: 8px 10px 7px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #fff;
    background-color: #00703c;
    -webkit-box-shadow: 0 2px 0 #002d18;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
    font-family: 'helvetica';
    &:hover {
        background-color: #005a30;
    }
    &:active {
        top: 2px;
    }
    &:focus {
        border-color: #fd0;
        outline: 3px solid transparent;
        -webkit-box-shadow: inset 0 0 0 1px #fd0;
        box-shadow: inset 0 0 0 1px #fd0;
    }
    &:focus:not(:active):not(:hover) {
        border-color: #fd0;
        color: #0b0c0c;
        background-color: #fd0;
        -webkit-box-shadow: 0 2px 0 #0b0c0c;
        box-shadow: 0 2px 0 #0b0c0c;
    }
    &.button-start {
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        text-decoration: none;
        margin-bottom: 32px;
        @media all and (max-width: 767px) {
            font-size: 19px;
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: -2px;
            right: -2px;
            bottom: -4px;
            left: -2px;
            background: transparent;
        }
    }
    &.button-secondary {
        background-color: #f3f2f1;
        color: #0b0c0c;
        &:hover {
            background-color: #dbdad9;
        }
    }
    &.button-primary {
        margin-right: 15px;
    }
    &.button-warning {
        background-color: #d4351c;
        margin-right: 15px;
        &:hover {
            background-color: #aa2a16;
        }
    }
    @media all and (max-width: 767px) {
        font-size: 16px;
    }
}

// ul li start
ul.govuk-dash-list-item {
    list-style: none;
    padding-left: 20px;
    li {
        font-size: 19px;
        margin-bottom: 15px;
        font-family: 'helvetica';
        &:before {
            content: "-";
            width: 5px;
            margin-left: -20px;
            margin-right: 5px;
            font-weight: 700;
        }
    }
}
ul.govuk-dot-list-item {
    list-style: disc;
    padding-left: 20px;
    li {
        font-size: 19px;
        margin-bottom: 15px;
        font-family: 'helvetica';
    }
}

@media all and (max-width: 767px) {
    ul.govuk-dash-list-item,
    ul.govuk-dot-list-item {
        li {
            font-size: 16px;
            word-break: break-word;
        }
    }
}
// ul li end

.mt0 {
    margin-top: 0 !important;
}
.mb0 {
    margin-bottom: 0 !important;
}

p {
    font-family: 'helvetica';
    margin-top: 0.3125em;
    &.govuk-body {
        font-size: 19px;
        margin-bottom: 20px;
    }
    &.govuk-body-l {
        font-size: 24px;
        margin-bottom: 30px;
    }
    &.govuk-body-s {
        font-size: 16px;
        margin-bottom: 20px;
    }
}