.entry-panel {
  background-color: #EEEFEF;
  padding: 15px 20px 20px 20px;
}

.entry-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.entry-subtitle {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 16px;
}

.entry-system-content {
  font-size: 19px;
  margin-top: 15px;
  margin-bottom: 0px;
}
