<mat-card id='edit_service_user'>

  <mat-card-header>
    <div class="page-title-icon">
      <span *ngIf="serviceUserForm.controls.firstName.value && serviceUserForm.controls.lastName.value">
        {{serviceUserForm.controls.firstName.value}} {{serviceUserForm.controls.middleName.value }}
        {{serviceUserForm.controls.lastName.value }}
      </span>
      <span *ngIf="!serviceUserForm.controls.firstName.value && !serviceUserForm.controls.lastName.value"> User Account
        Details </span>
      <span class="action-buttons">
        <button id="exit_user_button" mat-stroked-button color="primary" [routerLink]="['/service-user']">Exit</button>
      </span>
    </div>
    <div *ngIf="deactivated" class="deactivatedDate">
      Inactive from {{serviceUserForm.controls.deactivationDate.value | date:'dd/MM/yyyy'}}
    </div>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="serviceUserForm" validate autocomplete="off">

      <div class="label-hr"> <span> Participant Details </span> </div>

      <div class="card-row">
        <div class="card-column">

          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title" value="" formControlName="title" [matAutocomplete]="titleAuto"
              id="title">
            <mat-autocomplete #titleAuto="matAutocomplete">
              <mat-option *ngFor="let option of titles" [value]="option" id="title-{{option}}">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>
        <div class="card-column">

          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="firstName" id="firstName" required>
            <mat-error *ngIf="serviceUserForm.get('firstName').hasError('pattern')">
              Invalid First Name</mat-error>
            <mat-error *ngIf="serviceUserForm.get('firstName').hasError('required')">
              First Name is required</mat-error>
            <mat-error *ngIf="serviceUserForm.get('firstName').hasError('maxlength')"> First Name should be 35
              characters or less
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="card-row">
        <div class="card-column">

          <mat-form-field appearance="outline">
            <mat-label>Middle Name/s</mat-label>
            <input matInput placeholder="Middle Name/s" formControlName="middleName" id="middleName">
            <mat-error *ngIf="serviceUserForm.controls.middleName.errors?.maxlength"> Middle Name/s should be 35
              characters or less
            </mat-error>
            <mat-error *ngIf="serviceUserForm.get('middleName').hasError('pattern')">
              Invalid Middle Name</mat-error>
          </mat-form-field>

        </div>
        <div class="card-column">

          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="lastName" id="lastName" required>
            <mat-error *ngIf="serviceUserForm.get('lastName').hasError('required')">
              Last Name is required</mat-error>
            <mat-error *ngIf="serviceUserForm.get('lastName').hasError('pattern')">
              Invalid Last Name</mat-error>
            <mat-error *ngIf="serviceUserForm.get('lastName').hasError('maxlength')"> Last Name should be 35 characters
              or less
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="card-row">
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Date of Birth (DOB)</mat-label>
            <input matInput [matDatepicker]="dateOfBirthPicker" [min]="minDateOfBirth" [max]="maxDateOfBirth"
              formControlName="dateOfBirth" placeholder="Date of Birth " id="dateOfBirth" required>
            <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
            <mat-datepicker #dateOfBirthPicker></mat-datepicker>
            <mat-error *ngIf="serviceUserForm.get('dateOfBirth').getError('required')"> DateOfBirth is required
            </mat-error>
            <mat-error *ngIf="serviceUserForm.get('dateOfBirth').getError('matDatepickerMax')"> Invalid DateOfBirth.
              Date cannot be in future
            </mat-error>
            <mat-error *ngIf="serviceUserForm.get('dateOfBirth').getError('matDatepickerMin')"> Invalid date of birth.
              User must be less than 100 years
            </mat-error>
          </mat-form-field>
        </div>

        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Ethnicity</mat-label>
            <mat-select formControlName="ethnicityId">
              <mat-option selected="true" [value]="">--Select--</mat-option>
              <mat-optgroup *ngFor="let group of ethnicityRefData" [label]="group.parentEthnicityName"
                [disabled]="group.disabled">
                <mat-option *ngFor="let ethnicity of group.refChildEthnicity" [value]="ethnicity.childEthnicityId">
                  {{ethnicity.childEthnicityName}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
      <div class="card-row">
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select placeholder="Gender" formControlName="gender">
              <mat-option *ngFor="let gender of genderList" [value]="gender.id" id="gender"
                [disabled]="gender.isDisabled">{{gender.description}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="card-row">
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Alias First Name</mat-label>
            <input matInput formControlName="aliasFirstName" id="aliasFirstName" placeholder="Alias First Name">
            <mat-error *ngIf="serviceUserForm.controls.aliasFirstName.errors?.pattern">Invalid Alias First Name
            </mat-error>
            <mat-error *ngIf="serviceUserForm.get('aliasFirstName').hasError('maxlength')">
              Alias First Name should be 35 characters or less
            </mat-error>
          </mat-form-field>
        </div>

        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Alias Last Name</mat-label>
            <input matInput formControlName="aliasLastName" id="aliasLastName" placeholder="Alias Last Name">
            <mat-error *ngIf="serviceUserForm.controls.aliasLastName.errors?.pattern">Invalid Alias Last Name
            </mat-error>
            <mat-error *ngIf="serviceUserForm.get('aliasLastName').hasError('maxlength')">
              Alias Last Name should be 35 characters or less
            </mat-error>
          </mat-form-field>
        </div>

      </div>
      <div class="card-row">
        <div class="card-column" *ngIf="!isNew">
          <mat-form-field appearance="outline">
            <mat-label>Account State</mat-label>
            <mat-select placeholder="Account State" formControlName="isActive">
              <mat-option [value]="true" id="account_state_enabled">Active</mat-option>
              <mat-option [value]="false" id="account_state_disabled">Inactive</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Project</mat-label>
            <mat-select formControlName="projectId">
              <mat-option *ngFor="let list of refProject" [value]="list.id" id="projectId">{{list.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!-- contact section start -->
      <div class="label-hr"> <span> Contact Details </span> </div>
      <div formGroupName="address">
        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Address Line 1</mat-label>
              <input matInput placeholder="Address Line 1" formControlName="addressLine1" id="addressLine1" required>
              <mat-error *ngIf="serviceUserForm.get('address').get('addressLine1').hasError('required')">
                Address Line 1 is required
              </mat-error>
              <mat-error *ngIf="serviceUserForm.get('address').get('addressLine1').hasError('maxlength')">
                Address Line 1 should be less than 100 chars.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Address Line 2</mat-label>
              <input matInput placeholder="Address Line 2" formControlName="addressLine2" id="addressLine2">
              <mat-error *ngIf="serviceUserForm.get('address').get('addressLine2').hasError('maxlength')">
                Address Line 2 should be less than 100 chars.
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Town/City</mat-label>
              <input matInput placeholder="Town/City" formControlName="townOrCity" id="townOrCity" required>
              <mat-error *ngIf="serviceUserForm.get('address').get('townOrCity').hasError('required')">
                Town/City is required
              </mat-error>
              <mat-error *ngIf="serviceUserForm.get('address').get('townOrCity').hasError('maxlength')">
                Town/City should be less than 50 chars.
              </mat-error>
              <mat-error *ngIf="serviceUserForm.get('address').get('townOrCity').hasError('pattern')">
                Invalid Town/City Name
              </mat-error>

            </mat-form-field>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>County</mat-label>
              <input matInput placeholder="County" formControlName="country" id="country" required>
              <mat-error *ngIf="serviceUserForm.get('address').get('country').hasError('required')">
                County is required
              </mat-error>
              <mat-error *ngIf="serviceUserForm.get('address').get('country').hasError('maxlength')">
                County should be less than 50 chars.
              </mat-error>
              <mat-error *ngIf="serviceUserForm.get('address').get('country').hasError('pattern')">
                Invalid County Name
              </mat-error>
            </mat-form-field>
          </div>

        </div>
        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Postcode</mat-label>
              <input matInput formControlName="postCode" id="postCode" placeholder="Postcode" required>
              <mat-hint align="start">example: SW1A 1AA</mat-hint>
              <mat-error *ngIf="serviceUserForm.get('address').get('postCode').hasError('pattern')">
                Invalid Postcode
              </mat-error>
              <mat-error *ngIf="serviceUserForm.get('address').get('postCode').hasError('required')">
                Postcode is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Email Address</mat-label>
              <input matInput formControlName="email" id="emailAddress" placeholder="Please Enter a Valid Email Address"
                required>
              <mat-error>
                <app-control-messages [control]="serviceUserForm.get('address').get('email')"></app-control-messages>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Contact Number</mat-label>
              <input matInput formControlName="contactNo" id="contactNo" placeholder="Contact Number">
              <mat-error *ngIf="serviceUserForm.get('address').get('contactNo').hasError('pattern')">
                phone number Invalid
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div> <!-- end of contact section -->

      <!-- Disability and health section start -->
      <div class="label-hr"> <span> Disability and Health </span> </div>
      <div formGroupName="disabilityAndHealth">
        <div class="card-row ">
          <mat-label>
            Do you consider yourself to have a substantial or long-term disability or learning difficulty?
          </mat-label>
          <mat-radio-group class="radioAlignment" formControlName="learningDifficultyId" name="learningDifficultyId">
            <mat-radio-button *ngFor="let item of refAnswer" [value]="item.id">{{item.answerName}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="card-row textBox" *ngIf="showField('learningDifficultyId' , 'learningDifficultyDescription') ">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="learningDifficultyDescription" maxlength="400"> </textarea>
            <mat-hint
              *ngIf="serviceUserForm.get('disabilityAndHealth').get('learningDifficultyDescription')?.value?.length !==(400-1) && (400) >= serviceUserForm.get('disabilityAndHealth').get('learningDifficultyDescription')?.value?.length">
              {{400 - serviceUserForm.get('disabilityAndHealth').get('learningDifficultyDescription')?.value?.length}}
              characters left
            </mat-hint>
            <mat-hint
              *ngIf="serviceUserForm.get('disabilityAndHealth').get('learningDifficultyDescription')?.value?.length == (400-1)">
              1 character left
            </mat-hint>
            <mat-hint
              *ngIf="serviceUserForm.get('disabilityAndHealth').get('learningDifficultyDescription')?.value?.length === 0">
              Minimum 1 and Maximum 400 characters allowed
            </mat-hint>
            <mat-error
              *ngIf="serviceUserForm.get('disabilityAndHealth').get('learningDifficultyDescription').hasError('required')">
              Description is required
            </mat-error>
            <mat-error
              *ngIf="serviceUserForm.get('disabilityAndHealth').get('learningDifficultyDescription').hasError('maxlength')">
              Description should be less than 400 chars
            </mat-error>
          </mat-form-field>
        </div>
        <div class="card-row textBox">
          <mat-label>
            Do you consider yourself to have a substantial or long-term health condition?
          </mat-label>
          <mat-radio-group class="radioAlignment" formControlName="longTermHealthCondtionId"
            name="longTermHealthCondtionId">
            <mat-radio-button *ngFor="let item of refAnswer" [value]="item.id">{{item.answerName}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="card-row textBox"
          *ngIf="showField('longTermHealthCondtionId' , 'longTermHealthCondtionDescription') ">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="longTermHealthCondtionDescription" maxlength="400"> </textarea>
            <mat-hint
              *ngIf="serviceUserForm.get('disabilityAndHealth').get('longTermHealthCondtionDescription')?.value?.length !== (400-1)
                       && (400) >= serviceUserForm.get('disabilityAndHealth').get('longTermHealthCondtionDescription')?.value?.length">
              {{400 -
              serviceUserForm.get('disabilityAndHealth').get('longTermHealthCondtionDescription')?.value?.length}}
              characters left
            </mat-hint>
            <mat-hint
              *ngIf="serviceUserForm.get('disabilityAndHealth').get('longTermHealthCondtionDescription')?.value?.length == (400-1)">
              1 character left
            </mat-hint>
            <mat-hint
              *ngIf="serviceUserForm.get('disabilityAndHealth').get('longTermHealthCondtionDescription')?.value?.length === 0">
              Minimum 1 and Maximum 400 characters allowed
            </mat-hint>
            <mat-error
              *ngIf="serviceUserForm.get('disabilityAndHealth').get('longTermHealthCondtionDescription').hasError('maxlength')">
              Description should be less than 400 chars
            </mat-error>
          </mat-form-field>
        </div>
        <div class="card-row textBox">
          <mat-label>
            Do you consider yourself to have a disability/ health condition that limits your ability to work?
          </mat-label>
          <mat-radio-group class="radioAlignment" formControlName="disabilityOrHealthCondtionId"
            name="disabilityOrHealthCondtionId">
            <mat-radio-button *ngFor="let item of refAnswer" [value]="item.id">{{item.answerName}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div><!-- Disability and health section end -->

      <!-- Identifiers section start -->
      <div class="label-hr"> <span> Identifiers </span> </div>
      <div formGroupName="identifiers">
        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>P-NOMIS ID</mat-label>
              <input matInput placeholder="P-NOMIS ID" formControlName="pnomisId" id="pNomisId">
              <mat-error *ngIf="serviceUserForm.get('identifiers').get('pnomisId').hasError('maxlength')">
                P-NOMIS ID should be 35 characters or less
              </mat-error>
              <mat-error *ngIf="serviceUserForm.get('identifiers').get('pnomisId').hasError('pattern')">
                Invalid P-NOMIS ID
              </mat-error>
            </mat-form-field>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>PNC Number</mat-label>
              <input matInput placeholder="PNC Number" formControlName="pncNo" id="pncNo">
              <mat-error *ngIf="serviceUserForm.get('identifiers').get('pncNo').hasError('maxlength')">
                PNC Number should be 35 characters or less
              </mat-error>
              <mat-error *ngIf="serviceUserForm.get('identifiers').get('pncNo').hasError('pattern')">
                Invalid PNC Number
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Delius Number</mat-label>
              <input matInput placeholder="Delius Number" formControlName="deliusNo" id="deliusNo">
              <mat-error *ngIf="serviceUserForm.get('identifiers').get('deliusNo').hasError('maxlength')">
                Delius Number should be 35 characters or less
              </mat-error>
              <mat-error *ngIf="serviceUserForm.get('identifiers').get('deliusNo').hasError('pattern')">
                Invalid Delius Number
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div><!-- Identifiers section end -->

      <!-- sentence details section start -->
      <div class="label-hr"> <span> Sentence Details </span> </div>
      <div formGroupName="sentence">
        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Booking Code</mat-label>
              <input matInput placeholder="Booking Code" formControlName="bookingCode" id="bookingCode">
              <mat-error *ngIf="serviceUserForm.get('sentence')?.get('bookingCode').hasError('maxlength')">
                Booking Code should be 35 characters or less
              </mat-error>
              <mat-error *ngIf="serviceUserForm.get('sentence').get('bookingCode').hasError('pattern')">
                Invalid Booking Code
              </mat-error>
            </mat-form-field>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Number of Offences</mat-label>
              <input matInput placeholder="Number of Offences" formControlName="noOfOffence" id="noOfOffence">
              <mat-error *ngIf="serviceUserForm.get('sentence')?.get('noOfOffence').hasError('pattern')">
                Only numeric value allowed
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Main Index Offence</mat-label>
              <textarea matInput formControlName="mainIndexOffence" rows="6" minlength="3" maxlength="300"></textarea>
              <mat-hint
                *ngIf="serviceUserForm.get('sentence')?.get('mainIndexOffence')?.value?.length !== 0 && serviceUserForm.get('sentence')?.get('mainIndexOffence')?.value?.length !== null && serviceUserForm.get('sentence')?.get('mainIndexOffence')?.value?.length !=(300-1) && (300) >= serviceUserForm.get('sentence')?.get('mainIndexOffence')?.value?.length">
                {{300 - serviceUserForm.get('sentence')?.get('mainIndexOffence')?.value?.length}} characters left
              </mat-hint>
              <mat-hint *ngIf="serviceUserForm.get('sentence')?.get('mainIndexOffence')?.value?.length == (300-1)">
                1 character left
              </mat-hint>
              <mat-hint
                *ngIf="serviceUserForm.get('sentence')?.get('mainIndexOffence')?.value?.length === 0 || serviceUserForm.get('sentence')?.get('mainIndexOffence')?.value?.length === null">
                Maximum 300 characters allowed
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Sentence Date</mat-label>
              <input matInput [matDatepicker]="sentenceDatePicker" placeholder="Sentence Date"
                formControlName="sentenceDate" id="sentenceDate">
              <mat-datepicker-toggle matSuffix [for]="sentenceDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #sentenceDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Sentence Length (Months)</mat-label>
              <input matInput placeholder="Sentence Length (Months)" formControlName="sentenceLengthMonth"
                id="sentenceLengthMonths">
              <mat-error *ngIf="serviceUserForm.get('sentence')?.get('sentenceLengthMonth').hasError('pattern')">
                Only numeric value allowed
              </mat-error>
            </mat-form-field>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Sentence Length (Days)</mat-label>
              <input matInput placeholder="Sentence Length (Days)" formControlName="sentenceLengthDays"
                id="sentenceLengthDays">
              <mat-error *ngIf="serviceUserForm.get('sentence')?.get('sentenceLengthDays').hasError('pattern')">
                Only numeric value allowed
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Actual Date of Release</mat-label>
              <input matInput [matDatepicker]="actualDateOfReleasePicker" placeholder="Actual Date of Release"
                formControlName="actualReleaseDate" id="actualDateOfRelease">
              <mat-datepicker-toggle matSuffix [for]="actualDateOfReleasePicker"></mat-datepicker-toggle>
              <mat-datepicker #actualDateOfReleasePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Establishment Released From</mat-label>
              <mat-select placeholder="Establishment Released From" formControlName="establishmentId">
                <mat-option *ngFor="let est of refEstablishment" [value]="est.id" id="establishmentId"
                  [disabled]="est.isDisabled">{{est.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Probation Office Released to</mat-label>
              <input matInput placeholder="Probation Office Released to" formControlName="probationOfficeReleased"
                id="probationOfficeReleasedTo" maxlength="100">
              <mat-hint
                *ngIf="serviceUserForm.get('sentence')?.get('probationOfficeReleased')?.value?.length !== 0 && serviceUserForm.get('sentence')?.get('probationOfficeReleased')?.value?.length !== null && serviceUserForm.get('sentence')?.get('probationOfficeReleased')?.value?.length !=(100-1) && (100) >= serviceUserForm.get('sentence')?.get('probationOfficeReleased')?.value?.length">
                {{100 - serviceUserForm.get('sentence')?.get('probationOfficeReleased')?.value?.length}} characters left
              </mat-hint>
              <mat-hint
                *ngIf="serviceUserForm.get('sentence')?.get('probationOfficeReleased')?.value?.length == (100-1)">
                1 character left
              </mat-hint>
              <mat-hint
                *ngIf="serviceUserForm.get('sentence')?.get('probationOfficeReleased')?.value?.length === 0 || serviceUserForm.get('sentence')?.get('probationOfficeReleased')?.value?.length === null">
                Maximum 100 characters allowed
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Local Authority</mat-label>
              <mat-select placeholder="Local Authority" formControlName="localAuthorityId">
                <mat-option *ngFor="let local of refLocalAuth" [value]="local.id" id="localAuthorityId"
                  [disabled]="local.isDisabled">{{local.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div><!-- sentence details section end -->

      <!-- LLIF Project section start -->
      <div class="label-hr"> <span> LLIF Project </span> </div>
      <div formGroupName="llifProject">
        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Date Participant Provided Consent for Pilot</mat-label>
              <input matInput [matDatepicker]="participantDatePicker"
                placeholder="Date Participant Provided Consent for Pilot" formControlName="dateParticipantConsentPilot"
                id="dateParticipantConsentPilot">
              <mat-datepicker-toggle matSuffix [for]="participantDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #participantDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Recalled?</mat-label>
              <mat-select placeholder="Recalled?" formControlName="recalled">
                <mat-option *ngFor="let status of refStatus | slice:0:3" [value]="status.id" id="recalled"
                  [disabled]="status.isDisabled">{{status.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="serviceUserForm.get('llifProject').get('recalled').hasError('required')">
                Mandatory field
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="card-row">
          <div class="card-column" *ngIf="showdependentField('recalled' , 'recallDate')">
            <mat-form-field appearance="outline">
              <mat-label>Date of Recall</mat-label>
              <input matInput [matDatepicker]="recallDatePicker" placeholder="Date of Recall"
                formControlName="recallDate" id="recallDate">
              <mat-datepicker-toggle matSuffix [for]="recallDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #recallDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="card-column" *ngIf="showdependentField('recalled' , 'recallReasonId')">
            <mat-form-field appearance="outline">
              <mat-label>Reason for Recall</mat-label>
              <mat-select placeholder="Reason for Recall" formControlName="recallReasonId">
                <mat-option *ngFor="let list of refRecallReason" [value]="list.id" id="recallReasonId"
                  [disabled]="list.isDisabled">{{list.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Withdrawn from pilot?</mat-label>
              <mat-select placeholder="Withdrawn from pilot?" formControlName="withdrawnPilot">
                <mat-option *ngFor="let status of refStatus | slice:0:3" [value]="status.id" id="withdrawnPilot"
                  [disabled]="status.isDisabled">{{status.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="serviceUserForm.get('llifProject').get('withdrawnPilot').hasError('required')">
                Mandatory field
              </mat-error>
            </mat-form-field>
          </div>
          <div class="card-column" *ngIf="showdependentField('withdrawnPilot' , 'withdrawnDate')">
            <mat-form-field appearance="outline">
              <mat-label>Date Withdrawn</mat-label>
              <input matInput [matDatepicker]="withdrawnDatePicker" placeholder="Date Withdrawn"
                formControlName="withdrawnDate" id="withdrawnDate">
              <mat-datepicker-toggle matSuffix [for]="withdrawnDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #withdrawnDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="card-column" *ngIf="showdependentField('withdrawnPilot' , 'withdrawalReasonId')">
            <mat-form-field appearance="outline">
              <mat-label>Reason for Withdrawn</mat-label>
              <mat-select placeholder="Reason for Withdrawn" formControlName="withdrawalReasonId">
                <mat-option *ngFor="let list of refWithdrawnReason" [value]="list.id" id="withdrawalReasonId"
                  [disabled]="list.isDisabled">{{list.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Date Completed Pilot</mat-label>
              <input matInput [matDatepicker]="dateCompletedPilotPicker" placeholder="Date Completed Pilot"
                formControlName="dateCompletedPilot" id="dateCompletedPilot">
              <mat-datepicker-toggle matSuffix [for]="dateCompletedPilotPicker"></mat-datepicker-toggle>
              <mat-datepicker #dateCompletedPilotPicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Integrated Intervention Resettlement Plan (IIRP) Developed?</mat-label>
              <mat-select placeholder="Integrated Intervention Resettlement Plan (IIRP) Developed?"
                formControlName="iirpDeveloped">
                <mat-option *ngFor="let status of refStatus | slice:0:3" [value]="status.id" id="iirpDeveloped"
                  [disabled]="status.isDisabled">{{status.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="serviceUserForm.get('llifProject').get('iirpDeveloped').hasError('required')">
                Mandatory field
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="card-row">
          <span class="subTitle">Substance Misuse</span>
        </div>
        <div class="subFormGroup">
          <div class="card-row">
            <div class="card-column">
              <mat-form-field appearance="outline">
                <mat-label>Substance Misuse Services (SMS) Coordinated (prior to release)
                </mat-label>
                <mat-select placeholder="Substance Misuse Services (SMS) Coordinated (prior to release)"
                  formControlName="smsCoordinated">
                  <mat-option *ngFor="let status of refStatus | slice:0:3" [value]="status.id" id="smsCoordinated"
                    [disabled]="status.isDisabled">{{status.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="card-column">
              <mat-form-field appearance="outline">
                <mat-label>Substance Misuse Services (SMS) Accessed (on release)</mat-label>
                <mat-select placeholder="Substance Misuse Services (SMS) Accessed (on release)"
                  formControlName="smsAccessed">
                  <mat-option *ngFor="let status of refStatus | slice:0:3" [value]="status.id" id="smsAccessed"
                    [disabled]="status.isDisabled">{{status.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="card-row">
          <span class="subTitle">Family</span>
        </div>
        <div class="subFormGroup">
          <div class="card-row">
            <div class="card-column">
              <mat-form-field appearance="outline">
                <mat-label>Family Reintegration Intervention Provided</mat-label>
                <mat-select placeholder="Family Reintegration Intervention Provided"
                  formControlName="familyReintegrationInterventionProvided">
                  <mat-option *ngFor="let status of refStatus| slice:0:3" [value]="status.id"
                    id="familyReintegrationInterventionProvided" [disabled]="status.isDisabled">{{status.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="card-column">
              <mat-form-field appearance="outline">
                <mat-label>Support Network Identified (Direct family, distant family, friends, carer)</mat-label>
                <mat-select placeholder="Support Network Identified (Direct family, distant family, friends, carer)"
                  formControlName="supportNetworkIdentified">
                  <mat-option *ngFor="let status of refStatus" [value]="status.id" id="supportNetworkIdentified"
                    [disabled]="status.isDisabled">{{status.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="card-row">
            <div class="card-column">
              <mat-form-field appearance="outline">
                <mat-label>PL reports improved relationships</mat-label>
                <mat-select placeholder="PL reports improved relationships"
                  formControlName="plReportsImprovedRelationships">
                  <mat-option *ngFor="let status of refStatus" [value]="status.id" id="plReportsImprovedRelationships"
                    [disabled]="status.isDisabled">{{status.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="card-column">
              <mat-form-field appearance="outline">
                <mat-label>PL has family support upon release</mat-label>
                <mat-select placeholder="PL has family support upon release"
                  formControlName="plHasFamilySupportUponRelease">
                  <mat-option *ngFor="let status of refStatus" [value]="status.id" id="plHasFamilySupportUponRelease"
                    [disabled]="status.isDisabled">{{status.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="card-row">
            <div class="card-column">
              <mat-form-field appearance="outline">
                <mat-label>PLs family reports improved relationships</mat-label>
                <mat-select placeholder="PLs family reports improved relationships"
                  formControlName="plFamilyReportsImprovedRelationships">
                  <mat-option *ngFor="let status of refStatus" [value]="status.id"
                    id="plFamilyReportsImprovedRelationships" [disabled]="status.isDisabled">{{status.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="card-row">
        <span class="subTitle">Psychological/Emotional Support</span>
      </div>
      <div formGroupName="emotionalSupport" class="subFormGroup">
        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Completed Programme?</mat-label>
              <mat-select placeholder="Completed Programme?" formControlName="completedProgramme">
                <mat-option *ngFor="let status of refStatus" [value]="status.id" id="completedProgramme"
                  [disabled]="status.isDisabled">{{status.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Qualify for Peer Mentoring Sessions?</mat-label>
              <mat-select placeholder="Qualify for Peer Mentoring Sessions?"
                formControlName="qualifyForPeerMentoringSessions">
                <mat-option *ngFor="let status of refStatus | slice:0:2" [value]="status.id"
                  id="qualifyForPeerMentoringSessions" [disabled]="status.isDisabled">{{status.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="card-row">
        <span class="subTitle">Employment</span>
      </div>
      <div formGroupName="employment" class="subFormGroup">
        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Completed Employment training in custody?</mat-label>
              <mat-select placeholder="Completed Employment training in custody?"
                formControlName="completedEmpTrainingInCustody">
                <mat-option *ngFor="let status of refStatus" [value]="status.id" id="completedEmpTrainingInCustody"
                  [disabled]="status.isDisabled">{{status.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Completed Employment training in community?</mat-label>
              <mat-select placeholder="Completed Employment training in community?"
                formControlName="completedEmpTrainingInCommunity">
                <mat-option *ngFor="let status of refStatus" [value]="status.id" id="completedEmpTrainingInCommunity"
                  [disabled]="status.isDisabled">{{status.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Achieved a qualification</mat-label>
              <mat-select placeholder="Achieved a qualification" formControlName="achievedQualification">
                <mat-option *ngFor="let status of refStatus" [value]="status.id" id="achievedQualification"
                  [disabled]="status.isDisabled">{{status.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Qualification or Skill gained</mat-label>
              <mat-select placeholder="Qualification or Skill gained" formControlName="qualificationOrSkillGained">
                <mat-option *ngFor="let status of refStatus | slice:0:3" [value]="status.id"
                  id="qualificationOrSkillGained" [disabled]="status.isDisabled">{{status.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Work Placement? </mat-label>
              <mat-select placeholder="Work Placement? " formControlName="workPlacement">
                <mat-option *ngFor="let status of refStatus | slice:0:3" [value]="status.id" id="workPlacement"
                  [disabled]="status.isDisabled">{{status.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Gained Employment?</mat-label>
              <mat-select placeholder="Gained Employment?" formControlName="gainedEmployment">
                <mat-option *ngFor="let status of refStatus | slice:0:3" [value]="status.id" id="gainedEmployment"
                  [disabled]="status.isDisabled">{{status.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Employer/Role</mat-label>
              <input matInput placeholder="Employer/Role" value="" formControlName="employerAndRole"
                id="employerAndRole">
              <mat-error *ngIf="serviceUserForm.get('employment').get('employerAndRole').hasError('maxlength')">
                Employer
                Name should be 100
                characters or less
              </mat-error>
            </mat-form-field>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Start Date</mat-label>
              <input matInput [matDatepicker]="employmentStartDatePicker" formControlName="startDate"
                placeholder="Start Date" id="startDate">
              <mat-datepicker-toggle matSuffix [for]="employmentStartDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #employmentStartDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="card-row">
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>Post Employment Support?</mat-label>
              <mat-select placeholder="Post Employment Support?" formControlName="postEmploymentSupport">
                <mat-option *ngFor="let status of refStatus" [value]="status.id" id="postEmploymentSupport"
                  [disabled]="status.isDisabled">{{status.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="card-column">
            <mat-form-field appearance="outline">
              <mat-label>In consistent employment for more than 6 months</mat-label>
              <mat-select placeholder="In consistent employment for more than 6 months"
                formControlName="inEmploymentMoreThanSixMonths">
                <mat-option *ngFor="let status of refStatus | slice:0:3" [value]="status.id"
                  id="inEmploymentMoreThanSixMonths" [disabled]="status.isDisabled">{{status.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>



      <mat-card-footer>
        <span class="spacer"></span>
        <span>
          <button id="save_user_button" mat-flat-button color="primary" [disabled]="serviceUserForm.invalid"
            appValidateForm [form]="serviceUserForm.get('address')" (click)="onSubmit(serviceUserForm)">Save</button>
        </span>
      </mat-card-footer>

    </form>
  </mat-card-content>
</mat-card>