#edit_service_user {
  .mat-card-footer {
    margin-top: 24px;
  }
}
.deactivatedDate {
  padding: 4px 12px;
  background-color: #fd6f1a;
  font-size: 13px;
  font-weight: bold;
  color: white;
  border-radius: 4px;
}
.subTitle {
  color: #fff;
  background: #fd6f1a;
  padding: 5px 10px;
}
.subFormGroup {
  padding: 15px 15px 0;
  margin: 0 0 20px 0;
  background: #f8f8f8;
}
.radioAlignment{
  mat-radio-button{
    margin: 0 5px!important;
  }
}
.textBox{
  margin-top: 15px;
  mat-form-field{
    width: 100%; 
  }
}
.recommendedButton {
  text-align: end;
  padding: 0 10px 20px;
}
.recommendedButton button {
  margin-left: 10px;
}

.textBox-rec{
  mat-form-field{
  width:95%;
  }
  button{
  margin-top: 20px;
  }
  }

@media (max-width: 1024px) {
  .textBox-rec mat-form-field {
    width: calc(85% - 2px) !important;
  }
}
@media  (max-width: 1024px) and (max-width: 1024px) {
  .textBox-rec mat-form-field {
    width: calc(100% - 45px) !important;
  }
}