.entry-panel {
  display: flex;
  padding: 15px 20px 20px 20px;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.entry-panel:hover {
  outline: 1px solid #fd6f1a;

  .entry-actions-container {
    visibility: visible;
  }
}

.left-container {
  flex-grow: 1;
  margin-right: 15px;

  @media (max-width: 900px) {
    margin-right: 0px;
  }
}

.right-container {
  width: 111px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 900px) {
    margin-top: 10px;
  }
}

.entry-title {
  margin-top: 0px;
  margin-bottom: 0px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.subtitle-container {
  margin-top: 10px;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
}

.entry-subtitle {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.intervention-container {
  display: flex;
  margin-top: 15px;
}

.entry-pathway-bullet-container {
  margin-right: 10px;
  margin-top: 7px;
}

.entry-pathway-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.entry-intervention-label {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 19px;
  font-weight: bold;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.entry-notes-content {
  font-size: 19px;
  margin-top: 15px;
  margin-bottom: 0px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.entry-notes-label {
  font-weight: bold;
}

.entry-actions-container {
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: 900px) {
    justify-content: flex-start;
  }

  button {
    margin-top: 5px;
    margin-bottom: -6px;
  }
}

.entry-status-tag {
  width: 100px;
  padding: 2px 3px 2px 3px;
  text-align: center;
  margin-top: 5px;
}

.status-attended {
  border: 3px solid #00703c;
  color: #00703c;
  font-weight: bold;
  font-size: 16px;
}

.status-failed {
  border: 3px solid #d4351c;
  color: #d4351c;
  font-weight: bold;
  font-size: 16px;
}
