<section 
  class="entry-panel" 
  [ngStyle]="{
    'background-color': (entryData?.isFuture === true) ? '#FFF7BF' : '#EEEFEF',
    'border': (entryData?.isFuture === true) ? '1px solid #594D00' : 'none'
  }"
>
  <div class="left-container">
    <h2 class="entry-title">{{entryData?.title}}</h2>
    <div class="subtitle-container">
      <pre class="entry-subtitle">{{entryData?.formattedSubtitle}}</pre>
      <p class="entry-subtitle">{{entryData?.keyWorkerName | titlecase}}</p>
    </div>
    <div class="intervention-container" *ngIf="entryData?.interventionName">
      <div class="entry-pathway-bullet-container">
        <div *ngIf="entryData?.pathway" [style.background-color]="setBulletColor(entryData?.pathway)" class="entry-pathway-bullet"></div>
      </div>
      <p class="entry-intervention-label">{{entryData?.interventionName}}</p>
    </div>
    <p *ngIf="entryData?.description" class="entry-notes-content"><span class="entry-notes-label">Notes:</span> {{entryData?.description}}</p>
  </div>
  <div class="right-container">
    <div class="entry-tags-container">
      <span>
        <div *ngIf="entryData?.status === 'Attended'" class="entry-status-tag status-attended">{{entryData?.status  | uppercase}}</div>
      </span>
      <span>
        <div *ngIf="entryData?.status === 'Fail to attend'" class="entry-status-tag status-failed">FAILED TO ATTEND</div>
      </span>
    </div>
    <div class="entry-actions-container">
      <button 
        mat-icon-button color="primary"
        title="Update"
        attr.aria-label="Update"
        (click)="openAddOrEditAppointmentModal()"
      >
        <mat-icon>create</mat-icon>
      </button>
    </div>
  </div>
</section>
