<mat-card id='category'>
    <mat-card-header>
      <span>
        <mat-form-field id="search_category_form" class="search_by">
          <input id="search_category_input" (keydown.enter)="onFilter(search_category_input.value)" matInput
            placeholder="Search by" #search_category_input aria-label="Search a category">
          <button id="do_search_button" mat-button matSuffix mat-icon-button aria-label="Search"
            (click)="onFilter(search_category_input.value)">
            <mat-icon>search</mat-icon>
          </button>
          <button id="clear_search_button" mat-button matSuffix mat-icon-buttonaria-label="Clear" 
          *ngIf="search_category_input.value !==''"  (click)="onFilter(''); search_category_input.value=''" name="clear_search_button">
            <mat-icon>close</mat-icon> 
          </button>
        </mat-form-field>
      </span>
      <span class="spacer"></span>

      <app-filter (filterEmitter)="dropdownFilter($event)" [filterArray]="filterArray"></app-filter>
      <router-outlet></router-outlet>
      <span *auth="[11,1]">
        <button id="create_category_button" mat-stroked-button class="right" color="primary" [routerLink]="['./new']">Add
        </button>
      </span>
    </mat-card-header>
    <mat-card-content class="categories_container">

        <mat-table id="category_table" #table [dataSource]="dataSource" class="isMobile" matSort>
          <ng-container matColumnDef="categoryName">
            <mat-header-cell *matHeaderCellDef id="category_name_button" class="name width-30" mat-sort-header>
              Category Name
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="name width-30"> <span class="mobile-label">Category Name:
              </span><span id="categoryNameId">{{element.categoryName}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="menuLevel">
            <mat-header-cell class="width-20" *matHeaderCellDef id="tenant_button" mat-sort-header> Category Menu Level
            </mat-header-cell>
            <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Category Menu Level:
           </span><span id="menuLevelId">{{element.menuLevel}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">

            <mat-header-cell *matHeaderCellDef class="actions-column" >Actions</mat-header-cell>
            <mat-cell *matCellDef="let element" class="actions-column"> <span class="mobile-label"></span>

              <button *auth="[11,3]" id="edit_category_button_{{element.id}}" mat-icon-button color="primary"
              [routerLink]="['./edit/' + element.id]" title="Edit"
                attr.aria-label="Edit {{element.categoryName}}" [disabled]="element.menuLevelIdentifier === '1'">
                <mat-icon>create</mat-icon>
              </button>

            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator id="category_pagination" [pageSize]="pageSize" [showFirstLastButtons]='true' [hidePageSize]="true">
        </mat-paginator>

      </mat-card-content>
    </mat-card>
