.filter_comp{
    position: relative;
    #filter_list_icon{
        display: inline-flex;
    }
    .filter_list{
        display: none;
        position: absolute;
        top: 100%;
        background-color: #fff;
        border: 1px solid #ccc;
        right: 0px;
        min-width: 200px;
        z-index: 9;
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 34px;
        .mat-menu-item{
            margin-left: 0px;
        }
        h6{
            margin: 10px 16px;
        }
        .clear_filter{
            width: 100%;
            position: absolute;
            bottom: 0px;
            text-align: center;
            font-size: 14px;
            background-color: #fff;
            padding: 7px 0px;
            border-top: 1px solid #ccc;
            color: #2b769b;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &:hover {
        .filter_list{
            display: block;
        }
    }
}