#content-image {
    .card-row {
        justify-content: flex-start;
    }
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    width: calc(25% - 12px);
    margin: 5px;

    .mat-card {
        cursor: pointer;
        height: inherit;
        padding: 15px;
        width: -webkit-fill-available;
        border: 1px solid transparent;

        &:hover {
            //background: rgba($color: #f5f5f5, $alpha: 1);
            background-color: rgba(0,0,0,0.1);
        }
        p{
          margin-bottom: 0px;
          margin-top: 0px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          float: left;
          width: 50%;
          padding-top: 9px;
        }
    }

    img {
        width: 100%;
        min-height: 133px;
        max-height: 133px;
        word-break: break-word;
    }

    @media (max-width: 1024px) {
        width: calc(33.33% - 12px);
    }
    
    @media (max-width: 598px) {
        width: calc(100% - 12px);
    }
}
.highlight-text-primary {
    color: #246281;
    font-weight: 600;
    display: inline!important;
  }
.image-modal-container{
    position: relative;
    max-width: 600px;
        mat-icon{
            position: absolute;
            right: -21px;
            top: -18px;
            cursor: pointer;
        }
    img{
        margin-top: 10px;
        width: 100%;
        min-width: 600px;
        margin: auto;
        @media (max-width: 598px) {
            min-width: 200px;
        }
    }
    p{
        margin-bottom: 0px;
    }
}