<mat-card id="content-image">
  <mat-card-header>
    <span class="spacer">
      <span>
        <mat-form-field id="search_image_form" class="search_by">
          <input id="search_image_input" (keydown.enter)="onFilter(search_image_input.value)" matInput
            placeholder="Search by" #search_image_input aria-label="Search a image">
          <button id="do_search_button" mat-button matSuffix mat-icon-button aria-label="Search"
            (click)="onFilter(search_image_input.value)">
            <mat-icon>search</mat-icon>
          </button>
          <button id="clear_search_button" *ngIf="search_image_input.value" mat-button matSuffix mat-icon-button
            aria-label="Clear" (click)="onFilter(''); search_image_input.value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </span>
    </span>
    <span>
      <button *auth="[11,3]" id="add_image_button" mat-stroked-button color="primary"
        [routerLink]="['./edit-content-image']">Add</button>
    </span>
  </mat-card-header>
  <mat-card-content>
    <div class="card-row">
      <div *ngFor="let item of contentImageList" class="image-list">
        <mat-card (click)="selectImage(item); openDialog(item.id)"
          [ngClass]="item.id === activeElement ? 'active' : 'none'">
          <img [src]="getImagePath(item.imageName)" alt="{{item.imageName}}">
          <mat-card-content>
            <p title="{{item.keywords}}">{{item.keywords}}</p>
            <div class="text-right">
                <button *auth="[11,3]" id="edit_role_button_{{item.id}}" mat-icon-button color="primary"
                  title="Edit" attr.aria-label="Edit {{item.imageName}}" [routerLink]="['./edit/' + item.id]">
                  <mat-icon>create</mat-icon>
                </button>
                <button *auth="[11,4]" (click)="$event.stopPropagation(); deleteImage(item.id)"
                  id="delete_edit_category_button_{{item.id}}" mat-icon-button title="Delete"
                  attr.aria-label="Delete {{item.imageName}}">
                  <mat-icon color="accent">delete</mat-icon>
                </button>
              </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <p class="text-center warning-style" *ngIf="contentImageList && contentImageList?.length === 0">No results found.
    </p>
    <mat-paginator id="image_pagination" [pageSize]="pageSize" [showFirstLastButtons]='true' [hidePageSize]="true">
    </mat-paginator>
  </mat-card-content>

</mat-card>
<router-outlet></router-outlet>
