<div class="image-modal-container">
    <mat-icon aria-hidden="false" aria-label="close icon" (click)="onNoClick()">close</mat-icon>
<div mat-dialog-content>
    <img [src]= "getImagePath(imageName)" alt="{{imageName}}">
</div>
<div mat-dialog-actions>
    <p title="{{keywords}}"><strong>Keywords: </strong> {{keywords}}</p>
</div>
</div>