<mat-card id='applications'>

  <mat-card-header>
    <span> Job Applications </span>
    <span class="spacer"></span>
    <span>
      <button id="edit_view_button" mat-stroked-button color="primary" (click)="onExitClicked()">Exit</button>
    </span>
  </mat-card-header>

  <mat-card-content class="applications_container">
    <mat-table id="application_table" #table [dataSource]="dataSource" matSort matSortActive="dateApplied"
      matSortDirection="asc" class="isMobile">

      <ng-container matColumnDef="applicationStatusDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header id="template_name_button"
          class="applicationStatusDate width-20">
          Date Applied
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="applicationStatusDate width-20"> <span class="mobile-label">Title:
          </span>{{element.applicationStatusDate | date:'dd MMM yyyy'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobStatus">
        <mat-header-cell class="width-20" *matHeaderCellDef id="job_status_column">Job Status
        </mat-header-cell>
        <mat-cell class="width-20" *matCellDef="let element">
          <span *ngIf="element.expired" class="status">Expired</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobTitle">
        <mat-header-cell class="width-60" *matHeaderCellDef mat-sort-header id="job_title_button"> Job Title
        </mat-header-cell>
        <mat-cell class="width-60" *matCellDef="let element"> <span class="mobile-label">Job Title:
          </span>{{element.jobTitle}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobApplicationStatus.statusDescription">
        <mat-header-cell class="width-20" *matHeaderCellDef id="status_column">Application Status
        </mat-header-cell>
        <mat-cell class="width-20" *matCellDef="let element">
          <span *ngIf="element.jobApplicationStatus" class="status">
            {{element.jobApplicationStatus.statusDescription | titlecase}}</span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator id="pagination" [pageSize]="pageSize" (page)='onPaginateChange($event)' [showFirstLastButtons]='true'
      [hidePageSize]='true'>
    </mat-paginator>

  </mat-card-content>
</mat-card>