.mat-card {

  .users-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 12px 0;
    margin: 0 0 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    .mat-checkbox {
      padding: 8px 12px 8px 0;
      width: calc(50% - 12px);
    }
  }

  .select-all {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, 0.87);

    .mat-checkbox {
      padding: 8px 0 8px 0;
      width: 50%;
      color: #246281;
    }
  }

  .paginator {
    padding: 0;
    padding-bottom: 16px;
  }

  .mat-paginator-range-actions {
    display: flex;
    align-items: center;

    .mat-paginator-range-label {
      font-size: 12px;
      margin: 0 12px 0 0;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}

@media screen and (max-width: 586px) {
  .on-mobile {
    display: none;
  }

  .mat-card {
    .users-list {
      flex-direction: column;

      .mat-checkbox {
        width: 100%;
      }
    }
  }
}

.org-list {
  display: flex;
  flex-wrap: wrap;

  .mat-list-option {
    width: calc(33.33% - 12px);
    cursor: pointer;
    &:hover {
      background: rgba($color: #f5f5f5, $alpha: 1);
    }
  }

  @media (max-width: 598px) {
    .mat-list-option {
      width: 100%;
    }
  }

  .chip {
    margin: 4px 5px 8px 5px;
  }

  &:focus {
    outline: 0px;
  }
}

.estb-container {
  width: 100%;
}

.orgSelectAll {
  float: right;
  line-height: 48px;
}

.clear-selection {
  margin: 3px 0px;
  height: 46px;
}

@media (max-width: 767px) {
  .card-column-third {
    width: 100% !important;
  }
  .estb-container {
    height: 100vh;
    overflow: scroll;
  }
}
@media (max-width: 1024px) {
  .mat-form-field {
    width: 100% !important;
  }
}

