<div class="track-tab-container">
  <div class="action-buttons-container">
    <button id="add_entry_button" mat-stroked-button color="primary" (click)="addEntry()">Add</button>
  </div>
  <div class="f-structure-container">
    <div class="f-structure-entry-container" *ngFor="let entryData of fStructureData; index as i">
      <ng-container [ngSwitch]="entryData.activityId">
        <ng-container *ngSwitchCase="'today'">
          <div class="f-line-container-today">
            <span class="f-line"></span>
          </div>
          <div class="today-line-panel-container">
            <div class="today-line-bracket-container" *ngIf="shouldShowTodayLineBrackets(i)">
              <div class="today-line-bracket"></div>
            </div>
            <div class="today-line-divider"></div>
            <p class="today-line-label">{{entryData.title}}</p>
            <div class="today-line-divider"></div>
            <div class="today-line-bracket-container" *ngIf="shouldShowTodayLineBrackets(i)">
              <div class="today-line-bracket"></div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="-1">
          <div class="f-line-container">
            <span class="f-line" [style.height]="setFLineHeight(i)"></span>
            <div class="f-line-icon-container" [style.display]="decideIfShouldShowInductionIcon(i)">
              <img src="./../../../../../../assets/f-structure-icons/induction-icon.svg" alt="silhouette of person">
            </div>
          </div>
          <div class="entry-panel-container" [style.margin-bottom]="setInductionEntryMarginBottom(i)">
            <app-entry-induction [entryData]="entryData"></app-entry-induction>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="getActivityId('Intervention')">
          <div class="f-line-container">
            <span class="f-line" [style.height]="setFLineHeight(i)"></span>
            <div class="f-line-icon-container">
              <img *ngIf="entryData.interventionType === 'Start'"
                src="./../../../../../../assets/f-structure-icons/intervention-start-icon.svg"
                alt="silhouette of calendar with start icon">
              <img *ngIf="entryData.interventionType === 'End'"
                src="./../../../../../../assets/f-structure-icons/intervention-end-icon.svg"
                alt="silhouette of calendar with end icon">
            </div>
          </div>
          <div 
            class="entry-panel-container"
            [style.margin-bottom]="setEntryMarginBottom(i)"
          >
            <app-entry-intervention 
              [entryData]="entryData"
              [statusList]="getFilteredStatusList()"
              [outcomeList]="activityRefData?.outcomeList"
              [withdrawalList]="activityRefData?.withdrawalList"
              (handleUpdateInterventionEntry)="onUpdateEntry($event)"
            ></app-entry-intervention>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="getActivityId('Appointment')">
          <div class="f-line-container">
            <span class="f-line" [style.height]="setFLineHeight(i)"></span>
            <div class="f-line-icon-container">
              <img src="./../../../../../../assets/f-structure-icons/appointment-icon.svg"
                alt="silhouettes of two people meeting">
            </div>
          </div>
          <div class="entry-panel-container" [style.margin-bottom]="setEntryMarginBottom(i)">
            <app-entry-appointment [entryData]="entryData" [activityRefData]="activityRefData"
              (handleUpdateAppointmentEntry)="onUpdateEntry($event)"></app-entry-appointment>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="getActivityId('Comment')">
          <div class="f-line-container">
            <span class="f-line" [style.height]="setFLineHeight(i)"></span>
            <div class="f-line-icon-container">
              <img class="swim-logo-f-structure-entry" src="./../../../../../../assets/logo/bounce-back-logo.png"
                alt="bounce back logo">
            </div>
          </div>
          <div class="entry-panel-container" [style.margin-bottom]="setEntryMarginBottom(i)">
            <app-entry-comment [entryData]="entryData" (handleUpdateCommentEntry)="onUpdateEntry($event)">
            </app-entry-comment>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="29">
          <div class="f-line-container">
            <span class="f-line" [style.height]="setFLineHeight(i)"></span>
            <div class="f-line-icon-container">
              <img src="./../../../../../../assets/f-structure-icons/system-icon.svg"
                alt="silhouette of computer and monitor">
            </div>
          </div>
          <div class="entry-panel-container" [style.margin-bottom]="setEntryMarginBottom(i)">
            <app-entry-system [entryData]="entryData"></app-entry-system>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="load-more-container" *ngIf="loadMoreVisible">
      <a href="javascript:void(0)" (click)="onClickLoadMore()">Load more</a>
    </div>
  </div>
</div>