.track-tab-container {
  padding: 30px 15px;
  border-left: 1px solid #bfc1c3;
  border-right: 1px solid #bfc1c3;
  border-bottom: 1px solid #bfc1c3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-buttons-container {
  display: flex;
  justify-content: flex-end;
  margin: 0px 35px 15px 15px;
  width: 100%;
}

.f-structure-container {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 940px;
  width: 100%;

  @media (max-width: 500px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.f-structure-entry-container {
  margin-left: 32px;
  margin-right: 30px;
  display: flex;

  @media (max-width: 500px) {
    margin-left: 0px;
    margin-right: 0px;
  }

  .f-line-container {
    display: flex;
    height: auto;
    justify-content: center;
    width: 50px;
    margin-right: 50px;

    @media (max-width: 500px) {
      display: none;
    }

    .f-line {
      width: 7px;
      background-color: #BFC1C3;
    }

    .f-line-icon-container {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;;
      border: 6px solid #BFC1C3;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .f-line-container-today {
    width: 50px;
    margin-right: 50px;
    display: flex;
    height: auto;
    justify-content: center;

    @media (max-width: 500px) {
      display: none;
    }

    .f-line {
      width: 7px;
      height: auto;
      background-color: #BFC1C3;
    }
  }

  .today-line-panel-container {
    width: 100%;
    margin-top: -20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .today-line-label {
      margin-left: 20px;
      margin-right: 20px;
    }

    .today-line-divider {
      height: 1px;
      background-color: #B1B4B6;
      flex-grow: 1;
    }

    .today-line-bracket-container {
      width: 1px;
      height: 20px;
      display: flex;
      align-items: flex-end;
    }

    .today-line-bracket {
      background-color: #B1B4B6;
      height: 50%;
      width: 100%;
    }
  }
}

.entry-panel-container {
  width: 100%;
}

.load-more-container {
  display: flex;
  padding-top: 20px;

  a {
    margin-left: 130px;
    margin-top: 10px;

    @media (max-width: 500px) {
      margin-left: 5px;
      margin-top: 30px;
    }
  }
}
.swim-logo-f-structure-entry {
  width: 71%;
  height: 55%;
  margin: 0 0 0 5px;
}