<div id="edit_content_image">
<mat-card>
  <mat-card-header>
    <span *ngIf="!isEdit">Image Details</span>
    <span *ngIf="isEdit">Keyword Details</span>
    <span class="spacer"></span>

      <button id="exit_user_button" mat-stroked-button color="primary"
        [routerLink]="['/administration/content-image']">Exit</button>

  </mat-card-header>
  <mat-card-content>
    <div class="mb16" *ngIf="!isEdit">Upload your image in JPG / PNG format and Maximum of 10 keywords per image.</div>
    <div class="label-hr" *ngIf="!isEdit"><span> Add Image *</span></div>
    <div class="label-hr" *ngIf="isEdit"><span> Edit Keywords</span></div>
    <form [formGroup]="uploadImageForm" (ngSubmit)="onSubmit(uploadImageForm)">
      <div class="uploadImg" [ngClass]="!isEdit ? 'showUploadImg' : 'hideUploadImg'">
        <span>
          <button type="button" id="browse_button" (click)="file.click()" mat-stroked-button color="primary" >
            <label for="">Browse</label>
          </button>
          <input type="file" id="image_uploads" (change)="selectFile($event)" value="" formControlName="file" #file required>
          <mat-error *ngIf="uploadImageForm.get('file').hasError('maxlength')"> File name too large. Maximum file name length is 100 characters. Please rename and upload again
          </mat-error>
          <mat-error *ngIf="uploadImageForm.get('file').hasError('required')"> 
          </mat-error>
        </span>
        <span class="preview">
          <p></p>
        </span>
        <p class="custom-hint">Click Browse to upload an image</p>
      </div>

      <div class="addKey">
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipList aria-label="Keyword Selection" formArrayName="keyword">
            <mat-chip *ngFor="let word of uploadImageForm.get('keyword')['controls']; let i=index;" [selectable]="selectable"
              [removable]="removable" (removed)="remove(i)">
              {{word.value}} <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Add keywords *" #keywordInput [formControl]="keywordInputField" [matAutocomplete]="auto"
              [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="addToList($event)" maxlength="20">
          </mat-chip-list>
          <mat-error> {{ getErrorMessage() }} </mat-error>
          <mat-hint>Maximum 20 characters allowed for each keyword. Special symbols, numbers and space are not allowed.
          </mat-hint>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event) ">
            <mat-option *ngFor="let keyName of filteredKeywords | async" [value]="keyName">
              {{keyName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-card-footer>
          <span class="spacer"></span>
          <button *ngIf= "!isEdit" type="submit" id="save_button" mat-stroked-button color="primary"
            [disabled]="!uploadImageForm.valid || chipList.errorState || uploadDisable">Upload</button>

            <button *ngIf= "isEdit" type="submit" id="save_button" mat-stroked-button color="primary"  [disabled]="chipList.errorState">Save</button>
        </mat-card-footer>
      </div>
    </form>
  </mat-card-content>

</mat-card>
</div>