.mb20{
    margin-bottom: 20px;
  }
  
  .label-hr {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 16px 0;
    flex: 1;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column !important;
  }
  
.text-right{
  text-align: right;
}
.ml10{
  margin-left: 10px;
}

.status {
  background-color:#fd6f1a;
  font-size: 12px;
  color: white;
  border-radius: 4px;
  padding: 2px 12px 4px 12px;
}
