<mat-card id='view_job'>
  <mat-card-header>
    <span class="jobTitleHeading"> Expression of Interest Details </span>
    <span class="spacer"></span>
    <span>
      <button id="exit_button" mat-stroked-button color="primary" (click)="backButton()">Exit</button>
    </span>
  </mat-card-header>

  <mat-card-content class="view_user-plan_container">
    <div class="card-row mb20">
      <div class="card-column">
        <div class="card-row" *ngIf="jobData?.jobTitle">
          <p class="info">
            <span class="details_label">Job Title</span>
            <span id="titleId">{{jobData?.jobTitle}}</span>
          </p>
        </div>
        <div class="card-row" *ngIf="jobData?.company">
          <p class="info">
            <span class="details_label">Company</span>
            <span id="company">{{jobData?.company}}</span>
          </p>
        </div>
        <div class="card-row" *ngIf="jobData?.pay">
          <p class="info">
            <span class="details_label">Pay</span>
            <span id="titleId">{{jobData?.pay}}</span>
          </p>
        </div>
        <div class="card-row">
          <p class="info">
            <span class="details_label">Featured</span>
            <span id="featured">{{!jobData?.isFeatured?'No': 'Yes'}}</span>
          </p>
        </div>
      </div>
      <div class="card-column">
        <div class="card-row" *ngIf="jobData?.location">
          <p class="info">
            <span class="details_label">Location</span>
            <span id="location">{{jobData?.location}}</span>
          </p>
        </div>
        <div class="card-row" *ngIf="jobData?.postingDate">
          <p class="info">
            <span class="details_label">Posting Date</span>
            <span id="posting_date">{{jobData?.postingDate |date:'dd MMM yyyy'}}</span>
          </p>
        </div>
        <div class="card-row" *ngIf="jobData?.closingDate">
          <p class="info">
            <span class="details_label">Closing Date</span>
            <span id="closing_date">{{jobData?.closingDate |date:'dd MMM yyyy'}}</span>
          </p>
        </div>
        
      </div>
    </div>
    <div class="card-row">
      <div class="card-column-100">
        <div class="label-hr">
          <span id="coursesId">
            <a>Job Description</a>
          </span>
        </div>
        <p class="info"> <span>{{jobData?.jobDescription}}</span></p>

      </div>
    </div>

    <div class="card-row mb20 flex-column">
      <div class="label-hr">
        <span>Learner Attachments</span>
      </div>
      <span class="details_label" *ngIf="items?.length > 0">File Name</span>
      <span *ngIf="items?.length==0">No attachment found</span>

      <div class="card-row attachment-section">
        <mat-nav-list>
          <mat-list-item *ngFor="let item of items;" [disableRipple]="true">
            <h3 matLine> {{item.filename}}</h3>

            <button *auth="[29,4]" id="downlaod_doc_button_{{item.id}}" mat-icon-button color="primary"
              (click)="download(item.attachmentId,item.attachmentType)" title="Download"
              attr.aria-label="Download {{item.filename}}">
              <mat-icon>get_app</mat-icon>
              <div id="form_holder" style="display: none;"></div>
            </button>

          </mat-list-item>
        </mat-nav-list>
      </div>
      <div class="card-row" >
        <div class="card-column-100">
          <div class="label-hr" *ngIf="jobData?.reasonDescription">
            <span id="coursesId"  >
              <a>Reason for declining</a>
            </span>
          </div>
          <p class="info"> <span>{{jobData?.reasonDescription}}</span></p>
  
        </div>
      </div>
      
    </div>
    <div class="card-row flex-column">
      <div *ngIf="jobData?.status !== 'INTERESTED'">
        <div class="label-hr">
          <span id="coursesId">
            <a>Response</a>
          </span>
        </div>
        <span class="status">{{jobData?.status | titlecase}}</span>
        <p class="info"> <span>{{jobData?.responseDescription}}</span></p>
        <div *auth="[19,11]" class="text-right">
          <button type="submit" id="update_button_{{jobData?.expressInterestNFNId}}" mat-flat-button color="primary"
            (click)="respondJob(jobData?.expressInterestNFNId, jobData?.status)">Update</button>
        </div>
      </div>
    </div>
    <div *auth="[19,11]" class="text-right">
      <button type="submit" *ngIf="jobData?.status === 'INTERESTED'"
        id="respond_button_{{jobData?.expressInterestNFNId}}" mat-flat-button color="primary"
        (click)="respondJob(jobData?.expressInterestNFNId, '')">Respond</button>
    </div>
  </mat-card-content>
</mat-card>