<p>Click the Sync button to update the Application with the latest data</p>
<span>
  <button id="sync_data_button" mat-stroked-button class="right" color="primary" (click)="syncData()">Sync Data
  </button>
</span>