<mat-card id="edit_keyword">
  <mat-card-header>
    <span> Keyword Details </span>
    <span class="spacer"></span>
    <span>
      <button id="exit_keyword_button" mat-stroked-button color="primary" [routerLink]="['../']"> Exit</button>
    </span>
  </mat-card-header>
  <mat-card-content >
    
    <div class="mb16">User can add maximum 10 keywords at a time</div>
    <div class="label-hr"><span> Keyword/s * </span></div>
    <form [formGroup]="keywordDetailForm" (ngSubmit)="onSubmit(keywordDetailForm)" validate autocomplete="off">
        <div class="card-row">
        <mat-form-field class="example-chip-list">
            <mat-chip-list  #chipList aria-label="Keyword selection">
              <mat-chip *ngFor="let keyword of keywords" [selectable]="selectable"
                       [removable]="removable" (removed)="remove(keyword)">
                {{keyword.keywordName}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input matInput [formControl]="chipControl" placeholder="Add Keyword/s*"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)"
                     maxlength="20" pattern="^[a-zA-Z]*$">
            </mat-chip-list>
            <mat-error *ngIf="chipList.errorState && chipControl.hasError('pattern')">
                Invalid Value
            </mat-error>
            <mat-error *ngIf="chipList.errorState && keywords.length >= 10">
              Maximum 10 keywords allowed at a time
          </mat-error>
            <mat-error *ngIf="chipList.errorState && keywords.length === 0 && !chipControl.hasError('pattern')">  Mandatory Field</mat-error>
            <mat-hint align="start">Maximum 20 characters allowed for each keyword. Special symbols, numbers and space are not allowed.</mat-hint>
          </mat-form-field>
        </div>  
        <mat-card-footer>
            <span class="spacer"></span>
            <span>
                <button type="submit" id="save_keyword_button" mat-flat-button color="primary"
                [disabled]="chipList.errorState || keywords.length === 0">Save</button>
            </span>
        </mat-card-footer>
    </form>
  </mat-card-content>
</mat-card>
