.new-keyword{
    margin-top: 12px;
    button{
        padding: 6px 10px!important;
        min-width: auto;
        &:disabled{
            background-color: rgba(0, 0, 0, 0.12);
        }
    }
}
// #edit_keyword .mat-form-field-appearance-outline .mat-form-field-outline{
//     color: rgba(0,0,0,.42);
// }
// #edit_keyword .mat-form-field-label-wrapper{
//     border: 2px solid rgba(0,0,0,.42);
//     border-radius: 5px;
// }
#edit_keyword .mat-form-field{
    width: 100%;
}
#edit_keyword .mat-form-field-infix{
    border-bottom: 2px solid rgba(0,0,0,.42)!important;
}