mat-card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

dt.details-label {
  font-size: 14px;
  color: #fd6f1a;
  font-weight: 600;
  margin-top: 1em;
}

dd {
  margin-inline-start: 0px;
  margin-bottom: 1em;
}

.no-top-margin {
  margin-top: 0px;
}