<mat-card id="view-user" >

  <mat-card-header>

    <div>
      {{ user?.firstName }} {{ user?.lastName }}
    </div>

    <div>
      <span *auth="[5,3]">
        <button id="edit_view_button" mat-stroked-button color="primary"
          [routerLink]="['/manage-users/edit-user' + '/' + user?.id]" *ngIf="loggedInUserRole !== 3">
          Edit
        </button>
      </span>
      <button id="exit_view_button" mat-stroked-button color="primary" [routerLink]="['/manage-users']">
        Exit
      </button>
    </div>

  </mat-card-header>

  <mat-card-content>

    <div class="label-hr no-top-margin"></div>
    <dl>
      <dt class="details-label">Account Type</dt>
      <dd>
        <app-list-label *ngIf= "user" [list]="accountTypeList" [value]= user.accountType id="role"> </app-list-label>
      </dd>
      <div *ngIf="user?.userName">
        <dt class="details-label">Username</dt>
        <dd>{{ user.userName }}</dd>
      </div>

      <div *ngIf="user?.accountState">
        <dt class="details-label">Account State</dt>
        <div [ngSwitch]="user?.accountState">
          <dd *ngSwitchCase="true">Enabled</dd>
          <dd *ngSwitchCase="false">Disabled</dd>
        </div>
      </div>

      <div class="label-hr">
        <span>Details</span>
      </div>

      <div *ngIf="user?.title">
        <dt class="details-label">Title</dt>
        <dd>{{ user?.title | titlecase}}</dd>
      </div>

      <div *ngIf="user?.firstName && user?.lastName">
        <dt class="details-label">Full Name</dt>
        <dd>{{ user?.firstName }} {{ user?.lastName }}</dd>
      </div>

      <div class="label-hr">
        <span>Contact</span>
      </div>

      <div *ngIf="user?.phoneNumber">
        <dt class="details-label">Telephone</dt>
        <dd>{{ user?.phoneNumber }}</dd>
      </div>

      <div *ngIf="user?.emailAddress">
        <dt class="details-label">Email</dt>
        <dd>{{ user?.emailAddress }}</dd>
      </div>

    </dl>

  </mat-card-content>

</mat-card>