.sessions_container {
      
    .forgot-password {
        font-size: 0.8em;
    }
}
.sign-in-container{
    padding-top: 20px;
    .mat-card{
        border-radius: 6px !important;
        padding: 20px 12px 0 12px;
        max-width: 400px;
        .mat-card-header{
            .mat-icon{
                color: #f57842 ;
                font-size: 40px;
                margin-top: -7px;
            }
            .label{
                color: #828181;
                font-size: 18px;
                word-break: break-word;
                padding-left: 20px;
                font-weight: bold;
            }
        }
        
    }
}