@import "~src/styles/helpers/mixins/grid";
@import "~src/styles/helpers/variables/palette";

.info {
  word-break: break-word;
}
.infoSection {
  width: 78%;
}
.profileImg {
  width: 8.3em;
}
.alert{
  color: orange;
  position: absolute;
}
.learnerInfo .info p {
  position: relative;
}
.info span.lldname {
  margin-left: 30px;
}
.textIndent{
  text-indent: 7%;
}
.label-hr {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 16px 0;
  flex: 1;
}
.iconAlignment {
  margin: 2px 10px 0 0;
}
.subSectionLlif {
  padding: 15px 15px 0;
  margin: 0 0 20px 0;
  background: #f8f8f8;
}
.subTitle {
  color: #fff;
  background: #fd6f1a;
  padding: 5px 10px;
  &.mt10 {
    margin-top: 10px;
  }
}

.profileImgSectionMob {
  display: none;
}
.profileImgSection {
  display: block;
}

@media screen and (max-width: 767px) {
  .infoSection {
    width: 100%;
  }
  .imgSection {
    position: absolute;
    top: 5em;
  }
  .profileImgSection {
    display: none;
    position: absolute;
    top: 5em;  
  }
  .profileImgSectionMob {
    display: block;
  }
}
.deactivatedDate {
  padding: 4px 12px;
  background-color: #fd6f1a;
  font-size: 13px;
  font-weight: bold;
  color: white;
  border-radius: 4px;
}

.tabWrapper {
  margin-top: 10px;
  position: relative;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 44px;
    border-bottom: 1px solid $grey-2;

    @include media(mobile) {
        height: 45px;
    }
    
    li {
      position: relative;
      margin: 0 5px 0 0;
      padding: 10px 20px 1px;
      float: left;
      background-color: none;
      text-align: center;
      cursor: pointer;
      
      @include media(mobile) {
          cursor: pointer;
          display: inline-block;
      }
      a {
          margin-right: 3px;
          float: left;
          color: #666;
          text-align: center;
          text-decoration: none;
        }
    }

    li:focus {
      outline: none;
    }
    
    li.active {
      margin-top: -5px;
      margin-bottom: -1px;
      padding: 14px 19px 11px 19px;
      border-bottom: 3px solid #fd6f1a;
      background-color: none;
      
      @include media(mobile) {
          background-color: transparent;
      }
    }
  }
}

span.card-column {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto !important;
}