<mat-card id='view_user_profile' *ngIf="genderList">
  <mat-card-header>
    <div class="page-title-icon">
      <mat-icon class="iconAlignment">description</mat-icon>
      <span> Details </span>
      <span class="action-buttons">
        <button *auth="[9,3]" id="edit_view_button" mat-stroked-button color="primary"
          (click)="onEditClicked(user?.id)">Edit</button>
        <button id="edit_view_button" mat-stroked-button color="primary" (click)="onExitClicked()">Exit</button>
      </span>
    </div>
    <div *ngIf="!user?.isActive" class="deactivatedDate">Inactive from {{user?.deactivationDate | date:'dd/MM/yyyy'}}
    </div>
  </mat-card-header>

  <mat-card-content class="view_user-plan_container">
    <div class="card-row">
      <div class="profileImgSectionMob">
        <img class="profileImg" src="../../../../../assets/icon-user-big.png" alt="profile image" />
        <div class="resetButton">
          <button id="reset_password_button" mat-stroked-button color="primary" (click)="onResetPasswordClicked(user.id)">
            Reset Password</button>
        </div>
      </div>
      <div class="infoSection">
        <div class="card-row">
          <div class="card-column">
            <p class="info">
              <span class="details_label">Title</span>
              <span id="titleId">{{user?.title || "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">First Name</span>
              <span id="firstNameId">{{user?.firstName}}</span>
            </p>
            <p class="info">
              <span class="details_label">Middle Name/s</span>
              <span id="middleNameId">{{user?.middleName || "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Last Name</span>
              <span id="surNameId">{{user?.lastName}}</span>
            </p>
            <p class="info">
              <span class="details_label">Date of Birth(DOB)</span>
              <span id="dateOfBirthId">{{user?.dateOfBirth | date: 'dd/MM/yyyy' || "N/A"}}</span>
              <span id="dateOfBirthId" *ngIf="!user?.dateOfBirth">{{"N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Project</span>
              <app-list-label [list]="refProject" [value]="user.projectId"></app-list-label>
              <span id="projectId" *ngIf="!user.projectId">{{ "N/A"}}</span>
            </p>
          </div>
          <div class="card-column">
            <p class="info">
              <span class="details_label">Email Address</span>
              <span id="email">{{user?.email || "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Gender</span>
              <app-list-label [list]="genderList" [value]="user?.gender"></app-list-label>
              <span id="gender" *ngIf="!user?.gender">{{ "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Alias First Name</span>
              <span id="postCode">{{user?.aliasFirstName || "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Alias Last Name</span>
              <span id="postCode">{{user?.aliasLastName || "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Ethnicity</span>
              <span id="ethnicityId" *ngIf="user?.ethnicityId">{{this.parentEthnicity || "N/A" }} :- {{user.ethnicity ||
                "N/A"}}</span>
              <span id="ethnicityId" *ngIf="!user?.ethnicityId">{{ "N/A"}}</span>
            </p>
            <p class="info" *ngIf="user?.learnerGender">
              <span class="details_label">Gender</span>
              <span id="learnerGenderId">{{user?.learnerGender || "N/A"}}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="profileImgSection">
        <img class="profileImg" src="../../../../../assets/icon-user-big.png" alt="profile image" />
        <div class="resetButton">
          <button id="reset_password_button" mat-stroked-button color="primary" (click)="onResetPasswordClicked(user.id)">
            Reset Password</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card id='view_user_learner_info' *ngIf="user?.address">
  <div class="card-row">
    <div class="infoSection">
      <mat-card-content class="view_user-plan_container">
        <mat-card-header>
          <mat-icon class="iconAlignment">call</mat-icon>
          <span id="contactId"> Contact Details </span>
          <span class="spacer"></span>
        </mat-card-header>

        <div class="card-row">
          <div class="card-column">
            <p class="info">
              <span class="details_label">Address Line 1</span>
              <span id="AddressLine1">{{address?.addressLine1 || "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Address Line 2</span>
              <span id="AddressLine2">{{address?.addressLine2 || "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Town/City</span>
              <span id="selfAssessmentLddId">{{address?.townOrCity || "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">County</span>
              <span id="mathInitialAssessmentId">{{address?.country || "N/A"}}</span>
            </p>
          </div>

          <div class="card-column">
            <p class="info">
              <span class="details_label">Postcode</span>
              <span id="PostcodeId">{{address?.postCode || "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Email Address</span>
              <span id="priorAttainmentId">{{user?.email || "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Contact Number</span>
              <span id="englishInitialAssessmentId">{{address?.contactNo || "N/A"}}</span>
            </p>
          </div>
        </div>
      </mat-card-content>
    </div>
  </div>
</mat-card>


<mat-card id='view_user_learner_info' *ngIf="user?.disabilityAndHealth">
  <div class="card-row">
    <div class="infoSection">
      <mat-card-content class="view_user-plan_container">
        <mat-card-header>
          <mat-icon class="iconAlignment">local_hospital</mat-icon>
          <span id="contactId"> Disability and Health </span>
          <span class="spacer"></span>
        </mat-card-header>

        <div class="card-row">
          <p class="info">
            <span class="details_label"> Do you consider yourself to have a substantial or long-term disability or
              learning difficulty?</span>
            <span id="learningDifficultyId" *ngIf="disablity?.learningDifficultyId">{{
              getYesNoValue(disablity?.learningDifficultyId) }}</span>
            <span id="learningDifficulty" *ngIf="!disablity?.learningDifficultyId">{{"N/A" }}</span>
            <span id="learningDifficultyDescription" *ngIf="disablity?.learningDifficultyDescription">
              <p>Details:{{disablity?.learningDifficultyDescription}} </p>
            </span>
          </p>
          <p>
            <span class="details_label"> Do you consider yourself to have a substantial or long-term health
              condition?</span>
            <span id="longTermHealthCondtionId" *ngIf="disablity?.longTermHealthCondtionId">{{
              getYesNoValue(disablity?.longTermHealthCondtionId) }}</span>
            <span id="longTermHealthCondtion" *ngIf="!disablity?.longTermHealthCondtionId">{{ "N/A"}}</span>
            <span id="longTermHealthCondtionDescription" *ngIf="disablity?.longTermHealthCondtionDescription">
              <p>Details:{{disablity?.longTermHealthCondtionDescription}} </p>
            </span>
          </p>
          <p class="info">
            <span class="details_label">Do you consider yourself to have a disability/ health condition that limits your
              ability to work?</span>
            <span id="disabilityOrHealthCondtionId" *ngIf="disablity?.disabilityOrHealthCondtionId">{{
              getYesNoValue(disablity?.disabilityOrHealthCondtionId) }}</span>
            <span id="disabilityOrHealthCondtion" *ngIf="!disablity?.disabilityOrHealthCondtionId">{{ "N/A" }}</span>
          </p>
        </div>
      </mat-card-content>
    </div>
  </div>
</mat-card>
<!-- Identifiers -->
<mat-card id='view_user_learner_info' *ngIf="user?.identifiers">
  <div class="card-row">
    <div class="infoSection">
      <mat-card-content class="view_user-plan_container">
        <mat-card-header>
          <mat-icon class="iconAlignment">description</mat-icon>
          <span id="identifierId"> Identifiers Details </span>
          <span class="spacer"></span>
        </mat-card-header>

        <div class="card-row">
          <div class="card-column">
            <p class="info">
              <span class="details_label">P-NOMIS ID</span>
              <span id="pnomisId">{{identifiers?.pnomisId || "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">PNC Number</span>
              <span id="pncNoId">{{identifiers?.pncNo || "N/A"}}</span>
            </p>
          </div>
          <div class="card-column">
            <p class="info">
              <span class="details_label">Delius Number</span>
              <span id="deliusNoId">{{identifiers?.deliusNo || "N/A"}}</span>
            </p>
          </div>
        </div>
      </mat-card-content>
    </div>
  </div>
</mat-card>
<!-- Identifiers details end -->

<mat-card id='view_user_learner_info' *ngIf="user?.sentence">
  <div class="card-row">
    <div class="infoSection">
      <mat-card-content class="view_user-plan_container">
        <mat-card-header>
          <mat-icon class="iconAlignment">description</mat-icon>
          <span id="sentenceDetailsId"> Sentence Details </span>
          <span class="spacer"></span>
        </mat-card-header>

        <div class="card-row">
          <div class="card-column">
            <p class="info">
              <span class="details_label">Booking Code</span>
              <span id="bookingCodeId">{{sentence?.bookingCode || "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Main Index Offence</span>
              <span id="indexOffenceId">{{sentence?.mainIndexOffence || "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Sentence Length (Months)</span>
              <span id="slmId">{{sentence?.sentenceLengthMonth || "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Actual Release Date</span>
              <span id="actualReleaseDateId">{{sentence?.actualReleaseDate | date: 'dd/MM/yyyy' || "N/A"}}</span>
              <span id="actualReleaseDate" *ngIf="!sentence?.actualReleaseDate">{{"N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Probation Office Release To</span>
              <span id="pOfficeReleaseId">{{sentence?.probationOfficeReleased || "N/A"}}</span>
            </p>
          </div>

          <div class="card-column">
            <p class="info">
              <span class="details_label">Number of Offence</span>
              <span id="noOfOffenceId">{{sentence?.noOfOffence || "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Sentence Date</span>
              <span id="sentenceDateId">{{sentence?.sentenceDate | date: 'dd/MM/yyyy' || "N/A"}}</span>
              <span id="sentenceDate" *ngIf="!sentence?.sentenceDate">{{"N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Sentence Length (Days)</span>
              <span id="sldId">{{sentence?.sentenceLengthDays || "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Establishment Released From</span>
              <app-list-label [list]="establismentList" [value]="sentence?.establishmentId"></app-list-label>
              <span id="establishmentId" *ngIf="!sentence?.establishmentId">{{ "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Local Authority</span>
              <app-list-label [list]="localAuthorityList" [value]="sentence?.localAuthorityId"></app-list-label>
              <span id="localAuthorityId" *ngIf="!sentence?.localAuthorityId">{{ "N/A"}}</span>
            </p>
          </div>
        </div>
      </mat-card-content>
    </div>
  </div>
</mat-card>

<!-- LLIF project section start -->
<mat-card id='view_user_learner_info' *ngIf="user?.llifProject">
  <div class="card-row">
    <div class="infoSection">
      <mat-card-content class="view_user-plan_container">
        <mat-card-header>
          <mat-icon class="iconAlignment">local_hospital</mat-icon>
          <span id="sentenceDetailsId"> LLIF Project </span>
          <span class="spacer"></span>
        </mat-card-header>

        <div class="card-row">
          <div class="card-column">
            <p class="info">
              <span class="details_label">Participant Number</span>
              <span id="bookingCodeId">{{user.id || "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Recalled?</span>
              <app-list-label [list]="refStatus | slice:0:3" [value]="llifProject.recalled"></app-list-label>
              <span id="recalledId" *ngIf="!llifProject.recalled">{{ "N/A"}}</span>
            </p>
            <div *ngIf="llifProject.recalled == 2">
              <p class="info">
                <span class="details_label">Date of Recall</span>
                <span id="slmId">{{llifProject.recallDate | date: 'dd/MM/yyyy' || "N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">Reason for Recall</span>
                <app-list-label [list]="refRecallReason" [value]="llifProject.recallReasonId"></app-list-label>
                <span id="recallReasonId" *ngIf="!llifProject.recallReasonId">{{ "N/A"}}</span>
              </p>
            </div>
            <p class="info">
              <span class="details_label">Integrated Intervention Resettlement Plan (IIRP) Developed?</span>
              <app-list-label [list]="refStatus" [value]="llifProject.iirpDeveloped"></app-list-label>
              <span id="iirpDevelopedId" *ngIf="!llifProject.iirpDeveloped">{{ "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Date Completed Pilot</span>
              <span id="dateCompletedPilotId">{{llifProject.dateCompletedPilot | date: 'dd/MM/yyyy' || "N/A"}}</span>
              <span id="dateCompletedPilot" *ngIf="!llifProject.dateCompletedPilot">{{"N/A"}}</span>
            </p>
          </div>

          <div class="card-column">
            <p class="info">
              <span class="details_label">Date Participant Provided Consent for Pilot</span>
              <span id="indexOffenceId">{{llifProject.dateParticipantConsentPilot | date: 'dd/MM/yyyy' || "N/A"}}</span>
            </p>
            <p class="info">
              <span class="details_label">Withdrawn from pilot?</span>
              <app-list-label [list]="refStatus" [value]="llifProject.withdrawnPilot"></app-list-label>
              <span id="withdrawnPilotId" *ngIf="!llifProject.withdrawnPilot">{{ "N/A"}}</span>
            </p>
            <div *ngIf="llifProject.withdrawnPilot == 2">
              <p class="info">
                <span class="details_label">Date Withdrawn</span>
                <span id="slmId">{{llifProject.withdrawnDate | date: 'dd/MM/yyyy' || "N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">Reason for Withdrawn</span>
                <app-list-label [list]="refWithdrawnReason" [value]="llifProject.withdrawalReasonId"></app-list-label>
                <span id="withdrawalReasonId" *ngIf="!llifProject.withdrawalReasonId">{{ "N/A"}}</span>
              </p>
            </div>
          </div>
        </div>

        <div class="card-row">
          <span class="subTitle mt10">Substance Misuse</span>
        </div>
        <div class="subSectionLlif">
          <div class="card-row">
            <div class="card-column">
              <p class="info">
                <span class="details_label">Substance Misuse Services (SMS) Coordinated (prior to release)</span>
                <app-list-label [list]="refStatus" [value]="llifProject.smsCoordinated"></app-list-label>
                <span id="smsCoordinatedId" *ngIf="!llifProject.smsCoordinated">{{ "N/A"}}</span>
              </p>
            </div>
            <div class="card-column">
              <p class="info">
                <span class="details_label">Substance Misuse Services (SMS) Accessed (on release)</span>
                <app-list-label [list]="refStatus" [value]="llifProject.smsAccessed"></app-list-label>
                <span id="smsAccessedId" *ngIf="!llifProject.smsAccessed">{{ "N/A"}}</span>
              </p>
            </div>
          </div>
        </div>

        <div class="card-row">
          <span class="subTitle">Family</span>
        </div>
        <div class="subSectionLlif">
          <div class="card-row">
            <div class="card-column">
              <p class="info">
                <span class="details_label">Family Reintegration Intervention Provided</span>
                <app-list-label [list]="refStatus" [value]="llifProject.familyReintegrationInterventionProvided">
                </app-list-label>
                <span id="frpId" *ngIf="!llifProject.familyReintegrationInterventionProvided">{{ "N/A"}}</span>
              </p>
            </div>
            <div class="card-column">
              <p class="info">
                <span class="details_label">Support Network Identified (Direct family, distant family, friends,
                  career)</span>
                <app-list-label [list]="refStatus" [value]="llifProject.supportNetworkIdentified">
                </app-list-label>
                <span id="supportNetworkIdentified" *ngIf="!llifProject.supportNetworkIdentified">{{ "N/A"}}</span>
              </p>
            </div>
          </div>
          <div class="card-row">
            <div class="card-column">
              <p class="info">
                <span class="details_label">PL reports improved relationships</span>
                <app-list-label [list]="refStatus" [value]="llifProject.plReportsImprovedRelationships">
                </app-list-label>
                <span id="plReportsImprovedRelationships" *ngIf="!llifProject.plReportsImprovedRelationships">{{
                  "N/A"}}</span>
              </p>
            </div>
            <div class="card-column">
              <p class="info">
                <span class="details_label">PLs family reports improved relationships</span>
                <app-list-label [list]="refStatus" [value]="llifProject.plFamilyReportsImprovedRelationships">
                </app-list-label>
                <span id="plFamilyReportsImprovedRelationships"
                  *ngIf="!llifProject.plFamilyReportsImprovedRelationships">{{ "N/A"}}</span>
              </p>
            </div>
          </div>
          <div class="card-row">
            <div class="card-column">
              <p class="info">
                <span class="details_label">PL has family support upon release</span>
                <app-list-label [list]="refStatus" [value]="llifProject.plHasFamilySupportUponRelease">
                </app-list-label>
                <span id="plHasFamilySupportUponRelease" *ngIf="!llifProject.plHasFamilySupportUponRelease">{{
                  "N/A"}}</span>
              </p>
            </div>
            <div class="card-column"></div>
          </div>
        </div>

        <div class="card-row">
          <span class="subTitle">Psychological/Emotional Support</span>
        </div>
        <div class="subSectionLlif">
          <div class="card-row">
            <div class="card-column">
              <p class="info">
                <span class="details_label">Completed Programme?</span>
                <app-list-label [list]="refStatus" [value]="emotionalSupport?.completedProgramme">
                </app-list-label>
                <span id="completedProgramme" *ngIf="!emotionalSupport?.completedProgramme">{{ "N/A"}}</span>
              </p>
            </div>
            <div class="card-column">
              <p class="info">
                <span class="details_label">Qualify for Peer Mentoring Sessions?</span>
                <app-list-label [list]="refStatus" [value]="emotionalSupport?.qualifyForPeerMentoringSessions">
                </app-list-label>
                <span id="qualifyForPeerMentoringSessions" *ngIf="!emotionalSupport?.qualifyForPeerMentoringSessions">{{
                  "N/A"}}</span>
              </p>
            </div>
          </div>
        </div>

        <div class="card-row">
          <span class="subTitle">Employment</span>
        </div>
        <div class="subSectionLlif">
          <div class="card-row">
            <div class="card-column">
              <p class="info">
                <span class="details_label">Completed Employment training in custody?</span>
                <app-list-label [list]="refStatus" [value]="employment?.completedEmpTrainingInCustody">
                </app-list-label>
                <span id="completedEmpTrainingInCustody" *ngIf="!employment?.completedEmpTrainingInCustody">{{
                  "N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">Achieved a qualification</span>
                <app-list-label [list]="refStatus" [value]="employment?.achievedQualification">
                </app-list-label>
                <span id="achievedQualification" *ngIf="!employment?.achievedQualification">{{ "N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">Work Placement?</span>
                <app-list-label [list]="refStatus" [value]="employment?.workPlacement">
                </app-list-label>
                <span id="workPlacement" *ngIf="!employment?.workPlacement">{{ "N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">Employer/Role</span>
                <span id="employerAndRole">{{employment?.employerAndRole || "N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">Post Employment Support?</span>
                <app-list-label [list]="refStatus" [value]="employment?.postEmploymentSupport">
                </app-list-label>
                <span id="postEmploymentSupport" *ngIf="!employment?.postEmploymentSupport">{{ "N/A"}}</span>
              </p>
            </div>
            <div class="card-column">
              <p class="info">
                <span class="details_label">Completed Employment training in community?</span>
                <app-list-label [list]="refStatus" [value]="employment?.completedEmpTrainingInCommunity">
                </app-list-label>
                <span id="completedEmpTrainingInCommunity" *ngIf="!employment?.completedEmpTrainingInCommunity">{{
                  "N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">Qualification or Skill gained</span>
                <app-list-label [list]="refStatus" [value]="employment?.qualificationOrSkillGained">
                </app-list-label>
                <span id="qualificationOrSkillGained" *ngIf="!employment?.qualificationOrSkillGained">{{ "N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">Gained Employment?</span>
                <app-list-label [list]="refStatus" [value]="employment?.gainedEmployment">
                </app-list-label>
                <span id="gainedEmployment" *ngIf="!employment?.gainedEmployment">{{ "N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">Start Date</span>
                <span id="startDateId">{{employment?.startDate | date: 'dd/MM/yyyy' || "N/A"}}</span>
                <span id="startDate" *ngIf="!employment?.startDate">{{"N/A"}}</span>
              </p>
              <p class="info">
                <span class="details_label">In consistent employment for more than 6 months</span>
                <app-list-label [list]="refStatus" [value]="employment?.inEmploymentMoreThanSixMonths">
                </app-list-label>
                <span id="inEmploymentMoreThanSixMonths" *ngIf="!employment?.inEmploymentMoreThanSixMonths">{{
                  "N/A"}}</span>
              </p>
            </div>
          </div>
        </div>
      </mat-card-content>
    </div>
  </div>
</mat-card><!-- LLIF project section end -->

<mat-card id='view_user_learner_info' *ngIf="user?.uln">
  <mat-card-content class="view_user-plan_container">
    <mat-card-header>
      <mat-icon class="iconAlignment">library_books</mat-icon>
      <span id="learnerId"> Learner Information </span>
      <span class="spacer"></span>
      <span>
        <button id="edit_view_button" mat-stroked-button color="primary">Edit</button>
      </span>
    </mat-card-header>

    <div class="card-row">
      <div class="card-column">
        <p class="info">
          <span class="details_label">ULN</span>
          <span id="ulnId">{{user?.uln || "N/A"}}</span>
        </p>
        <p class="info">
          <span class="details_label">Previous LRN</span>
          <span id="lrnPreviousId">{{user?.lrnPrevious || "N/A"}}</span>
        </p>
        <p class="info">
          <span class="details_label">Learner Self Assessment LDD and Health Problem</span>
          <span id="selfAssessmentLddId">{{user?.selfAssessmentLdd || "N/A"}}</span>
        </p>
        <p class="info">
          <span class="details_label">Maths Initial Assessment</span>
          <span id="mathInitialAssessmentId">{{user?.mathInitialAssessment || "N/A"}}</span>
        </p>
        <p class="info">
          <span class="details_label">Date of Maths Assessment</span>
          <span id="mathsAssessmentDateId">{{(user?.mathsAssessmentDate | date:'dd MMMM yyyy') || "N/A" }}</span>
        </p>

        <p class="info">
          <span class="details_label">ESOL</span>
          <span id="esolId">{{user?.esol || "No"}}</span>
        </p>
      </div>

      <div class="card-column learnerInfo">
        <p class="info">
          <span class="details_label">LRN</span>
          <span id="lrnId">{{user?.lrn || "N/A"}}</span>
        </p>
        <p class="info">
          <span class="details_label">Prior Attainment</span>
          <span id="priorAttainmentId">{{user?.priorAttainment || "N/A"}}</span>
        </p>
        <p class="info">
          <span class="details_label">English Initial Assessment</span>
          <span id="englishInitialAssessmentId">{{user?.englishInitialAssessment || "N/A"}}</span>
        </p>
        <p class="info">
          <span class="details_label">Date of English Assessment</span>
          <span id="englishAssessmentDateId">{{(user?.englishAssessmentDate | date:'dd MMMM yyyy') || "N/A" }}</span>
        </p>
        <p class="info">
          <span class="details_label">Planned Learning Hours</span>
          <span id="plannedHours">{{user?.plannedHours || "N/A"}}</span>
        </p>
      </div>
    </div>
    <div class="label-hr" *ngIf="lddSize > 0">
      <a><span id="LLDDid">LLDD and Health Problem</span></a>
    </div>

    <div class="card-row" *ngIf="lddSize > 0">
      <div class="card-column">
        <p class="info" *ngIf="lddSize > 0">
          <span id="HealthLLDDId" class="details_label">Primary LLDD and Health Problem</span>
          <span *ngFor="let lld of user?.lldAndHealthProblemList; let i=index;">
            <span *ngIf="lld?.isPrimary">
              <p class="card-row" *ngIf="lld?.llldAndHealthProblem!='Not provided'">
                <mat-icon class="alert card-column-25">error</mat-icon>
                <span id="llldAndHealthProblem{{i}}" class="lldname">{{lld?.llldAndHealthProblem || "N/A"}}</span>
              </p>
              <p *ngIf="lld?.llldAndHealthProblem == 'Not provided'">
                <span id="{{i}}">{{lld?.llldAndHealthProblem || "N/A"}}</span>
              </p>
            </span>
          </span>
        </p>
      </div>
      <div class="card-column">
        <p class="info" *ngIf="lddSize > 0">
          <span id="ProblemHealthLLDDId" class="details_label">Additional LLDD and Health Problem</span>
          <span *ngFor="let lld of user?.lldAndHealthProblemList; let i=index;">
            <span *ngIf="!lld?.isPrimary">
              <p class="card-row" *ngIf="lld?.llldAndHealthProblem!='Not provided'">
                <mat-icon class="alert card-column-25">error</mat-icon>
                <span id="lldllldAndHealthProblem{{i}}" class="lldname">{{lld?.llldAndHealthProblem || "N/A"}}</span>
              </p>
              <p *ngIf="lld?.llldAndHealthProblem=='Not provided'">
                <span id="lld{{i}}">{{lld?.llldAndHealthProblem || "N/A"}}</span>
              </p>
            </span>
          </span>
        </p>
      </div>
    </div>

    <div class="label-hr" *ngIf="courseSize > 0">
      <span id="coursesId">
        <a>Courses ({{courseSize}})</a>
      </span>
    </div>
    <div class="card-row" *ngIf="courseSize > 0">

      <p class="card-column" *ngFor="let course of user?.courseList; let i=index;">
        <span id="{{i}}" class="details_label">{{course.courseName}}</span>
        <span id="dateId{{i}}">{{course.effectiveFrom | date:'dd MMMM yyyy'}} -
          {{course.effectiveTo | date:'dd MMMM yyyy'}}</span>
      </p>

    </div>
  </mat-card-content>
</mat-card>