<div class="tabWrapper">
  <ul>
    <li class="tabHead" routerLink="/profile-tabs/view-user-profile" queryParamsHandling="merge">
      <a class="tab-item" id="profile-tab" attr.aria-label="tab Profile">Profile</a>
    </li>
    <li class="tabHead active">
      <a class="tab-item" id="plan-induction-tab" attr.aria-label="tab Plan induction">Plan induction</a>
    </li>
  </ul>
</div>

<mat-card id='view_user-plan-induction'>
  <mat-card-header>
    <mat-icon class="iconAlignment">description</mat-icon>
    <span>Plan induction</span>
  </mat-card-header>

  <mat-card-content>
    <div class="date-agreed-container" *ngIf="noInductionMessage || planDate">
      <span class="date-label" *ngIf="noInductionMessage">{{noInductionMessage}}</span>
      <span class="date-label" *ngIf="!noInductionMessage">{{planDate | date: 'dd/MM/yyyy'}}</span>
      <span class="status" *ngIf="planStatus">{{planStatus}}</span>
    </div>

    <div class="card-row" >
      <div class="info-container"*ngFor="let question of inductionData">

        <ng-container [ngSwitch]="true">
          <ng-container *ngSwitchCase="question.pageNumber === 'three'">
            <p class="info">
              <span class="details_label">{{question.label}}</span>
              <span id="value-{{pageNumber}}" class="details-value">{{question.value[0]}}</span>
            </p>
            <p class="info" *ngIf="question.value[1] !== 'No'">
              <span class="details_label">I speak</span>
              <ng-container *ngFor="let value of question.value; let i = index">
                <span *ngIf="i > 0 && value !== 'Yes'" id="i-speak-{{pageNumber}}" class="details-value">{{value}}</span>
              </ng-container>
            </p>
          </ng-container>
          <ng-container *ngSwitchCase="question.pageNumber === 'four'">
            <p class="info">
              <span class="details_label">{{question.label}}</span>
              <span id="value-{{pageNumber}}" class="details-value">{{question.value[0] | date: 'MM/yyyy'}}</span>
            </p>
          </ng-container>
          <ng-container *ngSwitchCase="question.pageNumber === 'seven'">
            <p class="info">
              <span class="details_label">{{question.label}}</span>
              <ng-container *ngFor="let value of question.value; let j = index">
                <span *ngIf="j > 0" id="value-{{pageNumber}}" class="details-value">{{value}}</span>
              </ng-container>
            </p>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <p class="info">
              <span class="details_label">{{question.label}}</span>
              <ng-container *ngFor="let value of question.value">
                <span id="value-{{pageNumber}}" class="details-value">{{value}}</span>
              </ng-container>
            </p>
          </ng-container>
        </ng-container>


        <ng-container [ngSwitch]="true">
          <ng-container *ngSwitchCase="question.hasHistory">
            <div class="history-btn-container">
              <span>
                <button mat-stroked-button color="primary" (click)="togglePanelState(question.pageNumber, question.panelStateOpen, question.sectionIdentifier, question.sectionDescription)">
                  History
                </button>
              </span>
            </div>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <div class='empty-history-btn-container'></div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="question.panelStateOpen">
          <p class="history">
            <span class="details_label">{{question.label}} history</span>
          </p>
          <p class="history-date" *ngFor="let record of inductionHistory">
            <span class="details_label">{{record.date | date: 'dd/MM/yyyy'}}:</span>
            <span *ngFor="let answer of record.formattedAnsList; let i = index" id="value-{{pageNumber}}" class="details-value">
              <ng-container *ngIf="record.sectionIdentifier === '7'">
                <span *ngIf="i > 0">{{answer}}</span>
              </ng-container>
              <ng-container *ngIf="record.sectionIdentifier !== '7'">
                <span>{{answer}}</span>
              </ng-container>
            </span>
          </p>
        </ng-container>

      </div>
    </div>
  </mat-card-content>
</mat-card>
