@import "~src/styles/helpers/mixins/grid";
@import "~src/styles/helpers/variables/palette";

.tabWrapper {
  margin-top: 10px;
  position: relative;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 44px;
    border-bottom: 1px solid $grey-2;

    @include media(mobile) {
        height: 45px;
    }
    
    li {
      position: relative;
      margin: 0 5px 0 0;
      padding: 10px 20px 1px;
      float: left;
      background-color: none;
      text-align: center;
      cursor: pointer;
      
      @include media(mobile) {
          cursor: pointer;
          display: inline-block;
      }
      a {
          margin-right: 3px;
          float: left;
          color: #666;
          text-align: center;
          text-decoration: none;
        }
    }

    li:focus {
      outline: none;
    }
    
    li.active {
      margin-top: -5px;
      margin-bottom: -1px;
      padding: 14px 19px 11px 19px;
      border-bottom: 3px solid #fd6f1a;
      background-color: none;
      
      @include media(mobile) {
          background-color: transparent;
      }
    }
  }
}

.iconAlignment {
  margin: 2px 10px 0 0;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; // 47.5%
}

.info {
  word-break: break-word;
  width: 90%;
}

.details-value {
  display: block;
}

.history-btn-container {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  button {
    margin-top: 12px;
  }
}

.empty-history-btn-container {
  width: 10%;
}

.history {
  width: 100%;
}

.info-container {
  .history-date {
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .history-date:last-of-type {
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 12px;
    border-bottom: none;
  }
}

.status {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #fd6f1a;
  font-size: 12px;
  color: white;
  border-radius: 4px;
}

.date-agreed-container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  .date-label {
    padding-right: 10px;
  }
}