<div class="header">
    <div class="tabWrapper">
        <ul>
            <li class="tabHead" [routerLink]="['./jobs']" routerLinkActive="active"
                queryParamsHandling="preserve">
                <a class="tab-item" id="prisonJobs-tab" attr.aria-label="tab Month">Local Jobs</a>
            </li>
            <li class="tabHead" [routerLink]="['./expression-of-interest']" routerLinkActive="active"
                queryParamsHandling="preserve">
                <a class="tab-item" id="nfnJobs-tab" attr.aria-label="tab Month">Expressions of Interest</a>
            </li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>