.sessions_container {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

img.app-logo {
    width: 250px;
    max-height: 100%;
    object-fit: contain;
    border: 0;
}