<mat-dialog-content class="modal-container">
  <label id="add-intervention-label">Add Intervention</label>
  <form [formGroup]="addInterventionForm" (ngSubmit)="confirmAddIntervention()" validate autocomplete="off">
    <div class="add-intervention-form-container">

      <mat-form-field appearance="outline">
        <mat-label>Intervention Name</mat-label>
        <mat-select placeholder="Select Intervention Name" formControlName="interventionName" id="interventionName"
          required>
          <mat-option *ngFor="let intervention of data.interventionList" [value]="intervention"
            id="intervention-{{intervention.identifier}}">
            {{intervention.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addInterventionForm.get('interventionName').hasError('required')">
          Intervention Name is required
        </mat-error>
      </mat-form-field>
      <ng-container
        *ngIf="addInterventionForm.controls.interventionName.value && addInterventionForm.controls.interventionName.value.identifier === 'OTH-10'">
        <mat-form-field appearance="outline">
          <mat-label>Other Intervention Name</mat-label>
          <input matInput placeholder="Other Intervention Name" formControlName="otherInterventionName"
            id="otherInterventionName" required>
          <mat-error *ngIf="addInterventionForm.get('otherInterventionName').hasError('required')">
            Other Intervention Name is required
          </mat-error>
          <mat-error *ngIf="addInterventionForm.get('otherInterventionName').hasError('maxlength')">
            Other Intervention Name should be less than 150 characters
          </mat-error>
        </mat-form-field>
      </ng-container>
      <mat-form-field appearance="outline">
        <mat-label>Select Pathway</mat-label>
        <mat-select placeholder="Select Pathway" formControlName="pathway" id="pathway" required>
          <mat-option *ngFor="let pathway of data.pathwayList" [value]="pathway" id="pathway-{{pathway.identifier}}">
            {{pathway.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addInterventionForm.get('pathway').hasError('required')">
          Pathway is required
        </mat-error>
      </mat-form-field>
      <div class="intervention-dates-container">
        <div class="date-input-container">
          <mat-form-field appearance="outline">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" placeholder="Start Date"
              id="startDate" required [max]="calculateMaxStartDate()">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            <mat-error *ngIf="addInterventionForm.get('startDate').getError('required')">
              Start Date is required
            </mat-error>
            <mat-error *ngIf="addInterventionForm.get('startDate').getError('matDatepickerMax')">
              Start Date must be before planned end date
            </mat-error>
          </mat-form-field>
        </div>
        <div class="date-input-container">
          <mat-form-field appearance="outline">
            <mat-label>Planned End Date</mat-label>
            <input matInput [min]="calculateMinPlannedEndDate()" [matDatepicker]="plannedEndDatePicker"
              formControlName="plannedEndDate" placeholder="Planned End Date" id="plannedEndDate" required>
            <mat-datepicker-toggle matSuffix [for]="plannedEndDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #plannedEndDatePicker></mat-datepicker>
            <mat-error *ngIf="addInterventionForm.get('plannedEndDate').getError('required')">
              Planned End Date is required
            </mat-error>
            <mat-error *ngIf="addInterventionForm.get('plannedEndDate').getError('matDatepickerMin')">
              Planned End Date must be after start date
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Project</mat-label>
        <mat-select placeholder="Select Project" formControlName="project" id="project"
          required>
          <mat-option *ngFor="let project of data.projectList" [value]="project"
            id="project-{{project.identifier}}">
            {{project.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addInterventionForm.get('project').hasError('required')">
          Project is required
        </mat-error>
      </mat-form-field>
      <ng-container
        *ngIf="addInterventionForm.controls.project.value && addInterventionForm.controls.project.value.identifier === 'OTH-10'">
        <mat-form-field appearance="outline">
          <mat-label>Other Project</mat-label>
          <input matInput placeholder="Other Project" formControlName="otherProject"
            id="otherProject" required>
          <mat-error *ngIf="addInterventionForm.get('otherProject').hasError('required')">
            Other Project is required
          </mat-error>
          <mat-error *ngIf="addInterventionForm.get('otherProject').hasError('maxlength')">
            Other Project should be less than 150 characters
          </mat-error>
          <mat-error
            *ngIf="addInterventionForm.get('otherProject').hasError('pattern') && !addInterventionForm.get('otherProject').hasError('maxlength')">
            Only alphanumeric characters, space and -/'!,.() are allowed for Other Project
          </mat-error>
        </mat-form-field>
      </ng-container>
      <mat-form-field appearance="outline">
        <mat-label>Organisation Delivering Intervention</mat-label>
        <mat-select placeholder="Select Organisation Delivering Intervention" formControlName="orgDeliveringInter"
          id="orgDeliveringInter" required>
          <mat-option *ngFor="let organisation of data.organisationList" [value]="organisation"
            id="organisation-{{organisation.identifier}}">
            {{organisation.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addInterventionForm.get('orgDeliveringInter').hasError('required')">
          Organisation Delivering Intervention is required
        </mat-error>
      </mat-form-field>
      <ng-container
        *ngIf="addInterventionForm.controls.orgDeliveringInter.value && addInterventionForm.controls.orgDeliveringInter.value.identifier === 'OTH-10'">
        <mat-form-field appearance="outline">
          <mat-label>Other Organisation Delivering Intervention</mat-label>
          <input matInput placeholder="Other Organisation Delivering Intervention"
            formControlName="organisationName" id="organisationName" required>
          <mat-error *ngIf="addInterventionForm.get('organisationName').hasError('required')">
            Other Organisation Delivering Intervention is required
          </mat-error>
          <mat-error *ngIf="addInterventionForm.get('organisationName').hasError('maxlength')">
            Other Organisation Delivering Intervention should be less than 50 characters
          </mat-error>
          <mat-error
            *ngIf="addInterventionForm.get('organisationName').hasError('pattern') && !addInterventionForm.get('organisationName').hasError('maxlength')">
            Only alphanumeric characters, space and -/'!,.() are allowed for Other Organisation Delivering Intervention
          </mat-error>
        </mat-form-field>
      </ng-container>
      <mat-form-field appearance="outline">
        <mat-label>Contact Name</mat-label>
        <input matInput placeholder="Contact Name" formControlName="contactName" id="contactName" required>
        <mat-error *ngIf="addInterventionForm.get('contactName').hasError('required')">
          Contact Name is required
        </mat-error>
        <mat-error *ngIf="addInterventionForm.get('contactName').hasError('maxlength')">
          Contact Name should be less than 50 characters
        </mat-error>
        <mat-error
          *ngIf="addInterventionForm.get('contactName').hasError('pattern') && !addInterventionForm.get('contactName').hasError('maxlength')">
          Only letters, space and -' are allowed for Contact Name
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Telephone</mat-label>
        <input matInput placeholder="Telephone" formControlName="telephone" id="telephone" required>
        <mat-error *ngIf="addInterventionForm.get('telephone').hasError('required')">
          Telephone is required
        </mat-error>
        <mat-error
          *ngIf="addInterventionForm.get('telephone').hasError('maxlength') && !addInterventionForm.get('telephone').hasError('pattern')">
          Telephone should be less than 18 characters
        </mat-error>
        <mat-error *ngIf="addInterventionForm.get('telephone').hasError('pattern')">
          Please enter a valid telephone number
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" id="email" required>
        <mat-error *ngIf="addInterventionForm.get('email').hasError('required')">
          Email is required
        </mat-error>
        <mat-error
          *ngIf="addInterventionForm.get('email').hasError('pattern') && !addInterventionForm.get('email').hasError('maxlength')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Intervention Description</mat-label>
        <textarea rows="5" matInput placeholder="Intervention Description" formControlName="interventionDescription"
          id="interventionDescription" required></textarea>
        <mat-hint
          *ngIf="addInterventionForm.get('interventionDescription').value != null && addInterventionForm.get('interventionDescription').value.length !=(500-1) && (500) >= 
            addInterventionForm.get('interventionDescription').value.length && addInterventionForm.get('interventionDescription').value.length != 0">
          {{500 - addInterventionForm.get('interventionDescription').value.length}} characters left</mat-hint>

        <mat-hint
          *ngIf="addInterventionForm.get('interventionDescription').value != null && addInterventionForm.get('interventionDescription').value.length == (500-1)">
          1 character left
        </mat-hint>

        <mat-hint *ngIf="addInterventionForm.get('interventionDescription').value == null">
          Minimum 1 and maximum 500 characters allowed
        </mat-hint>
        <mat-error *ngIf="addInterventionForm.get('interventionDescription').hasError('required')">
          Intervention Description required
        </mat-error>
        <mat-error *ngIf="addInterventionForm.get('interventionDescription').hasError('maxlength')">
          Intervention Description should be less than 500 characters
        </mat-error>
      </mat-form-field>
    </div>
  </form>
  <div class="action-buttons-container">
    <button id="confirm_add_intervention_button" mat-flat-button color="primary" [disabled]="!addInterventionForm.valid"
      (click)="confirmAddIntervention()">Add</button>
    <button id="cancel_button" mat-stroked-button color="primary" (click)="cancelAddIntervention()">Cancel</button>
  </div>
</mat-dialog-content>