<mat-card id="edit-user">

  <mat-card-header class="flex-end">
    <button id="exit_user_button" mat-stroked-button color="primary" [routerLink]="['/manage-users']">Exit</button>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" validate autocomplete="off">
      <div class="label-hr">
        <span>Account Details</span>
      </div>

      <div class="card-column">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput formControlName="userName" id="userName" required>
          <mat-error *ngIf="userForm.controls.userName.invalid && !userForm.controls.userName.errors?.maxlength && !userForm.controls.userName.errors?.pattern">
            Username is required
          </mat-error>
          <mat-error *ngIf="userForm.controls.userName.errors?.maxlength">
            Username should be less than 21 characters
          </mat-error>
          <mat-error *ngIf="userForm.controls.userName.errors?.pattern && !userForm.controls.userName.errors?.maxlength">
            Use only alphanumeric characters for your Username. A single dot (.) is also accepted
          </mat-error>
        </mat-form-field>
      </div>

      <div class="card-row">
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Account Type</mat-label>
            <ng-container *ngIf="routeIntent === 'newUser'">
              <mat-select placeholder="Account Type" formControlName="accountType" required>
                <mat-option *ngFor="let role of roles" [value]="role" id="accountType-{{role.id}}" [disabled]="role.isDisabled">{{role?.roleName}}</mat-option>
              </mat-select>
            </ng-container>
            <ng-container *ngIf="routeIntent === 'editUser'">
              <input  matInput type="text" name="accountType" id="" value="{{accountType}}" disabled>
            </ng-container>
          </mat-form-field>
        </div>
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Account State</mat-label>
            <mat-select placeholder="Account State" formControlName="accountState">
              <mat-option [value]="true" id="account_state_enabled">Enabled</mat-option>
              <mat-option [value]="false" id="account_state_disabled">Disabled</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="label-hr">
        <span>Staff Details</span>
      </div>

      <div class="card-row">
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <mat-select placeholder="Title" [value]="" formControlName="title" id="title">
              <mat-option *ngFor="let option of titles" [value]="option" id="title-{{option}}">
                {{option}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" id="firstName" required>
            <mat-error *ngIf="userForm.controls.firstName.invalid && !userForm.controls.firstName.errors?.maxlength && !userForm.controls.firstName.errors?.pattern">
              First Name is required
            </mat-error>
            <mat-error *ngIf="userForm.controls.firstName.errors?.maxlength">
              First Name should be less than 100 characters
            </mat-error>
            <mat-error *ngIf="userForm.controls.firstName.errors?.pattern">
              Invalid value
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Family Name</mat-label>
            <input matInput formControlName="lastName" id="lastName" required>
            <mat-error *ngIf="userForm.controls.lastName.invalid && !userForm.controls.lastName.errors?.maxlength && !userForm.controls.lastName.errors?.pattern">
              Family Name is required
            </mat-error>
            <mat-error *ngIf="userForm.controls.lastName.errors?.maxlength">
              Family Name should be less than 100 characters
            </mat-error>
            <mat-error *ngIf="userForm.controls.lastName.errors?.pattern">
              Invalid value
            </mat-error>
          </mat-form-field>
        </div>
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Telephone</mat-label>
            <input matInput formControlName="phoneNumber" id="telephone">
            <mat-error *ngIf="userForm.controls.phoneNumber.errors?.maxlength && !userForm.controls.phoneNumber.errors?.pattern">
              Telephone should be less than 18 characters
            </mat-error>
            <mat-error *ngIf="userForm.controls.phoneNumber.errors?.pattern">
              Telephone not valid. Please use only numbers
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="emailAddress" id="emailAddress" required>
            <mat-error *ngIf="userForm.controls.emailAddress.invalid && !userForm.controls.emailAddress.errors?.maxlength && !userForm.controls.emailAddress.errors?.pattern">
              Email Address is required
            </mat-error>
            <mat-error *ngIf="userForm.controls.emailAddress.errors?.pattern && !userForm.controls.emailAddress.errors?.maxlength">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="userForm.controls.emailAddress.errors?.maxlength">
              Email Address should be less than 100 characters
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-card-footer>
        <span class="spacer"></span>
        <span>
          <button type="submit" id="save_user_button" mat-flat-button color="primary" [disabled]="!userForm.valid">Save</button>
        </span>
      </mat-card-footer>

    </form>
  </mat-card-content>

</mat-card>
