.actions {
    button {
      margin: 15px 0px;
    }
  }
  
  .keyword-list {
  
    display: flex;
    flex-wrap: wrap;
  
    .input_chip {
      margin: 8px;
      padding : 7px 20px 8px;
      background-color: #fd6f1a;
  
      span {
        font-size: 18px;
      }
    }
  
    @media (max-width: 598px) {
      .mat-list-option { 
        width: 100%;
      }
    }
  
    .chip {
      margin: 4px 5px 8px 5px;
    }
  
   
  }
  
  .keyword-container {
    width: 100%;
  }

  .contentImg {
    width: 100%;
    max-width: 350px;
   }
  .mb20{
    margin-bottom: 20px;
  }
  .info {
    word-break: break-word;
    min-height: 41px;
  }
  .infoSection {
    width: 100%;
  }
  .profileImg {
    width: 8.3em;
  }
  .alert{
    color: orange;
    position: absolute;
  }
  .learnerInfo .info p {
    position: relative;
  }
  .info span.lldname {
    margin-left: 30px;
  }
  .textIndent{
    text-indent: 7%;
  }
  .label-hr {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 16px 0;
    flex: 1;
  }
  .iconAlignment {
    margin: 2px 10px 0 0;
  }
  .width-40{
    flex: auto;
  }
  @media screen and (max-width: 767px) {
    .infoSection {
      width: 100%;
    }
    .imgSection {
      position: absolute;
      top: 5em;
    }
  
  }

  
  .custom-row-container-left {
    width: 85%;
    display: flex;
  
    @media (max-width: 992px) {
      flex-direction: column;
    }
  
    @media (max-width: 550px) {
      width: 100%;
    }
  }
  
  .custom-row-container-right {
    width: 150px;
    height: auto;
    display: flex;
    justify-content: flex-end;
  
    @media (max-width: 992px) {
      align-items: flex-start;
    }
  
    @media (max-width: 550px) {
      width: 100%;
      justify-content: flex-end;
    }
  }
  
  .ml10 {
    margin-left: 10px;
  
    @media (max-width: 992px) {
      margin-left: 0px;
    }
  }
  
  .custom-row {
    width: calc(100% - 185px);
  
    @media (max-width: 550px) {
      width: 100%;
    }
  }
  
  .custom-card-row-container {
    display: flex;
    justify-content: space-between;
  
    @media (max-width: 550px) {
      flex-direction: column-reverse;
    }
  }
  
  .custom-card-column {
    @media (max-width: 992px) {
      width: 95% !important;
    }
  
    @media (max-width: 550px) {
      width: 100% !important;
    }
  }

  
  