<div class="header">
    <div class="tabWrapper">
        <ul>
            <li class="tabHead" [routerLink]="['./local-jobs']" [queryParams]="{id: userId, fullName: fname, SU: SU}" 
                (click)="jobActivityTabs('localJobs')" [ngClass]="{'active': localJobs}">
                <a class="tab-item" id="localJobs-tab" 
                    attr.aria-label="tab Month">Local Jobs</a>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>
