<div class="grid-row nomargin">
  <div class="main-tab-container">
    <div class="tabWrapper">
      <ul>
        <li class="tabHead" [ngClass]="{'activeTab': activeTab === 'plan'}">
          <a class="tab-item" id="plan-tab" attr.aria-label="tab Plan Content Card">Plan</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Plan tab -->
  <ng-container *ngIf="activeTab === 'plan'">
    <mat-card *ngIf="goalsData !== undefined">
      <ng-container>
        <div class="goals-alert-container" id="goals-container" *ngIf="goalsData">
          <div class="goals-container" id="goals-container">
            <h2 class="goals-alert-heading" id="goals-heading">Goals</h2>
            <p *ngFor="let goal of goalsData; let i = index" class="goals-alert-body" id="goal-{{i+1}}">{{goal}}</p>
          </div>
        </div>
      
        <div id="tabWrapper" class="tabWrapper">
          <ul>
            <li
              tabindex='0'
              (click)="setActivePlanSubTab('schedule')"
              (keyup.enter)="setActivePlanSubTab('schedule')"
              [class.active]="activePlanSubTab === 'schedule'"
              class="tabHead"
            ><a class="tab-item" id="schedule-tab" attr.aria-label="tab Schedule">Schedule</a>
            </li>
            <li
              tabindex='0'
              (click)="setActivePlanSubTab('track')"
              (keyup.enter)="setActivePlanSubTab('track')"
              [class.active]="activePlanSubTab === 'track'"
              class="tabHead"
            ><a class="tab-item" id="track-tab" attr.aria-label="tab Track">Track</a>
            </li>
          </ul>
        </div>
        <div class="planWrapper" [ngSwitch]="activePlanSubTab">
          <app-schedule-tab 
            *ngSwitchCase="'schedule'" 
            [pathwayList]="pathwayList"
          ></app-schedule-tab>
          <app-track-tab 
            *ngSwitchCase="'track'" 
            [fStructureData]="fStructureData" 
            [loadMoreVisible]="loadMoreVisible"
            (loadMore)="onLoadMoreClicked($event)"
            (refreshFStructureData)="onNewEntryAdded($event)"
            (emitUpdateInterventionEvent)="updateFStructureDataAfterEntryChange($event)"
          ></app-track-tab>
        </div>
      </ng-container>
    </mat-card>
  </ng-container>
</div>
