@import "~src/styles/helpers/mixins/grid";
@import "~src/styles/helpers/variables/palette";
@import "~src/styles/helpers/mixins/typography";

.grid-row {
  word-break: break-word;
  overflow: auto;
  display: block;
  margin-bottom: 20px;
}

.main-tab-container {
  .tabWrapper {
    position: relative;
  
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      height: 44px;
      border-bottom: 1px solid grey;
      
      li {
        position: relative;
        margin: 0 33px 0 0;
        padding: 10px 1px 1px;
        float: left;
        background-color: none;
        text-align: center;
        cursor: pointer;
        
        a {
          margin-right: 3px;
          float: left;
          color: #666;
          text-align: center;
          text-decoration: none;
        }

        &:focus a{
          color: black;
          background-color: focus-colour;
          -webkit-box-shadow: 0 -2px focus-colour, 0 4px black;
          box-shadow: 0 -2px focus-colour, 0 4px black;
          text-decoration: none;
        }
      }
      
      li.activeTab{
        border-bottom: 3px solid #fd6f1a;
        margin-top: -5px;
        margin-bottom: -1px;
        padding: 14px 19px 11px 19px;
      }
    }
  }
}

.tabPlanContainer {
  padding: 25px 25px 0px 25px;
  border: 1px solid #bfc1c3;
  border-top: 0;
  background-color: white;

  .planWrapper {
    padding: 5px 10px 5px 10px;
    border: 1px solid #bfc1c3;
    border-top: none;
    margin-bottom: 30px;
    background-color: white;
  }
}

div.timeline-container {
  ul li {
    margin-left: 0px;
  }

  ul {
    margin-left: 0px;
  }
}

#tabWrapper.tabWrapper {
  margin-top: 10px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 49px;
    border-bottom: 1px solid $grey-2;
    
    @include media(mobile) {
      height: 100%;
      border: 1px solid $grey-2;
      overflow: auto; 
    }

    li {
      position: relative;
      margin: 0 5px 0 0;
      padding: 10px 20px 1px;
      float: left;
      background-color: $grey-3;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      height: 29px;
      border-bottom: 4px solid transparent;
      
      @include media(mobile) {
        cursor: pointer;
        display: inline-block;
        width: 100%;
      }
      
      a {
        margin-right: 3px;
        float: left;
        color: $black;
        text-align: center;
        text-decoration: underline;
      }
      &:focus a{
        color: $black;
        background-color:	#ffdd00;
        -webkit-box-shadow: 0 -2px 	#ffdd00, 0 4px $black;
        box-shadow: 0 -2px 	#ffdd00, 0 4px $black;
        text-decoration: none;
      }
    }

    li.active {
      margin-top: -5px;
      margin-bottom: -1px;
      padding: 14px 19px 11px 19px;
      border: 1px solid $grey-2;
      border-bottom: 0;
      background-color: $white;

      @include media(mobile) {
        border: 0;
        background-color: transparent;
      }

      a {
        text-decoration: none;
      }
    }

    li:focus {
      outline: none !important;
    }
  }
}

.inset-text-container {
  margin: 5px 0px 25px 0px;
  padding: 15px;
  border-left: 10px solid $grey-2;
  display: flex;
  align-items: center;

  .inset-text {
    font-size: 19px;
    margin: 0px;
  }
}

.goals-alert-container {
  background-color: #F3F2F1;
  border-left-width: 10px;
  box-sizing: border-box;
  clear: both;
  border-left-style: solid;
  border-color: #bfc1c3;
  padding: 15px 15px;
  margin-bottom: 50px;
}

.goals-alert-heading {
  color: #0b0c0c;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: block;
  margin-bottom: 10px;
  margin-top: 0px;
}

.goals-alert-body {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 19px;
  line-height: 26px;
}

.info {
  word-break: break-word;
}

.alert {
  color: orange;
  position: absolute;
}

.learnerInfo .info p {
  position: relative;
}

.info span.lldname {
  margin-left: 30px;
}

.label-hr {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 16px 0;
  flex: 1;
}

.iconAlignment {
  margin: 2px 10px 0 0;
}
