.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 80vh;

  #add_comment_label {
    text-align: center;
    font-size: 1.8em;
    font-weight: 100;
    margin: 0;
    line-height: 1;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

.action-buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

  #cancel_button {
    margin-left: 10px;
  }
}

.add-comment-form-container {
  display: flex;
  flex-direction: column;
}
