.status {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    background-color:#fd6f1a;
    font-size: 12px;
    color: white;
    border-radius: 4px;

}


.header{
    .tabWrapper {
      margin-top: 10px;
      position: relative;
    
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      height: 44px;
      border-bottom: 1px solid grey;
     
      li.tabHead {
        position: relative;
        margin: 0 33px 0 0;
        padding: 10px 1px 1px;
        float: left;
        background-color: none;
        text-align: center;
        cursor: pointer;
       
        a {
          margin-right: 3px;
          float: left;
          color: #666;
          text-align: center;
          text-decoration: none;
        }
        &:focus a{
          color: black;
      background-color: focus-colour;
      -webkit-box-shadow: 0 -2px focus-colour, 0 4px black;
      box-shadow: 0 -2px focus-colour, 0 4px black;
      text-decoration: none;
        }
      }
      li.tabHead.active{
        border-bottom: 3px solid #fd6f1a;
      }
    }
    
}
li.active {
  margin-top: -5px;
  margin-bottom: -1px;
  padding: 14px 19px 11px 19px;
  border-bottom: 3px solid #fd6f1a;
  background-color: none;

}

.tabHead:active{
  margin-top: -5px;
  margin-bottom: -1px;
  padding: 14px 19px 11px 19px;
  border-bottom: 3px solid #fd6f1a;
  background-color: none;
}
.tabHead:focus{
  border-bottom: 3px solid #fd6f1a;

}

:tabHead{
    border-bottom: 3px solid #fd6f1a;

}
}


    