.actions-column {
    min-width: 140px;
}
.status {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    background-color:#fd6f1a;
    font-size: 12px;
    color: white;
    border-radius: 4px;

}

.status-icon {
    border-radius: 50%;
    height: 12px;
    width: 12px;
}
.in-call {
    background-color: #D4351C;
}
.online {
    background-color: #04a32c;
}
.offline {
    background-color: #ccc;
}
.callStatus {
    flex: none;
}