<mat-card id='service-users'>

  <mat-card-header>
    <span>
      <mat-form-field id="search_service_user_form" class="search_by">
        <input id="search_service_user_input" (keydown.enter)="onFilter(search_service_user_input.value)" matInput
          placeholder="Search by" #search_service_user_input aria-label="Search a user">
        <button id="do_search_button" mat-button matSuffix mat-icon-button aria-label="Search"
          (click)="onFilter(search_service_user_input.value)">
          <mat-icon>search</mat-icon>
        </button>
        <button id="clear_search_button" *ngIf="search_service_user_input.value !==''" mat-button matSuffix
          mat-icon-button aria-label="Clear" (click)="onFilter(''); search_service_user_input.value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </span>
    <span class="spacer"></span>
    <app-filter (filterEmitter)="dropdownFilter($event)" [filterArray]="filterArray" [filterHeader]="filterHeader">
    </app-filter>
    
    <span *auth="[9,1]">
      <button id="create_service_user_button" mat-stroked-button class="right" color="primary"
        [routerLink]="['./new']">Add
      </button>
    </span>
  </mat-card-header>

  <mat-card-content class="users_container">

    <mat-table id="user_table" #table [dataSource]="dataSource" class="isMobile" matSort>
      <ng-container matColumnDef="fullName">
        <mat-header-cell *matHeaderCellDef id="user_name_button" class="name width-30" mat-sort-header>
          Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="name width-30"> <span class="mobile-label">Name: </span>
          {{element.fullName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="prn">
        <mat-header-cell class="width-20" *matHeaderCellDef id="prn_button"> Username
        </mat-header-cell>
        <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Username:
          </span>{{element.userName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dateOfBirth">
        <mat-header-cell class="width-20" *matHeaderCellDef id="dateOfBirth_button"> Date of Birth
        </mat-header-cell>
        <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Date of Birth:
          </span>{{element.dateOfBirth | date: 'dd/MM/yyyy'}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="project">
        <mat-header-cell *matHeaderCellDef id="project_button" class="name width-30" mat-sort-header>
          Project
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="name width-30"> <span class="mobile-label">Project: </span>
          {{element.project}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="accountState">
        <mat-header-cell class="width-20" *matHeaderCellDef id="dateOfBirth_button" mat-sort-header> Status
        </mat-header-cell>
        <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Status:
          </span> <span class="status">{{element.accountState === true ? 'Active' : 'Deactivated'}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">

        <mat-header-cell *matHeaderCellDef class="actions-column">Action</mat-header-cell>
        <mat-cell *matCellDef="let element" class="actions-column"> <span class="mobile-label"></span>

          <button *auth="[9,2]" id="view_service_user_button_{{element.id}}" mat-icon-button color="primary"
            [routerLink]="['./profile-tabs/view-user-profile']" [queryParams]="{ id : element.id, fullName: element.fullName, SU  :SU }"
            queryParamsHandling="merge" title="View" attr.aria-label="View {{element.fullName}}">
            <mat-icon>visibility</mat-icon>
          </button>

          <button *auth="[9,3]" id="edit_service_user_button_{{element.id}}" mat-icon-button color="primary"
            [routerLink]="['./edit/' + element.id]" title="Edit" attr.aria-label="Edit {D}} {{element.lastName}}">
            <mat-icon>create</mat-icon>
          </button>

          <button *auth="[9,4]" id="delete_service_user_button_{{element.id}}" mat-icon-button
            (click)="onDeleteClicked(element.id)" title="Delete" [disabled]='true'
            attr.aria-label="Delete {{element.firstName}} {{element.lastName}}" color="accent">
            <mat-icon>delete</mat-icon>
          </button>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator id="user_pagination" [pageSize]="pageSize" [showFirstLastButtons]='true' [hidePageSize]="true">
    </mat-paginator>

  </mat-card-content>

</mat-card>