#sidebar {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 250px;
    padding: 4px;
    position: fixed;
    top: 56px;
    bottom: 0;
    background: transparent;
    z-index: 999;
    -ms-overflow-y: auto;
    overflow-y: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: calc(100% - 56px);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;

    .nav-top {
        margin-top: 24px;
    }

    .nav-bottom {
        margin-top: 24px;
        margin-bottom: 24px;
        align-self: flex-end;
    }

    .nav-special {
        margin-top: 24px;

        .submenu {
            padding-left: 34px;
            height: 40px;
            font-size: 14px;
            display: none;

            .sidenav-icon {
                height: 20px;
                font-size: 20px;
            }
        }
    }

    .nav-special.opened {

        .submenu {
            display: block;
            list-style: none;
        }

    }

    .mat-nav-list {
        width: 100%;
        color: #fff;
        
        a {
            margin: 4px 0;
            color: #fff;
            font-size: 16px;
            display: block;
            
            .mat-icon {
                margin-right: 10px;
                color: rgba(#fff, 0.9);
                font-weight: 200;
           }
           
        }

        a:hover, .active {
            background: rgba(250, 250, 250, 0.1);
            border-radius: 1px;
            margin: 4px 0;
            transition: opacity .6s cubic-bezier(.35,0,.25,1),background-color .6s cubic-bezier(.35,0,.25,1);
        }

    }
}

.mat-list-base .mat-list-item .mat-list-item-content {
    padding: 0 10px; 
}

@media screen and (max-width: 992px) {
    #sidebar {
        height: calc(100% + 56px);
        left: -258px;
        transition: left 500ms cubic-bezier(.6,0,.5,1);
        background-color: #fd6f1a;
    }
}

.side-brand {
    width: 234px;
    text-align: left;
    height: 48px;
    line-height: 44px;
  }
  img.app-logo {
    width: 130px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }