<nav id="sidebar" role="navigation">
    <mat-nav-list class="nav-top">
        
        <a mat-list-item routerLink="/{{specialItem.state}}" *ngFor="let specialItem of primaryMenu "
            routerLinkActive="active" id="main_menu_{{specialItem.state}}"
            title="Go to {{ specialItem.name }}">
            <mat-icon class="sidenav-icon">{{specialItem.icon}}</mat-icon>
            {{ specialItem.name  }}
        </a>
    </mat-nav-list>
    <div class="side-brand">
        <img src="./assets/logo/New Logo.png" class="app-logo">
    </div>
</nav>