<mat-card id='assessment'>
    <mat-card-header>
      <span>Assessment </span>
      <span class="spacer"></span>
      <span>
        <button id="edit_view_button" mat-stroked-button color="primary" (click)="onExitClicked(this)">Exit</button>
      </span>
    </mat-card-header>
   
    <mat-card-content class="assessments_container">
        <div id='assessment_container'>
            <mat-card [ngClass]='"fade"' id="surveyElement"></mat-card>
        </div>
    </mat-card-content>

    <mat-card-footer>
      <span class="spacer"></span>
      <span>
        <button type="submit" id="save_user_button"  mat-flat-button color="primary" (click)="saveSurveyResponse(this)">Save as draft</button>
        <button *ngIf="surveyItem?.isLastPage" type="submit" id="save_user_button"  mat-flat-button color="primary" (click)="completeSurveyResponse(this)">Save and Submit</button>
      </span>
    </mat-card-footer>
</mat-card>