.dropzone-container {
  height: 100px;
}

.dropzone-error {
  border: 2px dashed #fda923;
  color: #fda923;
}

.error-container {
  font-size: 75%
}

.actions {
  margin-top: 20px;
  display: flex;

  button {
    margin-left: 10px;
  }
}

.text {
  margin-right: 10px;
}