<mat-card>
    <div class="relative">
        <mat-card-header>
            <!-- <mat-icon class="iconAlignment">videocam</mat-icon> -->
            <span></span>
            <span class="spacer"></span>
            <span>
                <button id="recording_close_button" mat-stroked-button color="primary" 
                [routerLink]="['../']" [queryParams]="{recordingId:null}" queryParamsHandling="merge">Exit</button>
            </span>
        </mat-card-header>
        <mat-card-actions>
            <app-video-player [idx]="'player'" [src]="getUrl()" [type]="'video/mp4'" [option]="{}">
            </app-video-player>
        </mat-card-actions>  
    </div>
    </mat-card>
    