.mat-row {
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .mobile-label {
    display: none;
  }
  
  @media(max-width: 1024px){
    .mat-card-header{
      display: block!important;
      padding-bottom: 5px!important;
    }
    .action-btn-alignment{
      display: block;
      text-align: right;
      padding-top: 15px;
    }
  }
  
  @media(max-width: 480px){
    .mobile-label{
      font-size: 14px!important;
      color: #2b769b;
      display: block;
      font-weight: 600;
    }
    .mat-row{
      display: block;
    }
    .mat-cell{
      display: block;
      margin-bottom: 10px;
      margin-left: 22px;
    }
    .mat-cell:first-child{
      margin-left: 0px;
      margin-top: 10px;
    }
  }