<mat-card id="add-edit-organisation">
  <mat-card-header class="flex-end">
    <button id="exit_organisation_button" mat-stroked-button color="primary" [routerLink]="['/manage-organisations']">Exit</button>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="organisationForm" (ngSubmit)="onSubmit()" validate autocomplete="off">
      <div class="label-hr">
        <span>Organisation Details</span>
      </div>
      <div class="card-row">
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Organisation Name</mat-label>
            <input matInput formControlName="organizationName" id="organizationName" required>
            <mat-error *ngIf="organisationForm.controls.organizationName.invalid && !organisationForm.controls.organizationName.errors?.maxlength">
              Organisation Name is required
            </mat-error>
            <mat-error *ngIf="organisationForm.controls.organizationName.errors?.maxlength">
              Organisation Name should be less than 100 characters
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="card-row">
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="contactEmail" id="contactEmail">
            <mat-error *ngIf="organisationForm.controls.contactEmail.errors?.pattern">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
        </div>
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Telephone</mat-label>
            <input matInput formControlName="contactTelephone" id="contactTelephone">
            <mat-error *ngIf="organisationForm.controls.contactTelephone.errors?.pattern && !organisationForm.controls.contactTelephone.errors?.maxlength">
              Telephone not valid. Please use only numbers
            </mat-error>
            <mat-error *ngIf="organisationForm.controls.contactTelephone.errors?.maxlength">
              Telephone should be less than 18 characters
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="card-row">
        <div class="card-column">
          <div>
            <mat-label appearance="outline">Is primary?</mat-label>
            <mat-checkbox class="ml20" formControlName="isClientPrimary"></mat-checkbox>
          </div>
        </div>
      </div>
      <div class="card-row">
        <div class="flex-end mt30">
          <button type="submit" id="save_user_button" mat-flat-button color="primary" [disabled]="!organisationForm.valid">{{routeIntent === 'newOrganisation' ? 'Save' : 'Update'}}</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
