<div class="modal-container">
  <label id="select-activity-radio-group-label">Select an activity</label>
  <form [formGroup]="selectAnActivityForm" (ngSubmit)="confirmSelectActivity()" validate autocomplete="off">
    <mat-radio-group formControlName="activityType" required name="activityType">
      <div class="radio-button-container">
        <mat-radio-button class="select-activity-radio-button" *ngFor="let activity of data" [value]=activity labelPosition="after" id="{{activity.name}}">{{activity.name}}</mat-radio-button>
      </div>
    </mat-radio-group>
  </form>
  <div class="action-buttons-container">
    <button id="confirm_activity_button" mat-flat-button color="primary" [disabled]="!selectAnActivityForm.valid" (click)="confirmSelectActivity()">Confirm</button>
    <button id="cancel_button" mat-stroked-button color="primary" (click)="cancelSelectActivity()">Cancel</button>
  </div>
</div>
