.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  #select-activity-radio-group-label {
    text-align: center;
    font-size: 1.8em;
    font-weight: 100;
    margin: 0;
    line-height: 1;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.radio-button-container {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 140px;
}

.select-activity-radio-button {
  margin: 5px;

}

.action-buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

  #cancel_button {
    margin-left: 10px;
  }
}
