<mat-card id="recordings">

    <mat-card-header>
        <span>
            <mat-form-field id="search_recording_form" class="search_by">
                <input id="search_recordings_input" matInput placeholder="Search by recordings" #search_recordings_input
                    aria-label="Search Recordings" (keydown.enter)="onFilter(search_recordings_input.value)">
                <button id="on_search_button" mat-button matSuffix mat-icon-button aria-label="Search"
                    (click)="onFilter(search_recordings_input.value)">
                    <mat-icon>search</mat-icon>
                </button>
                <button id="clear_search_button" *ngIf="search_recordings_input.value !==''" mat-button matSuffix
                    mat-icon-button aria-label="Clear" (click)="onFilter(''); search_recordings_input.value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </span>
        <span class="spacer"></span>

    </mat-card-header>

    <mat-card-content class="users_container">
        <mat-table id="recording_table" #table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef id="Name_button" mat-sort-header>
                    Name
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.name }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="kwFullName">
                <mat-header-cell *matHeaderCellDef id="Name_button" mat-sort-header>
                    Facilitator 
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.kwFullName }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="suFullName">
                <mat-header-cell *matHeaderCellDef id="Name_button" mat-sort-header>
                    Service User 
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.suFullName }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="recordingStartDate">
                <mat-header-cell *matHeaderCellDef id="createdDate_button" mat-sort-header>
                    Date & Time
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{element.recordingStartDate | date : 'dd MMM yyyy HH:mm:ss'}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="length">
                <mat-header-cell *matHeaderCellDef id="Name_button">
                    Length
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ calculateVideoLength(element.recordingLength) }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="sessionState">
                <mat-header-cell *matHeaderCellDef id="status_button" mat-sort-header>
                    Status
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                   <span class="status"> {{element.sessionState === 'COMPLETED' ? 'READY' : element.sessionState }}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>

                <mat-cell *matCellDef="let element">
                    <button  mat-icon-button color="primary"
                        (click)="playRecording(element.sessionId)" title="Play">
                        <mat-icon>play_circle_filled</mat-icon>
                    </button>

                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

        <mat-paginator id="user_pagination" [pageSize]="pageSize" [showFirstLastButtons]='true' [hidePageSize]="true">
        </mat-paginator>
    </mat-card-content>
</mat-card>