<!-- <mat-card id='view_user-plan'>
    <mat-card-header>
        <mat-icon class="iconAlignment">videocam</mat-icon>
        <span> Call user </span>
        <span class="spacer"></span>
        <span>
            <button id="edit_view_button" mat-stroked-button color="primary" [routerLink]="['/service-user']">Exit</button>
        </span>
    </mat-card-header>
    <mat-card-actions>
        <div class="start-video-container">
            <button type="submit" id="InitiateSessionBtn" (click)="startSession()" mat-flat-button color="primary">Start video session
                <mat-icon class="">videocam</mat-icon>
            </button>
        </div>
</mat-card-actions>

</mat-card> -->