.iconAlignment{
    margin: 0 18px 0 0;
    font-size: 32px;
}
.details_label{
    display: inherit!important;
    font-size: 14px;
    color: #fd6f1a;
    font-weight: 600;
}
.start-video-container{
    min-height: 200px;
    padding: 10px;
    button{
        padding: 8px 16px;
        font-size: 18px;
        mat-icon{
            font-size: 32px;
            height: 32px;
            width: 32px;
        }
    }
}