<mat-dialog-content class="modal-container">
  <label id="add_appointment_label">{{data.appointmentId ? 'Update' : 'Add'}} Appointment</label>
  <form [formGroup]="addOrUpdateAppointmentForm" (ngSubmit)="confirmAddAppointment()" validate autocomplete="off">
    <div class="add-appointment-form-container">
      <mat-form-field appearance="outline">
        <mat-label>Select appointment type</mat-label>
        <mat-select placeholder="Select appointment type *" formControlName="appointmentType" id="appointmentType" required>
          <mat-option 
            *ngFor="let appointmentType of data.appointmentList" 
            [value]="appointmentType" 
            id="appointmentType_{{appointmentType.identifier}}"
          >
            {{appointmentType.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addOrUpdateAppointmentForm.get('appointmentType').hasError('required')">
          Appointment type is required
        </mat-error>
      </mat-form-field>
      <ng-container *ngIf="addOrUpdateAppointmentForm.controls.appointmentType.value && addOrUpdateAppointmentForm.controls.appointmentType.value.identifier === 'OTH-10'">
        <mat-form-field appearance="outline">
          <mat-label>Other appointment name *</mat-label>
          <input matInput placeholder="Other appointment name *" formControlName="otherAppointmentName" id="otherAppointmentName">
          <mat-error *ngIf="addOrUpdateAppointmentForm.get('otherAppointmentName').hasError('required')">
            Other appointment name is required
          </mat-error>
          <mat-error *ngIf="addOrUpdateAppointmentForm.get('otherAppointmentName').hasError('maxlength')">
            Other appointment name should be less than 150 characters
          </mat-error>
        </mat-form-field>
      </ng-container>
      <mat-form-field appearance="outline">
        <mat-label>Select worker</mat-label>
        <mat-select placeholder="Select worker" formControlName="worker" id="worker" required>
          <mat-option 
            *ngFor="let worker of data.workers" 
            [value]="worker" 
            id="worker_{{worker.firstName}}_{{worker.lastName}}"
          >
            {{worker.firstName | titlecase}} {{worker.lastName | titlecase}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addOrUpdateAppointmentForm.get('worker').hasError('required')">
          Worker is required
        </mat-error>
      </mat-form-field>
      <div class="appointment-date-time-container">
        <div class="date-input-container">
          <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input 
              matInput 
              [matDatepicker]="datePicker" 
              formControlName="date"
              placeholder="Date" 
              id="date"
              required
            >
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
            <mat-error 
              *ngIf="addOrUpdateAppointmentForm.get('date').getError('required')"
            >
              Date is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="date-input-container">
          <div class="time-input-container">
            <mat-form-field appearance="outline">
              <mat-label>Time (Hours)</mat-label>
              <mat-select placeholder="Time (Hours)" formControlName="timeHours" id="timeHours" required>
                <mat-option 
                  *ngFor="let hour of hours" 
                  [value]="hour.value" 
                  id="time_{{hour}}"
                >
                  {{hour.label}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="addOrUpdateAppointmentForm.get('timeHours').hasError('required')">
                Time (Hours) is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="time-input-container">
            <mat-form-field appearance="outline">
              <mat-label>Time (Minutes)</mat-label>
              <mat-select placeholder="Time (Minutes)" formControlName="timeMinutes" id="timeMinutes" required>
                <mat-option 
                  *ngFor="let minute of minutes" 
                  [value]="minute" 
                  id="time_{{minute}}"
                >
                  {{minute}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="addOrUpdateAppointmentForm.get('worker').hasError('required')">
                Time (Minutes) is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Is this linked to an intervention?</mat-label>
        <mat-select placeholder="Is this linked to an intervention?" formControlName="interventionLink" id="interventionLink" [disabled]="data.interventions.length === 0 ? true : false">
          <mat-option 
            *ngFor="let intervention of data.interventions" 
            [value]="intervention" 
            id="intervention_{{intervention.identifier}}"
          >
            {{intervention.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container *ngIf="isAppointmentInPast()">
        <mat-form-field appearance="outline">
          <mat-label>Meeting notes *</mat-label>
          <textarea 
            matInput 
            id="meeting_notes_id" 
            cols="20"
            rows="5"
            minlength="1"
            maxlength="1000"
            formControlName="meetingNotes"
          ></textarea>
          <mat-error 
            *ngIf="addOrUpdateAppointmentForm.get('meetingNotes').hasError('required')">
            Meeting notes is required
          </mat-error>
          <mat-error 
            *ngIf="addOrUpdateAppointmentForm.get('meetingNotes').hasError('maxlength')"
          >
            Meeting notes should be less than 1000 characters
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Attendance *</mat-label>
          <mat-select placeholder="Attendance *" formControlName="attendance" id="attendance">
            <mat-option 
              *ngFor="let status of data.statusList" 
              [value]="status" 
              id="status_{{status.identifier}}"
            >
              {{status.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </div>
  </form>
  <div class="action-buttons-container">
    <button id="confirm_add_or_update_appointment_button" mat-flat-button color="primary" [disabled]="!addOrUpdateAppointmentForm.valid" (click)="confirmAddAppointment()">{{data.appointmentId ? 'Update' : 'Add'}}</button>
    <button id="cancel_button" mat-stroked-button color="primary" (click)="cancelAddAppointment()">Cancel</button>
  </div>
</mat-dialog-content>
