<mat-card id='role'>
  <mat-card-header>
    <span>
      <mat-form-field id="search_role_form" class="search_by">
        <input id="search_role_input" (keydown.enter)="onFilter(search_role_input.value)" matInput
          placeholder="Search by" #search_role_input aria-label="Search a role">
        <button id="do_search_button" mat-button matSuffix mat-icon-button aria-label="Search"
          (click)="onFilter(search_role_input.value)">
          <mat-icon>search</mat-icon>
        </button>
        <button id="clear_search_button" *ngIf="search_role_input.value !==''" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onFilter(''); search_role_input.value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </span>
    <span class="spacer"></span>
    <span auth="[10]">
      <button id="create_role_button" mat-stroked-button class="right" color="primary" [routerLink]="['./add-role']">Add
      </button>
    </span>
  </mat-card-header>

  <mat-card-content class="roles_container">

    <mat-table id="role_table" #table [dataSource]="dataSource" class="isMobile" matSort>
      <ng-container matColumnDef="roleName">
        <mat-header-cell *matHeaderCellDef id="role_name_button" class="name width-30" mat-sort-header>
          Role Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="name width-30"> <span class="mobile-label">Role Name:
          </span>{{element.roleName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tenantName">
        <mat-header-cell class="width-20" *matHeaderCellDef id="tenant_button" mat-sort-header> Tenant
        </mat-header-cell>
        <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Tenant:
          </span>{{element.tenantName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="featureNames">
        <mat-header-cell class="width-30" *matHeaderCellDef id="features_button"> Features
        </mat-header-cell>
        <mat-cell class="width-30" *matCellDef="let element"> <span class="mobile-label">Features:
          </span>{{element.featureNames}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">

        <mat-header-cell *matHeaderCellDef class="actions-column">Actions</mat-header-cell>
        <mat-cell *matCellDef="let element" class="actions-column"> <span class="mobile-label"></span>

          <button auth="[10]" id="view_role_button_{{element.id}}" mat-icon-button color="primary"
            [routerLink]="['./view-role/' + element.roleId]" title="View"              attr.aria-label="View {{element.roleName}}">
            <mat-icon>visibility</mat-icon>
          </button>

          <button auth="[10]" id="edit_role_button_{{element.id}}" mat-icon-button color="primary"
            [routerLink]="['./edit-role/' + element.roleId]" title="Edit"
            attr.aria-label="Edit {{element.roleName}}">
            <mat-icon>create</mat-icon>
          </button>

          <button auth="[10]" id="delete_edit_role_button_{{element.id}}" mat-icon-button
            (click)="onDeleteClicked(element.roleId, element.roleName)" title="Delete" attr.aria-label="Delete {{element.roleName}}">
            <mat-icon color="accent">delete</mat-icon>
          </button>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator id="role_pagination" [pageSize]="pageSize" [showFirstLastButtons]='true' [hidePageSize]="true">
    </mat-paginator>

  </mat-card-content>

</mat-card>
