.new-messages-page {
    margin-bottom: -1px;
    padding: 10px;
    padding-top: 30px;
    position: relative;

    .title{
        overflow: auto;
    .exit-Button{
        float: right;
        margin-bottom: 22px;
        }
    }

    .new-messages-container {
        font-family: "GDS Transport", Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 15px;
        height: 450px;
        border: 1px solid #b1b4b6;
        padding: 1px;
        overflow: scroll;
        
    }
}


.action {
    float: center;
    padding: 5px;
    margin-left: 40px;   
   

        ::placeholder {
            font-size: 10px;
            
    }

    .send-Button {
        background-color: #00703c;
        color: black;
        text-align: center;
        font-size: 13px;
        border-radius: 5px;
        margin-left: 40px; 

    }
}





style
  * {
    box-sizing: border-box;
  }


.column1 {
    float:left;
    margin-right: 70px;
}

.row2 {
    padding-left: 213px;
}

.cancel-Button {
    background-color: #b1b4b6;
    color: black;
    text-align: center;
    font-size: 13px;
    border-radius: 5px;
    margin-left: 40px; 
           
}
.full-width {
    width: 100%;
  }

  .half-width {
    width: 50%;
  }

  .word-break{
      word-break: break-all;
  }