<mat-toolbar id="top-nav" id="top-nav">

    <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar(); $event.stopPropagation();" id="toggle_menu">
        <mat-icon aria-label="Open side menu" *ngIf="!sideNavIcon">menu</mat-icon>
        <mat-icon aria-label="Close side menu" *ngIf="sideNavIcon">close</mat-icon>
    </button>

    <div class="nav-brand">
        <a href="./" [routerLink]="['/service-user']"><img src="./assets/logo/bounce-back-logo.png" class="app-logo"></a>
    </div>
    <h1 class="page_title">{{pageTitle}}</h1>
    <span class="nav-spacer"></span>

    <div class="switch-establishments-container ">
        <span class="top-nav-info" *ngIf="userOrganizations.length >= 1">{{resolveOrgName()}}</span>
        <ng-container *ngIf="userOrganizations.length >= 2">
            <button mat-icon-button id="establishment-trigger-button" *ngIf="currentOrganizationId"
                [matMenuTriggerFor]="changeEstablishment" title="Change establishment">
                <mat-icon>business</mat-icon>
            </button>
        </ng-container>
        <ng-container *ngIf="userOrganizations.length === 1">
            <button mat-icon-button id="establishment-trigger-button" *ngIf="currentOrganizationId"
                title="Change establishment">
                <mat-icon>business</mat-icon>
            </button>
        </ng-container>
        <mat-menu #changeEstablishment="matMenu" class="change-establishment-drop-menu" xPosition="before">
            <button id="establishment-button" mat-menu-item *ngFor="let organization of userOrganizations"
                (click)="onChangeEstablishment(organization.id)" id="organization.id">
                <mat-icon color="primary">business</mat-icon>
                <span>{{ organization?.orgName }}</span>
            </button>
        </mat-menu>
    </div>

     
    <button mat-button id="ChatButton" *auth="[14,1]" [matMenuTriggerFor]="menuPopup.menu" title="Chat"
        [ngClass]="getRoute()">
        <span class="top-nav-info mr8">Chat</span>
        <mat-icon class="posRel" [matBadge]="matbaDge" matBadgeColor="warn" id="chat_icon"
            [matBadgeHidden]="matBadgeHidden">comments</mat-icon>
    </button>
    <app-chatnotification #menuPopup="menuChatNotificationComponent"></app-chatnotification>

    <span class="top-nav-info">{{username}}</span>

    <button mat-icon-button [matMenuTriggerFor]="profile" title="Go to profile and sign out">
        <mat-icon class="posRel">portrait
            <mat-icon *ngIf="passwordToExpire" class="colorClass alertSize">notification_important</mat-icon>
        </mat-icon>
    </button>

    <mat-menu #profile="matMenu">
        <button mat-menu-item (click)="changePassword()" id="changePassword">
            <mat-icon color="accent">lock_open</mat-icon>
            <span class="posRel">{{ 'Change password' }}</span>
        </button>
        <button mat-menu-item (click)="onLoggedOut()" id="logout">
            <mat-icon color="accent">exit_to_app</mat-icon>
            <span>{{ 'Sign out'}}</span>
        </button>
    </mat-menu>

</mat-toolbar>