.nav-brand {
  width: 234px;
  text-align: left;
  height: 48px;
  line-height: 44px;
  padding-left: 8px;
}

img.app-logo {
  width: 200px;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  vertical-align: middle;
  border: 0;
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.branding {
  padding: 4px;
}

.topnav-icon {
  text-decoration: none;
  display: flex;
  color: #fff;
}

.fix-nav {
  background: #fafafa;
}

.nav-spacer {
  flex: 1 1 auto;
}

.page_title {
  font-size: 22px;
  margin-left: 10px;
}

.visible-md {
  display: none;
}

.top-nav-info {
  font-size: 14px;
  margin-left: 16px;
}

.mr8{
  margin-right: 8px;
}
.colorClass {
  color: #fda923
}

.posRel {
  position: relative;
}

.alertSize {
  position: absolute;
  top: -10px;
  right: -11px;
  font-size: 22px;
}

@media screen and (max-width: 992px) {
  .visible-md {
    display: block;
  }

  .nav-brand {
    width: 130px;
    padding-left: 10px;
    height: auto;
    text-align: left;
  }

  #top-nav.hide {
    .top-nav-info, .nav-brand {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .visible-sm {
    display: block;
  }

  .top-nav-info {
    display: none;
  }
  ::ng-deep .custom {
    margin-top: 30px;
    position: absolute;
    right: 14px;
   }

}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 56px;
  min-height: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#top-nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 800;
  border-bottom: 4px solid #000000;
  opacity: 1;
}
::ng-deep .custom {
  margin-top: 12px ;
  padding: 5px 10px;
    height: auto;
    width: 215px;
    overflow-x: hidden!important;
 }

// #top-nav.hide {
//   border-bottom: 4px solid rgba(#ee8804, 0.8);
// }

.mat-icon-button.active {
  color:#aa08de;
}

.display-none {
  display: none;
}
