<mat-card id='local-jobs'>
  <mat-card-header>
    <span>
      <mat-form-field id="search_local_job_form" class="search_by">
        <input id="search_job_input" (keydown.enter)="onFilter(search_job_input.value)" matInput placeholder="Search by"
          #search_job_input>
        <button id="do_search_button" mat-button matSuffix mat-icon-button aria-label="Search"
          (click)="onFilter(search_job_input.value)">
          <mat-icon>search</mat-icon>
        </button>
        <button id="clear_search_button" mat-button *ngIf="search_job_input.value" matSuffix mat-icon-button
          aria-label="Clear" (click)="search_job_input.value=''; onFilter(search_job_input.value);">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </span>
    <span class="spacer"></span>
    <span>
      <button *auth="[17,1]"   id="add_local_button" mat-stroked-button color="primary" (click)="addLocalJobs()">Add</button>
    </span>
  </mat-card-header>

  <mat-card-content class="local-jobs_container">

    <mat-table id="local_job_table" #table [dataSource]="dataSource" matSort matSortActive="jobTitle"
      matSortDirection="asc" class="isMobile">

      <ng-container matColumnDef="jobTitle">
        <mat-header-cell class="width-20" *matHeaderCellDef mat-sort-header id="job_title_column"> Job Title
        </mat-header-cell>
        <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Job Title:
          </span>{{element.jobTitle}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="company">
          <mat-header-cell class="width-17" *matHeaderCellDef mat-sort-header id="company_column"> Company
          </mat-header-cell>
          <mat-cell class="width-17" *matCellDef="let element"> <span class="mobile-label">Company:
            </span>{{element.company}}
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="location.description">
        <mat-header-cell class="width-17" *matHeaderCellDef mat-sort-header id="location_column">Location
        </mat-header-cell>
        <mat-cell class="width-17" *matCellDef="let element"> <span class="mobile-label">Location:
          </span>{{element.location}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell class="width-12" *matHeaderCellDef id="job_status_column">Job Status
        </mat-header-cell>
        <mat-cell class="width-12" *matCellDef="let element"> <span class="mobile-label call-status-label">Job Status:
          </span><span class="status">{{element.status}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="postingDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header id="posting_date_column" class="local-jobs width-15">
          Posting Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="local-jobs-postingDate width-15"> <span
            class="mobile-label">Posting Date:
          </span>{{element.postingDate | date:'dd MMM yyyy'}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">

        <mat-header-cell class="actions-column" *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell class="actions-column" *matCellDef="let element"> <span class="mobile-label"></span>

          <button *auth="[17,2]" id="view_local_job_button_{{element.id}}" mat-icon-button color="primary"
            title="View" (click)="viewLocalJob(element.id)" >
            <mat-icon>visibility</mat-icon>
          </button>

          <button *auth="[17,3]" id="edit_local_job_button_{{element.id}}" mat-icon-button color="primary" title="Edit"
            (click)="editLocalJob(element.id)">
            <mat-icon>create</mat-icon>
          </button>

          <button *auth="[17,4]" id="delete_contents_button_{{element.id}}" mat-icon-button (click)="onDeleteClicked(element.id)" title="Delete"
          attr.aria-label="Delete {{element.id}}">
          <mat-icon color="accent">delete</mat-icon>
        </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator id="pagination" [pageSize]="pageSize" (page)='onPaginateChange($event)' [showFirstLastButtons]='true'
      [hidePageSize]='true'>
    </mat-paginator>

  </mat-card-content>
</mat-card>