.status {
    padding: 3px 9px;
    background-color:#fd6f1a;
    font-size: 12px;
    color: white;
    border-radius: 4px;

}
#local-jobs{
    .mat-sort-header-button{
        text-align: left;
    }
}