<mat-menu id="matMenu" #menu="matMenu" [class]="'custom'">
   <div class="chat-dropdown">
      <nav class="moj-side-navigation" aria-label="Side navigation">
            <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item" [ngClass]="{'active': chat.isChatActive }" *ngFor="let chat of chatDataSource" id="{{chat.chatId}}" (click)="goToChatInbox(chat)">
                    
                    <div class="kw-avatar-circle" *ngIf="chat.conersationWith==='KW'">
                        <span id="kw_avatar_{{chat.chatId}}" class="initials">{{getShortName(chat.chatFrom) | uppercase }}</span>
                    </div>

                    <div class="avatar-circle" *ngIf="chat.conersationWith !=='KW'">
                        <span id="su_avatar_{{chat.chatId}}" class="initials">{{getShortName(chat.chatFrom) | uppercase }}</span>
                    </div>


                    <div class="message-item">
                        <span id="last_msg_{{chat.chatId}}"> Last Message {{chat.status}}</span>
                        <p><span id="last_msg_recieved_date_{{chat.chatId}}">{{chat.lastMessageRecievedDate | date: 'dd MMM yyyy'}}</span> <span *ngIf="!chat.isRead" class="status_mark"></span></p>
                        <p><span id="last_msg_recieved_time_{{chat.chatId}}">{{chat.lastMessageRecievedDate | date: 'HH:mm'}}</span></p>
                    </div>
                </li>
            </ul>

        </nav>
   <div class="dropdown-footer">
      <button id="go_to_chat_button"  mat-stroked-button color="primary" [routerLink]="['/srm/go-to-chat']">Go to chat</button>
      <button class="floatRight" id="new_chat_button"  mat-stroked-button color="primary" [routerLink]="['/srm/new-chat']" >New chat</button>
   </div>
</div>
</mat-menu>

