.marr22{
  margin-right: 22px;
}
.floatRight{
  float: right;
}
button.mat-stroked-button{
  margin-left: 0!important;
}
.chat-dropdown{
  margin-left: -15px;
  margin-right: -15px;
  .moj-side-navigation {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400; 
    font-size: 14px;
    max-height: 265px;
    overflow: hidden;

    .moj-side-navigation__list {
        list-style: none;
        margin: 0;
        height: auto;
        padding: 0;
        display: block;
        }
        .moj-side-navigation__item {
            height: auto;
            border: none;
            border-bottom: 1px solid #b1b4b6;
            overflow: auto;
            min-height: 72px;
            cursor: pointer;
            margin-bottom: 10px;
            margin-top: -10px;

            .avatar-circle {
                width: 35px;
                height: 35px;
                background-color:  #fd6f1a;
                text-align: center;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                margin-top: 23px;
                float: left;
                margin-left: 15px;
                
                .initials {
                    position: relative;
                    top: 7px; /* 25% of parent */
                    font-size: 15px; /* 50% of parent */
                    line-height: 15px; /* 50% of parent */
                    color: #fff;
                    font-weight: bold;
                  }
              }

              .kw-avatar-circle {
                width: 33px;
                height: 33px;
                background-color:   #fff;
                text-align: center;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                margin-top: 23px;
                float: left;
                margin-left: 10px;
                border: 2px solid #fd6f1a;
                
                .initials {
                    position: relative;
                    top: 7px; /* 25% of parent */
                    font-size: 15px; /* 50% of parent */
                    line-height: 15px; /* 50% of parent */
                    color: #fd6f1a;
                    font-weight: bold;
                  }
              }

              .message-item {
                border-radius: 0.5em 0.5em 0.75em 0.5em;
                margin-bottom: 0px;
                position: relative;
                padding: 10px;
                margin-left: 50px;
                p{
                    margin-bottom: 0;
                    margin-top: 0;
                    .status_mark{
                      display: block;
                      width: 16px;
                      height: 16px;
                      border-radius: 10px;
                      background: #fda923;
                      float: right;
                      margin-top: 3px;
                      margin-right: 6px;
                    }
                }
            }
            &:hover, &:focus{
              background: #f3f2f1;  
            }
        }
        .moj-side-navigation__item.active {
            background: #f3f2f1;
            outline: 0;
        }
  
  }
  .dropdown-footer{
    padding: 0 15px;
  }
}
