<mat-card id="edit_role">
  <mat-card-header>
    <span> Role Details </span>
    <span class="spacer"></span>
    <span>
      <button id="exit_user_button" mat-stroked-button color="primary" [routerLink]="['/administration/role']"> Exit</button>
    </span>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="roleDetailForm" (ngSubmit)="onSubmit(roleDetailForm)" validate autocomplete="off">
        <div class="card-row">
            <div class="card-column">
                <mat-form-field appearance="outline">
                    <mat-label>Role</mat-label>
                    <input matInput formControlName="roleName" maxlength="30" id="roleName" value=""
                    required>
                    <mat-hint *ngIf="isNew" align="start">Maximum 30 alphanumeric characters allowed</mat-hint>
                    <mat-error *ngIf="roleDetailForm.controls.roleName.invalid && !roleDetailForm.controls.roleName.errors?.pattern"> Mandatory Field</mat-error>
                    <mat-error *ngIf="roleDetailForm.controls.roleName.errors?.pattern">
                        Invalid Value
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="card-column">
                <mat-checkbox formControlName="allowedMultipleEstablishments" class="customCheckBoxMargin" color="primary" [value]="">Multiple Establishment</mat-checkbox>    
            </div>
        </div>
        <div class="card-row">
            <div class="card-column">
                <mat-form-field appearance="outline">
                    <mat-label>Tenant</mat-label>
                    <mat-select placeholder="Select" formControlName="tenantId" required>
                        <mat-option *ngFor="let tenant of tenantNameList" [value]="tenant.id">{{tenant.tenantName}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <mat-card-footer>
            <span class="spacer"></span>
            <span>
                <button type="submit" id="save_role_button" mat-flat-button color="primary"
                [disabled]="!roleDetailForm.valid">Save</button>
            </span>
        </mat-card-footer>
    </form>
  </mat-card-content>
</mat-card>
