.customCheckBoxMargin {
    margin: 8px 0;
    padding: 1em 0 1em 0;
}
.seq-theme {
    .mat-checkbox-indeterminate.mat-accent {
        .mat-checkbox-background {
            background-color: #246281 !important;
        }
    }
}
