<div class="page-nav" id="page-nav">
   <h1 class="page-title" *ngIf="routeParts.length > 0">{{routeParts[routeParts.length -1]['breadcrumb']}}</h1>
   <span class="spacer"></span>

   <!-- <div class="breadcrumb" *ngIf="routeParts.length > 2">
      <a *ngIf="routeParts.length > 3" routerLink="/{{routeParts[routeParts.length -4]['url']}}" class="color-primary" 
         title="Go to {{routeParts[routeParts.length -4]['breadcrumb']}}"
         [queryParams]="routeParts[routeParts.length -4]['params']">
         {{routeParts[routeParts.length -4]['breadcrumb']}} </a>
      <a *ngIf="routeParts.length > 2" routerLink="/{{routeParts[routeParts.length -3]['url']}}" class="color-primary"
         title="Go to {{routeParts[routeParts.length -3]['breadcrumb']}}" 
         [queryParams]="routeParts[routeParts.length -3]['params']">
         {{routeParts[routeParts.length -3]['breadcrumb']}} </a>
      <a *ngIf="routeParts.length > 1" routerLink="/{{routeParts[routeParts.length -2]['url']}}" class="color-primary" 
         title="Go to {{routeParts[routeParts.length -2]['breadcrumb']}}"
         [queryParams]="routeParts[routeParts.length -2]['params']">
         {{routeParts[routeParts.length -2]['breadcrumb']}} </a>
   </div> -->

</div>