<mat-card id='view-assessment'>
  <mat-card-header>
    <span>Assessment </span>
    <span class="spacer"></span>
    <span>
      <button id="edit_view_button" mat-stroked-button color="primary" (click)="onExitClicked()">Exit</button>
    </span>
  </mat-card-header>
  <mat-card-content class="assessments_container">
    <div id='assessment_container'>
      <mat-card [ngClass]='"fade"' id="surveyElement"></mat-card>
    </div>
  </mat-card-content>


  <mat-card-header *ngIf="isCompleted === 'true'">
    <span> Assessment Complete </span>
    <span class="spacer"></span>
  </mat-card-header>

  <mat-card-content class="view_user-plan_container" *ngIf="isCompleted === 'true'">
    <div class="card-row">
      <div class="infoSection">
        <div class="card-row">
          <div class="card-column">
            <p class="info">
              <span class="details_label">Completed on</span>
              {{updatedDate | date: 'dd MMM yyyy HH:mm' }}
            </p>
            <p class="info">
              <span class="details_label">Completed by</span>
              {{updatedBy}}
              <span class="line-break">{{togetherModeUserName}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>