<mat-card id='applications'>
  <mat-card-header>
    <span>
      <mat-form-field id="search_application_form" class="search_by">
        <input id="search_application_input" (keydown.enter)="onFilter(search_application_input.value)" matInput
          placeholder="Search by" #search_application_input>
        <button id="do_search_button" mat-button matSuffix mat-icon-button aria-label="Search"
          (click)="onFilter(search_application_input.value)">
          <mat-icon>search</mat-icon>
        </button>
        <button id="clear_search_button" mat-button *ngIf="search_application_input.value" matSuffix mat-icon-button
          aria-label="Clear" (click)="search_application_input.value=''; onFilter(search_application_input.value);">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </span>
    <span class="spacer"></span>
    <span>
      <button id="edit_view_button" mat-stroked-button color="primary" (click)="onExitClicked()">Exit</button>
    </span>
  </mat-card-header>

  <mat-card-content class="applications_container">

    <mat-table id="application_table" #table [dataSource]="dataSource" matSort matSortActive="dateApplied"
      matSortDirection="asc" class="isMobile">

      <ng-container matColumnDef="applicationStatusDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header id="template_name_button" class="applicationStatusDate width-15">
          Date Applied
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="applicationStatusDate width-15"> <span class="mobile-label">Title:
          </span>{{element.applicationStatusDate | date:'dd MMM yyyy'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell class="width-15" *matHeaderCellDef mat-sort-header id="name_button">Service User
        </mat-header-cell>
        <mat-cell class="width-15" *matCellDef="let element"> <span class="mobile-label">Service User:
          </span>{{element.name  | truncate:[20, '...']}}
        </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="jobStatus">
        <mat-header-cell class="width-15" *matHeaderCellDef id="job_status_column">Job Status
        </mat-header-cell>
        <mat-cell class="width-15" *matCellDef="let element">
          <span *ngIf="element.expired" class="status">Expired</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobTitle">
        <mat-header-cell class="width-20" *matHeaderCellDef id="job_title_button"> Job Title
        </mat-header-cell>
        <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Job Title:
          </span>{{element.jobTitle  | truncate:[20, '...']}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobApplicationStatus.statusDescription">
        <mat-header-cell class="width-20" *matHeaderCellDef mat-sort-header id="status_column">Application Status
        </mat-header-cell>
        <mat-cell class="width-20" *matCellDef="let element">
          <span *ngIf="element.jobApplicationStatus" class="status">
            {{element.jobApplicationStatus.statusDescription | titlecase}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="earliestReleaseDate">
        <mat-header-cell class="width-10" *matHeaderCellDef mat-sort-header id="earliest_release_date_button">Earliest Release Date
        </mat-header-cell>
        <mat-cell class="width-10" *matCellDef="let element"> <span class="mobile-label">Earliest Release Date: </span>{{element.earliestReleaseDate
          | date:'dd MMM yyyy' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">

        <mat-header-cell class="actions-column" *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell class="actions-column" *matCellDef="let element"> <span class="mobile-label"></span>

          <button *auth="[16,2]" id="view_application_button_{{element.id}}" mat-icon-button
           (click)= "viewApplication(element.from, element.id)" color="primary" title="View" 
          >
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator id="pagination" [pageSize]="pageSize" (page)='onPaginateChange($event)' [showFirstLastButtons]='true'
      [hidePageSize]='true'>
    </mat-paginator>

  </mat-card-content>
  </mat-card>
