<section class="entry-panel">
  <div class="left-container">
    <p class="entry-comment-content">{{entryData?.description}}</p>
    <div class="subtitle-container">
      <pre class="entry-subtitle">{{entryData?.formattedSubtitle}}</pre>
      <p class="entry-subtitle">{{entryData?.keyWorkerName | titlecase}}</p>
    </div>
  </div>
  <div class="right-container">
    <div class="entry-actions-container">
      <button 
        mat-icon-button color="accent"
        title="Delete"
        attr.aria-label="Delete"
        (click)="openConfirmDeleteCommentModal()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</section>
