.entry-panel {
  display: flex;
  background-color: rgba(240, 128, 48, 0.35);
  padding: 15px 20px 20px 20px;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.entry-panel:hover {
  outline: 1px solid #fd6f1a;

  .entry-actions-container {
    visibility: visible;
  }
}

.left-container {
  flex-grow: 1;
  margin-right: 15px;

  @media (max-width: 900px) {
    margin-right: 0px;
  }
}

.right-container {
  width: 111px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (max-width: 900px) {
    margin-top: 10px;
  }
}

.subtitle-container {
  margin-top: 10px;
  margin-bottom: 0px;
  display: flex;
}

.entry-subtitle {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
}

.entry-comment-content {
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.entry-actions-container {
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: 900px) {
    justify-content: flex-start;
  }

  button {
    margin-top: 5px;
    margin-bottom: -6px;
  }
}
