.mb20{
  margin-bottom: 20px;
}

.label-hr {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 16px 0;
  flex: 1;
}

.flex-column {
  display: flex;
  flex-direction: column !important;
}
