.break-class {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for WebKit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.view-organisation-header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 24px;

  @media (max-width: 770px) {
    justify-content: flex-start;
    flex-direction: column;
  }
}

dt.details-label {
  font-size: 14px;
  color: #fd6f1a;
  font-weight: 600;
  margin-top: 1em;
}

dd {
  margin-inline-start: 0px;
  margin-bottom: 1em;
}

.view-organisation-action-btns-container {
  width: 140px;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 770px) {
    margin-top: 20px;
  }
}
