<div class="header">
    <div class="tabWrapper">
        <ul>
            <li class="tabHead" [routerLink]="['view-user-profile']" routerLinkActive="active" queryParamsHandling="preserve" [ngClass]="{'active': viewUserProfile}">
                <a class="tab-item" id="profile-tab" attr.aria-label="tab Profile">Profile</a>
            </li>
            <li  class="tabHead" [routerLink]="['new-assessment']" routerLinkActive="active" queryParamsHandling="preserve" (click)="profileTabs('newAssessment')" [ngClass]="{'active': newAssessment}">
                <a class="tab-item" id="care-plan-tab" attr.aria-label="tab Care Plan">Assessment</a>
            </li>
        </ul>
  
    </div>
  </div>
  <router-outlet></router-outlet>