
<div class="secure-space-container">
  <div class="left-container">
    <div class="nps-logo-video">
      <p> <img src="../../../../assets/logo/restricted_1.png" alt="Restricted"/> <span>RESTRICTED</span></p>
      <p>{{formattedCallDuration}}</p>
    </div>
    <div class="facilitator-container">
      <div id="subscriber"></div>
    </div>
    <h2 *ngIf="!hideInviteMessage" class="waiting-message">
      You have invited {{serviceUserFullName.split(' ')[0] | titlecase}}, please wait for them to join or decline.
    </h2>
    <div id="publisher"></div>
  </div>
  <div class="right-container">
    <div class="participants-container">
      <div class="participants-heading-container">
        <h3 class="participants-heading">
          Participants
        </h3>
      </div>
      <div class="participant-container">
        <div class="icon-container">
          <div class="icon-circle facilitator">
            <p class="participant-initials">
              {{facilitatorInitials | uppercase}}
            </p>
          </div>
        </div>
        <div class="name-label-container">
          <p class="participant-name">
            {{facilitatorFullName | titlecase}}
          </p>
          <p class="participant-label">
            {{facilitatorRole}}
          </p>
        </div>
      </div>
      <div class="participant-container">
        <div class="icon-container">
          <div class="icon-circle service-user">
            <p class="participant-initials">
              {{serviceUserInitials | uppercase}}
            </p>
          </div>
        </div>
        <div class="name-label-container">
          <p class="participant-name">
            {{serviceUserFullName | titlecase}}
          </p>
          <p class="participant-label">
            Service User
          </p>
        </div>
      </div>
    </div>
    <div class="action-buttons-container">
      <ng-container *ngIf="!isRecording">
        <button
          *auth="[21, 7]"
          [disabled]="publishers.length <= 1" 
          class="record button"
          (click)="startRecording()"
        >
          <div class="record-icon mr5"></div>
          Record
        </button>
      </ng-container>
      <ng-container *ngIf="isRecording">
        <div 
          class="recording"
        >
          <div class="record-icon recording-icon mr5"></div>
          Recording
      </div>
      </ng-container>
      <button class="leave button" (click)="endSession()">
        <mat-icon class="mr5">call_end</mat-icon>
        Leave
      </button>
    </div>
  </div>
</div>
