
.secure-space-container {
  display: flex;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
}

.left-container {
  background-color: #35393C;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  width: 100%;
  position: relative;

  .nps-logo-video {
    position: absolute;
    top: 0;
    padding: 10px;
    z-index: 2;
    
    img {
      width: 40%;
    }

    p {
      font-size: 19px;
      color: #fff;
      margin: 0;
      position: relative;
      padding-left: 30px;

      img {
        width: 25px;
        position: absolute;
        left: 0;
        top: 0px;
      }
    }
  }
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 250px;
  flex-grow: 1;
}

.waiting-message {
  position: absolute;
  color: white;
  z-index: 0;
  top: 0;
  padding-left: 50px;
  margin-top: 150px;
  font-weight: 500;
}

.participants-container {
  display: flex;
  flex-direction: column;
}

.participants-heading-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .participants-heading {
    margin-left: 15px;
  }
}

.participant-container {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-top: 15px;
  padding-bottom: 15px;

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;

    .icon-circle {
      border-radius: 50%;
      height: 45px;
      width: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;

      .participant-initials {
        margin-block-start: 0em;
        margin-block-end: 0em;
        font-weight: 500;
      }
    }

    .facilitator {
      background-color: #7A3D93;
    }

    .service-user {
      background-color: #6FA8DC;
    }
  }

  .name-label-container {

    .participant-name {
      margin-block-start: 0em;
      margin-block-end: 0em;
      font-size: 16px;
      overflow-wrap: break-word;
      margin-right: 10px;
    }

    .participant-label {
      margin-block-start: 0em;
      margin-block-end: 0em;
      color: #505A5F;
      font-size: 14px;
    }
  }
}

.action-buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 150px;

  .button {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    text-decoration: none;
    vertical-align: center;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    height: 38px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter .25s ease;
  }

  .button:hover {
    -webkit-filter: brightness(97%);
  }

  .record {
    margin-bottom: 10px;
    border: 1px solid #fd6f1a;
    background-color: white;
    color: #fd6f1a;

    .record-icon {
      background-color: #D4351C;
      border-radius: 50%;
      height: 8px;
      width: 8px;
    }
  }

  button.record:disabled {
    cursor: not-allowed;
    border: 1px solid	#b1b4b6;
    color: #b1b4b6;

    .record-icon {
      background-color:	#b1b4b6;
    }
  }

  .recording {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    height: 38px;
    background-color: white;
    color: #fd6f1a;
    display: flex;
    align-items: center;
    justify-content: center;

    .record-icon {
      background-color: #D4351C;
      border-radius: 50%;
      height: 8px;
      width: 8px;
    }

    .recording-icon {
      animation: pulse 1s infinite;
    }
    @keyframes pulse {
      0% {
        box-shadow: 0px 0px 4px 1px #d4351c;
      }
      100% {
        box-shadow: 0px 0px 4px 3px #d4351c;
      }
    }
  }

  .leave {
    margin-bottom: 10px;
    border: 1px solid #D4351C;
    background-color: #D4351C;
    color: white;
  }
}

.mr5 {
  margin-right: 10px;
}
