<mat-card>
  <mat-card-header>
    <mat-card-title>Change Password</mat-card-title>
  </mat-card-header>
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <mat-card-content>
      <div class="card-row">
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Existing Password</mat-label>
            <input matInput maxlength="30" type="password" name="existingPassword"  formControlName="existingPassword"  required id="existingPassword"
               autocomplete="off">
            <mat-error *ngIf="changePasswordForm.controls.existingPassword.invalid"  class="form-error-msg">Existing Password is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="card-row">
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput maxlength="30" type="password" name="newPassword"  formControlName="newPassword"  required id="newPassword"  autocomplete="off">
            <mat-error *ngIf="changePasswordForm.controls.newPassword.errors?.required"  class="form-error-msg">New Password is required</mat-error>
            <mat-error 
              *ngIf="changePasswordForm.controls.newPassword.errors?.minlength || 
                changePasswordForm.controls.newPassword.errors?.maxlength || 
                changePasswordForm.controls.newPassword.errors?.pattern"
              class="form-error-msg">Password does not meet the policy
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="card-row">
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput maxlength="30" type="password" name="confirmPassword"  formControlName="confirmPassword"  required id="confirmPassword"
                autocomplete="off" [errorStateMatcher] = "errorMatcher">
              <mat-error *ngIf="changePasswordForm.controls.confirmPassword.invalid" class="form-error-msg">Confirm Password is required</mat-error>
              <mat-error 
                *ngIf="changePasswordForm.errors?.passwordsDoNotMatch && !changePasswordForm.controls.confirmPassword.invalid" 
                [ngClass]="{
                  'form-error-msg': changePasswordForm.errors?.passwordsDoNotMatch, 
                  'passwordsMatchErr': changePasswordForm.controls.confirmPassword.invalid
                }"
              >Passwords do not match</mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </form>
  <button mat-raised-button (click)="changePassword()" color="primary" [disabled]="changePasswordForm.invalid">Submit</button>
</mat-card>