<mat-card id='edit_local_jobs'>

  <mat-card-header>
    <span *ngIf="localJobForm.controls.jobTitle.value" id="job_title">
      {{localJobForm.controls.jobTitle.value}}
    </span>
    <span class="spacer"></span>
    <span>
      <button id="exit_user_button" mat-stroked-button color="primary" (click)="onExitClicked()">Exit</button>
    </span>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="localJobForm" (ngSubmit)="onSubmit()" validate autocomplete="off">

      <div class="card-row">
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Job Title</mat-label>
            <input matInput formControlName="jobTitle" id="job_title" required>
            <mat-error *ngIf="localJobForm.get('jobTitle').hasError('maxlength')"> Value should be less than 100
              characters
            </mat-error>
            <mat-error *ngIf="localJobForm.get('jobTitle').hasError('required')"> Job title is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <input matInput formControlName="location" id="location" [matAutocomplete]="auto" required />
            <mat-error *ngIf="localJobForm.get('location').hasError('maxlength')">
              Value should be less than 50 characters
            </mat-error>
            <mat-error *ngIf="localJobForm.get('location').hasError('required')"> Location is required
            </mat-error>
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let loc of filteredLocations | async" [value]="loc">
              <div>{{loc.description}}</div>
            </mat-option>
          </mat-autocomplete>

        </div>
      </div>
      <div class="card-row">
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Company</mat-label>
            <input matInput formControlName="company" id="company" required>
            <mat-error *ngIf="localJobForm.get('company').hasError('maxlength')"> Value should be less than 50
              characters
            </mat-error>
            <mat-error *ngIf="localJobForm.get('company').hasError('required')"> Company is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="card-column">
          <mat-form-field appearance="outline">
            <mat-label>Pay</mat-label>
            <input matInput formControlName="pay" id="pay" required>
            <mat-error *ngIf="localJobForm.get('pay').hasError('maxlength')"> Value should be less than 50
              characters
            </mat-error>
            <mat-error *ngIf="localJobForm.get('pay').hasError('required')"> Pay is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      
      <div class="card-row">
        <div class="card-column textarea-container">
          <mat-form-field appearance="outline">
            <mat-label>Job Description</mat-label>
            <textarea matInput id="job_description_id" cols="20" rows="5" minlength="1" maxlength="1000" formControlName="jobDescription"
              required></textarea>

              <mat-hint *ngIf="localJobForm.get('jobDescription').value != null && localJobForm.get('jobDescription').value.length !=(1000-1) && (1000) >= 
                localJobForm.get('jobDescription').value.length && localJobForm.get('jobDescription').value.length != 0"> {{1000 - localJobForm.get('jobDescription').value.length}} characters left</mat-hint>
                
                <mat-hint *ngIf="localJobForm.get('jobDescription').value != null && localJobForm.get('jobDescription').value.length == (1000-1)">
                  1 character left
                </mat-hint>
                
                <mat-hint *ngIf="localJobForm.get('jobDescription').value == null">
                  Minimum 1 and maximum 1000 characters allowed
                </mat-hint>

            <mat-error *ngIf="localJobForm.get('jobDescription').hasError('maxlength')"> Value should be less than 1000
              characters
            </mat-error>
            <mat-error *ngIf="localJobForm.get('jobDescription').hasError('required')"> Mandatory Field
            </mat-error>

          </mat-form-field>
        </div>
      </div>
      <div class="card-row">
        <div class="card-column">

          <mat-form-field appearance="outline">
            <mat-label>Posting Date</mat-label>
            <input matInput [matDatepicker]="postingDate" [min]="minStartDate" formControlName="postingDate"
              placeholder="Posting date" id="postingDate" required>
            <mat-datepicker-toggle matSuffix [for]="postingDate"></mat-datepicker-toggle>
            <mat-datepicker #postingDate></mat-datepicker>
            <mat-error *ngIf="localJobForm.get('postingDate').hasError('matDatepickerMin')">
              Date can not be in past </mat-error>

            <mat-error *ngIf="!localJobForm.get('postingDate').hasError('matDatepickerParse')
                                && !localJobForm.get('postingDate').hasError('matDatepickerMin')
                                && localJobForm.get('postingDate').hasError('required')">
              Posting date is required</mat-error>
          </mat-form-field>
        </div>
        <div class="card-column">

          <mat-form-field appearance="outline">
            <mat-label>Closing Date</mat-label>
            <input matInput [matDatepicker]="closingDate" [min]="minEndDate" formControlName="closingDate"
              placeholder="Closing date" id="closingDate" required>
            <mat-datepicker-toggle matSuffix [for]="closingDate"></mat-datepicker-toggle>
            <mat-datepicker #closingDate></mat-datepicker>
            <mat-error *ngIf="localJobForm.get('closingDate').hasError('matDatepickerMin') &&
            !isAfterPosting">Date should be in the future</mat-error>
            <mat-error *ngIf="localJobForm.get('closingDate').hasError('matDatepickerMin') && isAfterPosting">Date should
              be greater than posting date</mat-error>
            <mat-error *ngIf="!localJobForm.get('closingDate').hasError('matDatepickerParse')
                                && !localJobForm.get('closingDate').hasError('matDatepickerMin')
                                && localJobForm.get('closingDate').hasError('required')">
              Closing date is required</mat-error>
          </mat-form-field>
        </div>
        <div class="card-row">
          <div class="padding-bottom">
            <mat-label appearance="outline">Is this job featured?</mat-label>
            <mat-checkbox class="featured-checkbox" formControlName="isFeatured"></mat-checkbox>
          </div>
        </div>
      </div>
      
      <div class="card-row">
        <div class="padding-bottom">
          <mat-label appearance="outline">Add logo *</mat-label>
          <div class="uploadImg">
            <span>
              <button type="button" id="browse_button" (click)="file.click()" mat-stroked-button color="primary" >
                <label for="">Browse</label>
              </button>
              <input type="file" id="image_uploads" (change)="selectFile($event)" value="" formControlName="file" #file required>
              <mat-error *ngIf="localJobForm.get('file').hasError('maxlength')"> File name too large. Maximum file name length is 100 characters. Please rename and upload again
              </mat-error>
             <mat-error *ngIf="localJobForm.get('file').hasError('required')"> 
             </mat-error>
            </span>
            <span class="preview">
              <p>{{localJobForm.get('imgName').value}}</p>
            </span>
          </div>
          <p class="custom-hint">Click Browse to upload an image</p>
        </div>
      </div>


      <mat-card-footer>
        <span class="spacer"></span>
        <span>
          <button type="submit" id="save_user_button" mat-flat-button color="primary"
            [disabled]="!localJobForm.valid || disableSaveButton">Save</button>
        </span>
      </mat-card-footer>

    </form>
  </mat-card-content>
</mat-card>