.card-column.textarea-container{
    width: 100%!important;
}
.padding-bottom{
    padding-bottom: 1.34375em;
}

.featured-checkbox{
    margin-left: 10px;
}

#image_uploads {
  display: none;
  span {
    display: inline-block;
    margin-right: 1rem;
  }
}

p {
  margin: 4px 0 7px 0 !important;
}
.uploadImg {
  display: inline;
  margin: 0 15px;
}
.preview {
  display: inline-block;
  margin: 0 0 0 10px;
}
.example-chip-list {
  width: 100%;
}
.profileImage {
  margin: 12px 0 0 0;
  width: 120px;
  display: block;
}
.custom-hint {
  margin: 0;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);;
  margin-top: 0.54166667em;
}
