<mat-card id="user">
    
    <mat-card-header>
        <span>
            <mat-form-field id="search_users_form" class="search_by">
                <input 
                    id="search_user_input"
                    matInput
                    placeholder="Search by staff" 
                    #search_user_input aria-label="Search for a staff"
                    (keydown.enter)="onFilter(search_user_input.value)"
                >
                <button id="on_search_button" mat-button matSuffix mat-icon-button aria-label="Search" (click)="onFilter(search_user_input.value)">
                    <mat-icon>search</mat-icon>
                </button>
                <button id="clear_search_button" *ngIf="search_user_input.value !==''" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onFilter(''); search_user_input.value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </span>
        <span class="spacer"></span>
        <span *auth="[5,1]">
            <button id="add_user_button" mat-stroked-button class="right" color="primary" [routerLink]="['./new-user']" *ngIf="loggedInUserRole !== 3">Add Staff</button>
        </span>
    </mat-card-header>

    <mat-card-content class="users_container">
        <mat-table id="user_table" #table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="fullName">
                <mat-header-cell *matHeaderCellDef id="fullName_button" mat-sort-header>
                    Name
                </mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Name: </span>
                    {{ element.fullName }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="userName">
                <mat-header-cell *matHeaderCellDef id="userName_button" mat-sort-header> 
                    Username
                </mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Username: </span>
                    {{element.userName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="accountType">
                <mat-header-cell *matHeaderCellDef id="accountType_button" mat-sort-header>
                    Account Type
                </mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Account Type: </span>
                    {{element.accountType}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="accountState">
                <mat-header-cell *matHeaderCellDef id="accountState_button" mat-sort-header>
                    Account Status
                </mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="mobile-label">Account Status: </span>
                    <span class="status">{{element.accountState === true ? 'Active' : 'Deactivated'}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef >Action</mat-header-cell>
                <mat-cell *matCellDef="let element">
                <span *auth="[5,2]">
                    <button 
                        id="view_user_button_{{element.id}}" 
                        mat-icon-button 
                        color="primary" 
                        title="View" 
                        attr.aria-label="View"
                        [routerLink]="['./view-user' + '/' + element.id]"
                        matTooltip="View"
                        [matTooltipShowDelay]="800"
                    >
                        <mat-icon>visibility</mat-icon>
                    </button>
                </span>
                <span *auth="[5,3]">
                    <button 
                        id="edit_user_button_{{element.id}}" 
                        mat-icon-button 
                        color="primary" 
                        title="Edit" 
                        attr.aria-label="Edit"
                        [routerLink]="['./edit-user' + '/' + element.id]"
                        *ngIf="loggedInUserRole !== 3"
                    >
                        <mat-icon>create</mat-icon>
                    </button>
                </span>
                <span *auth="[5,4]">
                    <button 
                        id="delete_user_button" 
                        mat-icon-button 
                        attr.aria-label="Delete" 
                        *ngIf="loggedInUserRole !== 3"
                        matTooltip="Delete"
                        (click)="onDeleteClicked(element.id)"
                        [matTooltipShowDelay]="800"
                        [disabled] = "isDeleteDisabled(element.id)"
                        color="accent" 
                    >
                        <mat-icon >delete</mat-icon>
                    </button>
                </span>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

        <mat-paginator
            id="user_pagination" 
            [pageSize]="pageSize" 
            [showFirstLastButtons]='true' 
            [hidePageSize]="true"
        >
        </mat-paginator>
    </mat-card-content>
</mat-card>
