<mat-card id='prison-jobs'>
  <mat-card-header>
    <span>
      <mat-form-field id="search_prison_job_form" class="search_by">
        <input id="search_job_input" (keydown.enter)="onFilter(search_job_input.value)" matInput placeholder="Search by"
          #search_job_input>
        <button id="do_search_button" mat-button matSuffix mat-icon-button aria-label="Search"
          (click)="onFilter(search_job_input.value)">
          <mat-icon>search</mat-icon>
        </button>
        <button id="clear_search_button" mat-button *ngIf="search_job_input.value" matSuffix mat-icon-button
          aria-label="Clear" (click)="search_job_input.value=''; onFilter(search_job_input.value);">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </span>
    <span class="spacer"></span>
    <span>
      <button id="edit_view_button" mat-stroked-button color="primary" (click)="addPrisonJobs()">Add</button>
    </span>
  </mat-card-header>

  <mat-card-content class="prison-jobs_container">

    <mat-table id="prison_job_table" #table [dataSource]="dataSource" matSort matSortActive="jobTitle"
      matSortDirection="asc" class="isMobile">

      <ng-container matColumnDef="jobTitle">
        <mat-header-cell class="width-30" *matHeaderCellDef mat-sort-header id="job_title_button"> Job Title
        </mat-header-cell>
        <mat-cell class="width-30" *matCellDef="let element"> <span class="mobile-label">Job Title:
          </span>{{element.jobTitle}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="location">
        <mat-header-cell class="width-20" *matHeaderCellDef mat-sort-header id="name_button">Location
        </mat-header-cell>
        <mat-cell class="width-20" *matCellDef="let element"> <span class="mobile-label">Location:
          </span>{{element.location}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell class="width-15" *matHeaderCellDef id="job_status_column">Job Status
        </mat-header-cell>
        <mat-cell class="width-15" *matCellDef="let element">
          <span *ngIf="element.status" class="status">Active</span>
          <span *ngIf="!element.status" class="status">Inactive</span>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="postingDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header id="template_name_button" class="prison-jobs width-15">
          Posting Date
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="prison-jobs-postingDate width-15"> <span
            class="mobile-label">Uploaded Date:
          </span>{{element.postingDate | date:'dd MMM yyyy'}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">

        <mat-header-cell class="actions-column" *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell class="actions-column" *matCellDef="let element"> <span class="mobile-label"></span>

          <button *auth="[18,2]" id="view_prison_job_button_{{element.id}}" mat-icon-button color="primary"
            title="View"  (click)="viewPrisonJob(element.id)">
            <mat-icon>visibility</mat-icon>
          </button>

          <button *auth="[18,3]" id="edit_prison_job_button_{{element.id}}" mat-icon-button color="primary" title="Edit"
            (click)="editPrisonJob(element.id)">
            <mat-icon>create</mat-icon>
          </button>
          
          <button *auth="[18,4]" id="delete_contents_button_{{element.id}}" mat-icon-button (click)="onDeleteClicked(element.id)" title="Delete"
            attr.aria-label="Delete {{element.id}}">
            <mat-icon color="accent">delete</mat-icon>
          </button>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator id="pagination" [pageSize]="pageSize" (page)='onPaginateChange($event)' [showFirstLastButtons]='true'
      [hidePageSize]='true'>
    </mat-paginator>

  </mat-card-content>
</mat-card>