<mat-card id='edit_content'>
  <mat-card-header>
    <span class="spacer">
      <app-stepper-navigation></app-stepper-navigation>
    </span>
    <span>
      <button id="exit_user_button" mat-stroked-button color="primary"
        [routerLink]="['/content-management']">Exit</button>
    </span>
  </mat-card-header>
  <mat-card-content>
    <div class="info-text">
      <p class="mt0">Choose an image which best represents the content you are uploading. This will be the image used to
        represent the content in the Content Library for the Service User.</p>
    </div>
    <div class="label-hr">
      <span>Images</span>
    </div>
    <div>
      <mat-card-header>
        <span>
          <mat-form-field id="search_image_form" class="search_by">
            <input id="search_image_input" (keydown.enter)="onFilter(search_image_input.value)" matInput
              placeholder="Search by" #search_image_input aria-label="Search a image">
            <button id="do_search_button" mat-button matSuffix mat-icon-button aria-label="Search"
              (click)="onFilter(search_image_input.value)">
              <mat-icon>search</mat-icon>
            </button>
            <button id="clear_search_button" *ngIf="search_image_input.value" mat-button matSuffix mat-icon-button
              aria-label="Clear" (click)="onFilter(''); search_image_input.value=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </span>
      </mat-card-header>
    </div>
    <div class="card-row">
      <div *ngFor="let item of contentImageList" class="image-list">
        <mat-card (click)="selectImage(item)" [ngClass]="item.id === activeElement ? 'active' : 'none'">
          <img [src]="getImagePath(item.imageName)" alt="{{item.imageName}}">
          <mat-card-content>
            <p title="{{item.keywords}}">{{item.keywords}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <p class="text-center warning-style" *ngIf="contentImageList && contentImageList?.length === 0">No results found.
    </p>
    <mat-paginator id="image_pagination" [pageSize]="pageSize" [showFirstLastButtons]='true' [hidePageSize]="true">
    </mat-paginator>
    
  </mat-card-content>
  <mat-card-footer>
    <span class="spacer"></span>
    <span>
      <button type="button" id="save_user_button" mat-flat-button color="primary" [disabled]="!contentImageCtrl.valid"
        (click)="saveImage()">Save & Next</button>
    </span>
  </mat-card-footer>
</mat-card>
