<mat-card>
<div *ngIf="learner?.uln">
        <mat-card-header>
        <span>{{learner.firstName}}'s Plan </span>
        </mat-card-header>    
        <mat-card-content>
        <div *ngIf="lddSize > 0">
          <div class="card-row">
            <div class="label-hr" *ngIf="lddSize > 0">
                <span>
                  <a>LLDD and Health Problem</a>
                </span>
              </div>
          </div>
          <div class="card-row">
            <div class="card-column">
              <p class="info" *ngIf="lddSize > 0">
                <span class="details_label">Primary LLDD and Health Problem</span>
                <span *ngFor="let lld of learner.lldAndHealthProblemList">
                  <span *ngIf="lld.isPrimary">
                    <p class="card-row" *ngIf="lld.llldAndHealthProblem!='Not provided'">
                        <mat-icon class="alert card-column-25">error</mat-icon>
                      <span class="lldname">{{lld.llldAndHealthProblem || "N/A"}}</span>
                    </p>
                    <p *ngIf="lld.llldAndHealthProblem == 'Not provided'">
                      {{lld.llldAndHealthProblem || "N/A"}}
                    </p>
                  </span>
                </span>
              </p>
            </div>
            <div class="card-column">
              <p class="info" *ngIf="lddSize > 0">
                <span class="details_label">Additional LLDD and Health Problem</span>
                <span *ngFor="let lld of learner.lldAndHealthProblemList">
                  <span *ngIf="!lld.isPrimary">
                    <p class="card-row" *ngIf="lld.llldAndHealthProblem!='Not provided'">
                        <mat-icon class="alert card-column-25">error</mat-icon>
                      <span class="lldname">{{lld.llldAndHealthProblem || "N/A"}}</span>
                    </p>
                    <p *ngIf="lld.llldAndHealthProblem=='Not provided'">
                      {{lld.llldAndHealthProblem || "N/A"}}
                    </p>
                  </span>
                </span>
              </p>
            </div>
          </div>
        </div>
          <div class="label-hr" *ngIf="courseSize > 0">
              <span>
                <a>Courses</a>
              </span>
            </div>
        <div class="card-row">
            <div class="card-column">
                <p class="info">
                    <span class="details_label">Maths Initial Assessment</span>
                    {{learner.mathInitialAssessment || 'N/A'}}
                </p>
                    
                <p class="info">
                    <span class="details_label">Date of Maths Assessment</span>
                    {{(learner.mathsAssessmentDate | date:'dd MMMM yyyy') || "N/A"}}
                </p>
                <p class="info">
                    <span class="details_label">English Initial Assessment</span>
                    {{learner.englishInitialAssessment || 'N/A'}}
                </p>
                <p class="info">
                    <span class="details_label">Date of English Assessment</span>
                    {{(learner.englishAssessmentDate | date:'dd MMMM yyyy') || "N/A"}}
                </p>
                <p class="info">
                    <span class="details_label">ESOL</span>
                    {{learner.esol || 'No'}}
                </p>

                </div>
        <div class="card-column">
            <p class="info" *ngFor="let glh of learner.glhDtoList">
                <span class="details_label">Attended Learning Hours @{{glh.establishmentName}} </span>
                {{glh.attentedGLH}}
            </p>
            <p class="info">
                <span class="details_label">Total Attended Learning Hours </span>
                {{learner.totalAttentedGLH}}
          </p>
        </div>
    </div>
</mat-card-content>

</div>
</mat-card>