@import "~src/styles/helpers/variables/palette";
@import "~src/styles/helpers/mixins/devices";
.profileWrapper {
  padding: 10px 20px 10px 20px;
  border: 1px solid #ccc;
  border-top: 0;
  margin-right: 15px 
}
.column-half .grid-row {
  padding: 5px 0;
  word-break: break-word;
}
.label-hr {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 16px 0;
  flex: 1;
}
.spacer {
  flex: 1 1 auto;
}
.grid-row.withFlex {
  display: flex;
  padding: 0 0 10px 0;
}
.warning{
  position: absolute;
}
.learnerInfo  p {
  position: relative;
}
.heading-medium,
.heading-small {
  color: $black;
}
.lldname.column-two-thirds {
  width: 85%;
  margin: 4px 5px 5px 0;
}
.alert {
  margin: 0 10px 15px 0;
}
.column-one-third, 
.column-two-thirds {
  float: left;
}
.healthInfo {
  overflow: auto;
  width: 100%;
  display: block;
}
.noHealthInfo .alert {
  visibility: hidden;
}
@include media(mobile) {
  .column-one-third, 
  .column-two-thirds {
    float: left;
  }
}
.mb0{
  margin-bottom: 0px!important;
}
.alert{
  color: orange;
  position: absolute;
}
.info span.lldname {
  margin-left: 30px;
}