.entry-panel {
  background-color: #EEEFEF;
  display: flex;
  padding: 15px 20px 20px 20px;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.entry-panel-conditional:hover {
  outline: 1px solid #fd6f1a;

  .entry-actions-container {
    visibility: visible;
  }
}
.left-container {
  width: 80%;
  @media (max-width: 900px) {
    margin-right: 0px;
  }
}

.right-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 900px) {
    margin-top: 10px;
    width: 100%;
  }
}


.entry-title {
  margin-top: 0px;
  margin-bottom: 0px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.entry-date-container {
  display: flex;

  @media (max-width: 650px) {
    flex-direction: column;

    pre.entry-subtitle {
      margin-top: 0px;
      margin-bottom: -5px;
    }
  }
}

.entry-subtitle {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 16px;
}

.entry-pathway-container {
  display: flex;
  margin-top: 15px;
}

.entry-actions-container {
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: 900px) {
    justify-content: flex-start;
  }

  button {
    margin-top: 5px;
    margin-bottom: -6px;
  }
}

.entry-pathway-label {
  color: white;
  padding: 5px 8px 5px 8px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.025em;
}

.entry-tag {
  width: 100px;
  padding: 2px 3px 2px 3px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.status-completed {
  border: 3px solid #1D70B8;
  background-color: #1D70B8;
  color: white;
}

.status-withdrawn {
  border: 3px solid #383f43;
  background-color: #383f43;
  color: #eeefef;
}

.withdrawl-entry-tag {
  width: auto;
  display: inline-block;
  padding: 2px 3px 2px 3px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  @media all and (max-width: 900px) {
    text-align: left;
  }
}
.status-withdrawl-reason {
  border: 3px solid #fcd6c3;
  background-color: #fcd6c3;
  color: #6e3619;
  margin: 5px 0 0 0;
  text-align: center;
  min-width: 100px;
}
.withdraw-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  @media all and (max-width: 900px) {
    align-items: flex-start;
  }
}

.outcome-achieved {
  border: 3px solid #CCE2D8;
  background-color: #CCE2D8;
  color: #005a30;
  margin-top: 10px;
}

.outcome-not-achieved {
  border: 3px solid #f6d7d2;
  background-color: #f6d7d2;
  color: #942514;
  margin-top: 10px;
}
.intervention-contact-info {
  padding: 5px 0 5px 0;
  p {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
  }
  .intervention-label {
    font-weight: bold;
  }
  .intervention-value {
    width: 75%;
  }
  .emailDelimiter {
    border-right: 3px solid #BFC1C3;
    margin: 0 10px;
  }
}
.intervention-description {
  padding: 5px 0 5px 0;
  .intervention-label {
    font-weight: bold;
  }
  p {
    margin: 5px 0 0 0;
    width: 85%;
  }
}
@media all and (max-width: 767px) {
  .intervention-contact-info {
    p {
      display: block;
    }
    .intervention-label,
    .intervention-value {
      display: block;
      width: 100%;
      .fullWidthInMob {
        display: block;
        width: 100%;
        word-break: break-all;
      }
    }
    .emailDelimiter {
      display: none;
    }
  }
}
