.page-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 0 35px 0;
}

.page-title {
    font-size: 1.8em;
    font-weight: 100;
    margin: 0;
    line-height: 1;
    color: rgba(0, 0, 0, 0.87);
    word-wrap: break-word;
    width: 100%;
}

.status {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    background-color:#fd6f1a;
    font-size: 12px;
    color: white;
    border-radius: 4px;

}

.mat-column-dateExpressed {
    flex: 0 0 20% !important;
    width: 20% !important;
}

.mat-column-learner {
    flex: 0 0 30% !important;
    width: 30% !important;
}