<app-sidebar class="side-bar" id="sidebar"></app-sidebar>
<main id="main-container" class="main-container seq-theme" role="main">
    <div class="sticky-wrap">
        <ng-http-loader backgroundColor="#2B769B" spinner="sk-double-bounce"
        [filteredUrlPatterns]="['/sequation-user-api/checkHeartbeat', '/sequation-user-api/refreshToken']">
        </ng-http-loader>
            <app-topnav id="navbar"></app-topnav>
            <app-in-page-nav id="in-page-navbar"></app-in-page-nav>
            <app-breadcrumb></app-breadcrumb>
            <router-outlet></router-outlet>
    </div>
</main>