<mat-card id='assessments'>

  <mat-card-header>
    <span>
      <mat-form-field id="search_assessment_form" class="search_by">
        <input id="search_assessment_input" (keydown.enter)="onFilter(search_assessment_input.value)" matInput
          placeholder="Search by" #search_assessment_input>
        <button id="do_search_button" mat-button matSuffix mat-icon-button aria-label="Search"
          (click)="onFilter(search_assessment_input.value)">
          <mat-icon>search</mat-icon>
        </button>
        <button id="clear_search_button" mat-button *ngIf="search_assessment_input.value" matSuffix mat-icon-button
          aria-label="Clear" (click)="search_assessment_input.value=''; onFilter(search_assessment_input.value);">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </span>
    <span class="spacer"></span>
    <span *auth="[6,1]">
      <button id="create_template_button" mat-stroked-button class="right" color="primary"
        [routerLink]="['./new-assessment']">Add</button>
    </span>
  </mat-card-header>

  <mat-card-content class="assessments_container">

    <mat-table id="assessment_table" #table [dataSource]="dataSource" matSort matSortActive="assessmentName"
      matSortDirection="asc" class="isMobile">

      <ng-container matColumnDef="assessmentName">
        <mat-header-cell *matHeaderCellDef mat-sort-header id="template_name_button" class="assessmentName width-40">
          Template Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="assessmentName width-40"> <span class="mobile-label">Title:
          </span>{{element.assessmentName}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <mat-header-cell class="width-15" *matHeaderCellDef mat-sort-header id="created_by_button"> Created By
        </mat-header-cell>
        <mat-cell class="width-15" *matCellDef="let element"> <span class="mobile-label">Created By:
          </span>{{element.createdBy}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <mat-header-cell class="width-15" *matHeaderCellDef mat-sort-header id="date_created_button"> Date Created
        </mat-header-cell>
        <mat-cell class="width-15" *matCellDef="let element"> <span class="mobile-label">Date created: </span>{{element.createdDate
          | date:'dd MMM yyyy' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef class="width-10" id="status_column">Status</mat-header-cell>
        <mat-cell class="width-10" *matCellDef="let element"><span class="mobile-label">Status: </span>
          <mat-icon *ngIf="element.isActive && !element.isPublished" color="primary" matTooltip="Active" [matTooltipShowDelay]="100">check</mat-icon>
          <mat-icon *ngIf="!element.isActive && !element.isPublished" color="accent" matTooltip="Inactive" [matTooltipShowDelay]="100">close</mat-icon>
          <mat-icon *ngIf="element.isPublished" color="primary" matTooltip="Assigned" [matTooltipShowDelay]="100">publish</mat-icon>
        
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">

        <mat-header-cell class="actions-column" *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell class="actions-column" *matCellDef="let element"> <span class="mobile-label"></span>

          <button *auth="[6,2]" id="view_assessment_button_{{element.assessmentTemplateId}}" mat-icon-button
            color="primary" [routerLink]="['./view-assessment/' + element.assessmentTemplateId]" matTooltip="View"
            [matTooltipShowDelay]="800">
            <mat-icon>visibility</mat-icon>
          </button>

          <button mat-icon-button [matMenuTriggerFor]="menu" id="more_action_{{element.assessmentTemplateId}}"
            matTooltip="More Actions" [matTooltipShowDelay]="800" class="desktop">
            <mat-icon color="primary">menu</mat-icon>
          </button>

          <mat-menu #menu="matMenu" class="desktop">
            <button *auth="[6,3]" mat-menu-item id="edit_assessment_button_{{element.assessmentTemplateId}}"
              (click)="onEditClicked(element.assessmentTemplateId)">
              <mat-icon color="primary">create</mat-icon>
              <span>Edit Assessment</span>
            </button>

            <button *auth="[6,6]" mat-menu-item id="publish_assessment_button_{{element.assessmentTemplateId}}"
              color="primary" [routerLink]="['./publish-assessment']"
              [queryParams]="{ assessmentTemplateId: element.assessmentTemplateId, assessmentName: element.assessmentName }"
              queryParamsHandling="merge" [disabled]="!element.isActive || this.configuredAssessmentNames?.includes(element.assessmentName)">
              <mat-icon color="primary" >publish</mat-icon>
              <span>Assign Assessment</span>
            </button>

            <div *auth="[6,14]">
              <button *ngIf="!element.isActive" mat-menu-item
                id="archive_assessment_button_{{element.assessmentTemplateId}}"
                (click)="onActiveClicked(element.assessmentTemplateId, element.isActive)">
                <mat-icon color="accent">toggle_off</mat-icon>
                <span>Activate Assessment</span>
              </button>

              <button *ngIf="element.isActive" mat-menu-item
                id="archive_assessment_button_{{element.assessmentTemplateId}}"
                (click)="onActiveClicked(element.assessmentTemplateId, element.isActive)">
                <mat-icon color="primary">toggle_on</mat-icon>
                <span>Deactivate Assessment</span>
              </button>
            </div>

          </mat-menu>


          <button *auth="[6,1]" mat-icon-button id="edit_assessment_button_mobile_{{element.assessmentTemplateId}}"
            (click)="onEditClicked(element.assessmentTemplateId)" class="mobile">
            <mat-icon color="primary">create</mat-icon>
          </button>

          <button *auth="[6,6]"   mat-icon-button id="publish_assessment_button_mobile_{{element.assessmentTemplateId}}"
            color="primary" [routerLink]="['./publish-assessment']"
            [queryParams]="{ assessmentTemplateId: element.assessmentTemplateId, assessmentName: element.assessmentName }"
            queryParamsHandling="merge" [disabled]='!element.isActive' class="mobile">
            <mat-icon>publish</mat-icon>
          </button>

          <div *auth="[6,14]">
            <button *ngIf="!element.isActive" mat-icon-button
              id="archive_assessment_button_mobile_{{element.assessmentTemplateId}}"
              (click)="onActiveClicked(element.assessmentTemplateId, element.isActive)" class="mobile">
              <mat-icon color="accent">toggle_off</mat-icon>
            </button>
            <button *ngIf="element.isActive" mat-icon-button
              id="archive_assessment_button_mobile_{{element.assessmentTemplateId}}"
              (click)="onActiveClicked(element.assessmentTemplateId, element.isActive)" class="mobile">
              <mat-icon color="primary">toggle_on</mat-icon>
            </button>
          </div>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator id="pagination" [pageSize]="pageSize" (page)='onPaginateChange($event)' [showFirstLastButtons]='true'
      [hidePageSize]='true'>
    </mat-paginator>

  </mat-card-content>

</mat-card>